/*style by lwid 2009-9-1*/
html{overflow-y:scroll;}
body{color:#333; font-family:Verdana;}
a{color:#3366cc; text-decoration:none;}
a:hover,.unline{ text-decoration:underline;}
a:active{color:#726da6;}

/*form*/
textarea,input,select{font:12px Arial;padding:2px 3px 0;vertical-align:middle;}
select{border:solid 1px #d5e6ed;}
.input,textarea{border:1px solid #c8c8c8;}
.input{line-height:1;padding:4px 2px 2px;}

#user-wrap{width:960px;margin:0 auto;}
#user-sidebar{width:180px;}
#user-content{width:779px;_width:778px;padding:5px 1px 0 0;}
#u-cont-sidebar{width:290px;}
#u-cont-m{width:460px;}
#u-cont-m h1{line-height:1;color:#3366cc;}

/*bg*/
#user-nav,.o_nav .current a,.o_top_menu h4 a{background:url(bg.png) 999em 999em;}
/*topbar*/
#user-nav{background-color:#2080c1;height:40px;overflow:hidden;background-position:0 top;width:960px;margin:auto;}
#user-nav img{ vertical-align:middle;}
.logo{float:left;width:140px;height:40px;line-height:40px;display:block;overflow:hidden;text-indent:-2000em;color:#fff;background:url(logo.png) no-repeat;}
/*nav*/
.user-nav{ font-size:14px;}
.user-nav li{float:left;height:40px;overflow:hidden;}
.user-nav li a{color:#fff;line-height:40px;padding:0 9px;display:block;}
.user-nav li a.mes{color:#feff8c;}
.user-nav .current a{ background-color:#64a7d8; background-position:0 -40px;}
.login_info{float:right;color:#fff;}
.login_info i{float:left;width:1px;background:#fff;overflow:hidden;height:14px;display:block;margin-top:12px;}
.login_info a{color:#fff;margin:0 8px;font:12px/12px Verdana, Arial, Helvetica, sans-serif;float:left;height:40px;line-height:40px;}
.login_info a:hover{ text-decoration:none;color:#feff8c;}
.login_info span.f9{margin-right:6px; cursor:pointer;}

.o_top_menu{background:#358bc3;margin-top:-40px;position:relative;}
.o_top_menu h4{ white-space:nowrap;}
.o_top_menu h4 a{padding:0 10px;color:#fff;line-height:40px;height:40px; background-position:0 -40px;display:block;}
.o_top_menu h4 a:hover{ text-decoration:none;}
.o_top_menu ul{background:#fff;border:1px solid #358bc3;}
.o_top_menu li{line-height:25px;height:25px;overflow:hidden;}
.o_top_menu li a{height:25px;overflow:hidden;display:block;padding:0 10px;}
.o_top_menu li a:hover{text-decoration:none;background:#e2f1fb;}

#td_omainNav{display:block;height:40px;float:left;}

.o_menu_mode{width:80px;}
.o_menu_mode li{line-height:24px;height:24px;overflow:hidden;}
.o_menu_mode li a{display:block;padding-left:10px;}
.o_menu_mode li a:hover{background:#2080c1;color:#fff; text-decoration:none;}

.u-m-bg,.u-m-bg2,.u-cont-bg,.u-cont-bg2{height:1px;overflow:hidden;}
.u-m-bg,.u-m-bg2{border-left:1px solid #f2f7fa;border-right:1px solid #f2f7fa;}
.u-cont-bg,.u-cont-bg2{border-left:1px solid #fafcfd;border-right:1px solid #fafcfd;}
.u-m-bg2,.u-m-bg-c,.u-m-bg{background:#ecf2f9;}
.u-cont-bg-c,.u-cont-bg,.u-cont-bg2{background:#ffffff;}
.u-m-bg,.u-cont-bg{margin:0 1px;}
.u-cont-bg-c{border-bottom:1px solid #c6d9ed;}

.u-face{border:1px solid #d2d2d2;padding:4px;background:#fff;}
.u-face img{width:100%;}
.face{margin:2px;}

.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mt5{margin-top:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt10{padding-top:10px;}
.bor-t-a{border-top:1px solid #e0e0e0;}
.bor-t-b{border-top:1px solid #e0ecf2;}
.bor-t-c{border-top:1px solid #f0f0f0;}
.lh24{line-height:24px;}
.lh18{line-height:18px;}
.green{color:#98ba2a;}
.gray{color:#888888;}
.gray2{color:#bbbbbb;}
.black{color:#333333;}
.org{color:#ff6600;}
.blue{color:#3366cc;}
.tr-bg-a{background:#f0f7fb;}

.u-box-a li a{color:#333333;}
.u-box-a li{height:24px;overflow:hidden;}
.u-box-a li span{width:8em; text-align:left;margin-left:1em;}
.u-box-a table{border-top:1px solid #c6d9ed;}
.u-box-a tr td{padding:4px 10px;border-bottom:1px dashed #c6d9ed;}
.list-half li{float:left;width:49%;}

.u-box-b,.u-box-b-bg{background:url(u-box-b.png) right bottom no-repeat;}
.u-box-b-bg{ background-position:0 top;}
.u-box-b-bg h2{padding:9px 10px 7px;line-height:1;}
.u-box-b-bg dl{padding:5px 0;}
.u-box-b-bg dd{color:#888;}
/*bg*/
.u-nav-2 li,.u-nav-2 li a,.u-nav-2 .current,.u-nav-2 .current a,.user-post,.u-nav-s,.u-s-btn,.u-nav-3 li a:hover,.u-nav-3 li a:hover span,.u-nav-3 .current a,.u-nav-3 .current a span,.u-mark,.u-del,.user-del,.user-del:hover,.user-charge{background:url(user-bg.png) no-repeat;}

.u-nav-2{background:url(u-nav-2-bg.png) 0 bottom repeat-x;padding-bottom:1px;}
.u-nav-2 li{float:left;background-position:0 -50px;margin-right:-10px;font-size:14px;}
.u-nav-2 li a{padding:15px 40px 0 25px;float:left;background-position:right -50px;margin-left:15px;display:inline;color:#333333;}
.u-nav-2 .current{ background-position:0 0;margin-bottom:-1px;}
.u-nav-2 .current a{ background-position:right 0;padding:16px 40px 0 25px; font-weight:700;}
.u-nav-2 li a:hover{ text-decoration:none;}
.user-post{ background-position:0 -110px;width:60px;height:20px;float:left;line-height:20px;padding-left:23px;color:#888888;}
.user-post:hover{color:#333; text-decoration:none;}
.u-nav-s{border:1px solid #a0c0e1;height:21px;width:210px; background-position:0 -140px;margin:5px 8px 0 0;display:inline;}
.u-s-input{background:none;width:150px;border:none;padding:2px;margin:2px 0 0 2px;float:left;}
.u-s-btn{float:right;width:50px; background-position:0 -200px;border:none;height:21px;line-height:21px;border-left:1px solid #a0c0e1; cursor:pointer;color:#3366cc;}

.u-nav-3 li{float:left;}
.u-nav-3 li a{float:left;color:#333333;margin-right:5px; cursor:pointer;}
.u-nav-3 li a span{float:left;line-height:20px;padding:0 20px 0 10px;margin-left:10px;display:inline;}
.u-nav-3 li a:hover{text-decoration:none;background-position:0 -260px;}
.u-nav-3 li a:hover span{background-position:right -260px;}
.u-nav-3 .current a,.u-nav-3 .current a:hover{background-position:0 -230px;}
.u-nav-3 .current a span,.u-nav-3 .current a:hover span{background-position:right -230px;}

#u-menubar{width:179px;background:#f7fbff;padding-bottom:4444px;margin-bottom:-4444px;border-left:1px solid #f0f7fe;}
.u-nav-4{padding-bottom:20px;}
.u-nav-4 h3{ font-weight:700;padding:20px 10px 5px;}
.u-nav-4 li{padding:0 0 0 24px;}
.u-nav-4 .current{background:url(nav4-current.gif) 8px 3px no-repeat}

.u-mark,.u-del{height:20px;line-height:18px;margin-right:5px;padding:0 10px;_padding:0 .2em;cursor:pointer;}
.u-mark{border:1px solid #d0d0d0; background-position:0 -290px;}
.u-del{border:1px solid #1e9de8; background-position:0 -320px;}
.user-charge{ background-position:0 -350px;display:block;width:85px;height:30px;color:#ffffff; font-weight:700; font-size:14px;line-height:30px;padding-left:35px;}
.user-charge:hover{ background-position:-140px -350px; text-decoration:none;}

.user-account{width:380px;padding:5px 0 10px;}
.user-account dt{float:right;width:130px;}
.user-account dd{float:left;width:245px;}
.user-integral li{float:left;margin-right:25px; font-size:14px;}

.user-tr td,.user-tr3 td{border-top:1px solid #f0f0f0;padding:10px 0 10px 10px;vertical-align:middle;}
.user-tr:hover{background:#f7fbff;}
.user-tr-table td{border:0;padding:5px 10px;}
.user-tr input,.user-tr2 input,.user-tr3 input{vertical-align:middle;}
.user-tr2 td{padding:10px 0 10px 10px;vertical-align:middle;}
.user-tr3 td{vertical-align:top;}
.user-tr3 .vam{padding-top:15px;padding-bottom:none;}
.user-tr img{padding:3px;border:1px solid #e4e4e4;}
.user-face{width:48px;height:48px;}
.u-tr-title{ text-decoration:underline;}
.user-del{display:block;width:14px;height:14px; background-position:-120px -110px;overflow:hidden; text-indent:-9999px;}
.user-del:hover{background-position:-100px -110px;}

.text_open{ font-size:14px;color:#333;font-weight:700;}
.text_open:hover{text-decoration:none;color:#366cc;}
.current .text_open{text-decoration:none;color:#3366cc;}
.tasks_text_tr td{border-top:0;}
.tasks_text{padding:0 0 0;}
.tasks_text dl{line-height:22px;}
.tasks_text dt{font-style:normal;width:100px;float:left;color:#666;}
.tasks_text dd{width:300px;float:left;}
.tasks_text dd.text{line-height:18px;padding:2px 0;}
.tasks_text .one{background:#f7fbff;}
.tasks_face_list{}
.tasks_face_list li{float:left;width:50px;margin:10px 10px 0 0;}
.tasks_face_list li img{width:44px;border:1px solid #e4e4e4;padding:2px;}
.tasks_face_list li a{display:block;width:50px; text-align:center;line-height:22px;}
.tasks_face_list li p a{height:22px;overflow:hidden;}

.pw_speak i,.pw_speak i i,.pw_speak i i i,.pw_speak i i i i{background:url(statusWord.gif) no-repeat;font-style:normal;}
.pw_speak{width:100%; zoom:1; overflow:hidden;padding-bottom:5px;}
.pw_speak i{background-position: 0 0; man-width:100%; font-size:100%; overflow:hidden; zoom:1; text-overflow:ellipsis; display:inline-block; vertical-align:bottom;}
.pw_speak i i{ background-position:100% 0;}
.pw_speak i i i{ background-position:0 100%;} 
.pw_speak i i i i{ background-position:100% 100%; max-width:none; padding:5px 10px 5px 20px;}

/*pages*/
.pages{line-height:18px;}
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:3px;}
.pages a{border:1px solid #d5e6ed;background:#ffffff;padding:0 7px;}
.pages b,.pages a:hover{background:#1b72af;color:#ffffff;border:1px solid #1b72af;text-decoration:none;padding:0 7px;}
.pages .pagesone{border:1px solid #d5e6ed;background:#ffffff;font:11px Verdana;line-height:18px;height:18px;padding-right:1px;}
.pages input{border:1px solid #d5e6ed;padding:0;font:10px/12px Verdana;margin-top:1px;float:left;height:14px;}
.pages .pagesone span{float:left;margin:0 5px;}
.pages .c{width:1px;}
.pages button{height:16px;border:1px solid #a6cbe7;background:#d5e6ed;color:#1b72af;margin:1px 0 0 1px;cursor:pointer;float:left;line-height:12px;}

#footer{padding:0 0 30px;width:960px;margin:10px auto;max-width:1200px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.bottom{margin:0 auto 10px;border:1px solid #d5e6ed;background:#f3f9fb;}
.bottom ul{ padding:5px; margin:0; list-style:none;}
.bottom ul li{ padding:0 10px 0 0;display:inline;}
.bottom ul li a{white-space:nowrap;color:#555555;}

/*popout*/
.popoutContent{background:#fff;border:1px solid #a0c0e1;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=40);_filter:Alpha(opacity=40);opacity:.4;overflow:hidden; z-index:1005; line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:8px;height:8px;background:#a0c0e1;}
.bgcorner1{background-position: 0 0 }
.bgcorner2{background-position: -8px 0 }
.bgcorner3{background-position: -8px -8px}
.bgcorner4{background-position:0 -8px}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#a0c0e1;}
.pobg1{height:8px; }
.pobg2{width:8px;}
.pobg3{height:8px;}
.pobg4{width:8px;}
.popoutContent td{padding:.5em .6em;border-bottom:1px solid #dbe4e9;}
.h{border-bottom:1px solid #9ec0e1;background:#e6f0f9;text-align:left;color:#333333;padding:0 .5em; line-height:2.4em;}
/*menu*/
.menu{position:absolute;background:#fff;border:1px solid #dbe4e9;}
.menu-post{border:1px solid #9fb7e7;}
.menu-post .menu-b{background:#ffffff;border:3px solid #d5e6ed;}
.menu-half li{width:48%;float:left;padding:0 1%;}

/*button*/
span.button,span.button2{padding:0 6px 0 0;*padding:0 10px 0 0;margin:0 0 0 4px; zoom: 1; display: inline-block; background: url(button.gif) no-repeat 100% 0px; vertical-align: middle; cursor: pointer; _display: inline;}
span.button span,span.button2 span{padding:0 0 0 6px;*padding:0 0 0 10px;  display: block; background: url(button.gif) no-repeat 0px 0px;}
span.button button,span.button2 button{display:block;overflow:visible;width:auto;_width:0;height:24px;margin:0 -10px;padding:0 10px;border:0 none;background:none;text-decoration:none;line-height:24px;vertical-align:middle;white-space:nowrap;cursor:pointer;}
span.button button{color:#ffffff;}
span.button2 button{color:#333333;}
span.button2{ background-position:right -50px;}
span.button2 span{ background-position:left -50px;}

.user-top-list{float:right;margin-right:5px;}
.user-top-list li{margin:0 5px 0 0;padding:0;float:left;display:inline;}
.user-top-list li a{padding:0;margin:0;float:left;font-weight:700;}

blockquote{padding-left:1em;}
.blockquote3{width:80%;border:1px dashed #CCC;background:#f7f7f7;margin:10px 0;padding:5px 10px;}
.blockquote3 .quote{color:#999;font-size:12px;}
.blockquote3 .text{padding:0 10px 10px 10px;}
.user-tips{border:1px dashed #CCC;background:#f7f7f7;color:#000; font-size:12px/12px;padding:5px 10px;}

/*jobpop*/
.menu_tasksA{border:1px solid #9fb7e7;}
.menu_tasksA .menu-b{background:#ffffff;border:8px solid #d5e6ed;}