@charset "utf-8";
/* CSS Document */
body{
	font-family:华文行楷 sans-serif serif;
	font-size: 13px;	
}
#leftlink{
	margin-top: 10px;
}
#leftlink ul,ul{
    list-style:none;
	padding:0px; 
	margin:0px;
}
#leftlink li{
	height:30px;
	width:120px;
	margin:5px 0px;
	float:left; 
	text-align:center;		
}
#logo{
	width:117px;
	height:30px;
	padding-top:5px;
	background-image: url("../images/page_bg_log.jpg");
}
#leftlink a{
	display:block;	
	padding:9px 6px 11px 6px;	
	background-image: url("../images/page_bg_log.jpg");
	background-repeat: no-repeat;
}
#leftlink a:hover{
	color:#FFFF80;
	text-decoration:underline;
	background-image: url("../images/page_bg_log2.jpg");
	background-repeat: no-repeat;
	cursor:hand;	
}
#leftlink  a:link, #leftlink a:visited{
	color:#000000;
	text-decoration:none;
}

.datalist{
	width:900px;
	color:black;
	border:1px solid #0058a3;	/* 表格边框 */
	font-family:Arial;
	border-collapse:collapse;	/* 边框重叠 */
	background-color:#eaf5ff;	/* 表格背景色 */
	font-size:14px;
}
.datalist caption{
	padding-bottom:5px;
	font:bold 1.4em;
	text-align:left;
}
.datalist th{
	border:1px solid #0058a3;	/* 行名称边框 */
	background-color:#4bacff;	/* 行名称背景色 */
	color:#FFFFFF;				/* 行名称颜色 */
	font-weight:bold;
	padding-top:4px; padding-bottom:4px;
	padding-left:12px; padding-right:12px;
	text-align:center;
}
.datalist td{
	border:1px solid #0058a3;	/* 单元格边框 */
	text-align:left;
	padding-top:4px; padding-bottom:4px;
	padding-left:10px; padding-right:10px;
}
.datalist tr.altrow{
	background-color:#c7e5ff;	/* 隔行变色 */
}

