@charset "gb18030";
/* CSS Document style by lwid 2009/07/10 */
/*a link 基本连接颜色*/
a{text-decoration:none;color:#000000;}
a:hover{text-decoration:underline;color:#ba1d06;}
.underline a{text-decoration:underline;}

.red a,.red{color:#e30f96;}

.w-170{width:170px;overflow:hidden;}
.w-780{width:780px;overflow:hidden;}

/*左边*/
.child_logo{background:url(child-logo.png);}
.child_logo h2{color:#aedcf7;padding:20px 0 10px 70px;}
.child_logo_list{padding:10px;line-height:30px;}
.child_logo_list li{color:#ffffff;}
.child_logo_list li a{ font-weight:700; font-size:14px;color:#324700;margin-right:10px;}

.child_box_left{}
.child_box_left h2{background:#ffefb5 url(child_h2_left.png);color:#d20014; font-size:14px; font-weight:700;padding-left:10px;line-height:26px;height:25px;overflow:hidden;}

.child_hot{background:url(child_hot.jpg);height:343px;overflow:hidden;}
.child_hot th,.child_box th{width:300px; font-weight:500;}
.child_hot td{padding:65px 10px 0;}
.child_hot td .box_two h4{line-height:30px;text-align:center;}
.child_hot td .box_two h4 a{color:#324700;}
.child_hot td .box_two p{padding:5px 20px 0 0;color:#324700;}

.list_50 li{width:42.5%;float:left;padding-right:7%;}
.list_50 li img{width:80px;height:70px;margin-right:5px;}
.list_50 li h4{height:18px;overflow:hidden;}
.list_50 li h4 a{ font-weight:700;color:#e30f96;}
.list_50 li p{height:55px;overflow:hidden;color:#bbbbbb;}

.linkA a{color:#324700;}
.child_hot h2{padding-top:5px;margin:15px 0 3px; font-size:14px; font-weight:700;color:#324700;}
.child_hot h2 span{float:left;margin-top:-8px;padding-right:1em;white-space:nowrap;}
.child_hot h2 div{height:1px;overflow:hidden;border-top:1px dashed #cccccc;}

.list_overflow li{height:24px;overflow:hidden;line-height:24px;}
.l_20 li{height:20px;overflow:hidden;line-height:20px;}

.child_box h2{background:url(child_box_h.png);height:27px;line-height:27px;padding:0 10px}
.child_box h2 span{padding:0 70px 0 5px;color:#e4007f; font-weight:700;}
.child_box h2 a{margin-left:10px;color:#b00364;}
.child_box table{margin-top:10px;}
.child_box table th,.child_box table td{ vertical-align:top;}
.child_box th{border-right:1px dashed #e0e0e0}
.child_box th ul{padding:0 10px;margin-top:-4px;}
.child_box th h4,.child_box th p{padding-right:10px;}
.child_box th h4{padding-right:10px; font-size:14px;}
.child_box th p{color:#888888;}
.child_box th img{width:120px;height:110px;margin:0 10px 10px 10px;}
.child_box td{padding:0 10px;}
.child_box td .box_two p{background:#ffebf6;padding:3px 5px;}
.child_box td ul{line-height:24px;margin-top:-4px;}
.child_box .list_50{padding-bottom:5px;}
.child_box ul span{color:#324700;}

/*通用*/
.box_one{padding:0 10px 10px;}
.box_one a{display:block;margin-top:10px;display:inline-block;}
.box_one a:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.box_one a{display: inline-block;}/* Hides from IE-mac \*/
* html .box_one a{height: 1%;}
.box_one a{display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.box_one img{width:80px;height:60px;float:left;margin:1px 5px 0 0;}
.box_one p{font-size:14px;height:62px;overflow:hidden;}

.box_two h4{font-weight:700;font-size:14px;}

.box_img a{float:left;}
.box_img a img{margin:0 10px;width:130px;height:90px;}
.box_img a p{padding:5px 0 10px; text-align:center;}

.box a img{margin:0 10px 10px 0;width:130px;height:100px;}
.box h4{ font-size:14px;padding:0 0 4px;}
.box p{color:#888;}
.box a p{margin-top:-5px;overflow:hidden; text-align:center; cursor:pointer;height:18px;color:#006699;}
.box a:hover p{color:#990000;}

.list_overflow{}