.login_index td{padding:4px 5px 4px 0;}
.login_up_menu td{padding:5px 0 5px 10px;}

.index-banner{background:url(banner.jpg);height:240px; position:relative;}
.index-banner-bg{ position:absolute;left:0;top:0;width:100%;height:45px;overflow:hidden;filter:alpha(opacity=39);-moz-opacity:0.39;opacity:0.39;background:#000;z-index:1px;}
.index-banner ul{padding:60px 30px;}
.index-banner ul li{float:left;padding:5px;width:32px;}
.index-banner-text{position:absolute;left:30px;top:0;line-height:45px; font-size:14px; font-weight:700;color:#ffffff;}
.index-banner-text b{border-top:10px solid #000000;border-bottom:0;border-right:10px dashed transparent;border-left:10px dashed transparent;width:0;height:0;overflow:hidden;display:block;filter:alpha(opacity=39);-moz-opacity:0.39;opacity:0.39;z-index:1px;}
.index-banner-text .share{margin-left:10px;}
.index-banner-text .record{margin-left:52px;}
.index-banner-text .posts{margin-left:93px;}
.index-banner-text .log{margin-left:134px;}
.index-banner-text .groups{margin-left:176px;}
.index-banner-text .albums{margin-left:219px;}
.index-banner .register{ position:absolute;left:55px;bottom:45px;display:block;width:150px;height:70px;line-height:400px;overflow:hidden;}

.content-box h2{ background:url(index_h2_bg.png) 0 bottom repeat-x;height:28px;line-height:28px;padding:0 10px;}
.content-box h2 strong{margin-right:8em;}
.content-box h2 span a{margin-right:1em;color:#ffffff;}
/*今日达人*/
.today-user{padding:20px 10px 15px;}
.today-user a{float:left;width:77px;text-align:center;color:#333333;}
.today-user a:hover{text-decoration:none;}
.today-user p{width:72px;height:24px;line-height:24px;overflow:hidden; cursor:pointer;}

/*今日新人*/
.today-reg{border-top:1px solid #b6d8e6;padding:5px 35px;background:url(today-reg.png) 12px 6px no-repeat;}
.today-reg a{margin:0 0 0 1em;}

/*最新照片*/
.new-img{padding:13px 15px 15px;}
.new-img a{float:left;padding:7px;}
.new-img img{width:100px;height:100px;}

/*热门帖子*/
.hot-post{margin:10px;line-height:24px;width:460px;border-right:1px solid #e0e0e0;display:inline;}
.hot-post .one{ width:60px;padding-right:8px;color:#d73681;}
.hot-post .one span{background:url(hot-post-one.png) right top no-repeat;padding-right:5px;float:right;}
.hot-post .one span span{ background:url(hot-post-one.png) left top;float:right;height:18px;line-height:18px;padding:0 2px 0 7px;overflow:hidden;dispaly:inline;}
.hot-post .two a{float:left;color:#333333;height:24px;overflow:hidden;}
.hot-post .tree{ width:100px;}

/*热门板块*/
.hot-forum{width:225px;padding:10px 10px 10px 0px;}
.hot-forum ul{background:url(list-ul.png) left 5px no-repeat;padding-left:20px;}
.hot-forum ul li{line-height:24px;}
.hot-forum ul li span{ float:right; font-size:11px;color:#888;}
.hot-forum ul li a{color:#333333;}

/*最新日志*/
.new-log{padding-bottom:10px;}
.new-log dl{width:330px;float:left;margin:10px 10px 0;height:55px;overflow:hidden;}
.new-log dt{float:left;margin-top:2px;}
.new-log dd{margin-left:55px;color:#666;}
.new-log dd a.black{color:#333333;}

/*配色*/
.gray{color:#888888;}
.red,.red a{color:#d73681;}
.blue{color:#3366cc;}