body{font-family:Verdana;background:#f5feff;color:#333;}
.wrap{background:url(body_bg.jpg) 0 40px repeat-x;}
a{ text-decoration:none;color:#336699;}
a:hover,.uline,.uline a{ text-decoration:underline;}
/*global*/
#header,#footer{width:960px;margin:0 auto;}
#main{width:960px;margin:0 auto;overflow:hidden;_overflow:none;background:#fff;}
/*Layout*/
#menu-bar{width:159px;}
#content{width:800px;background:#fff;}
#content_main{width:569px;}
#sidebar{width:229px;}
/*style*/
.menu-bar{padding-bottom:5000px;margin-bottom:-5000px;background:#f5f5f5;border-right:1px solid #cccccc;}
.sidebar{padding-bottom:5000px;margin-bottom:-5000px;background:#e7edf1;border-left:1px solid #9dbdde;}
/*bg*/
#header{height:120px;background:url(header_bg.jpg) center bottom no-repeat;}
.header{height:120px;}
.o_topbar,.o_topbar_wrap,.o_nav .current a,.o_top_menu h4 a{background:url(bg.png) 999em 999em;}
.o_tab_a li a,.o_tab_a li a i,.o_tab_a .current a,.o_tab_a .current a i{background:url(o_bg.png) no-repeat;}
/*topbar*/
.o_topbar_wrap{background-color:#2080c1;height:40px;overflow:hidden;background-position:0 top;min-width:960px;}
.o_topbar{ width:960px;margin:0 auto;overflow:hidden;background-position:0 top;}
.logo{float:left;width:135px;height:40px;line-height:40px;display:block;overflow:hidden;text-indent:-2000em;color:#fff;background:url(logo.png) no-repeat;}
/*nav*/
.o_nav{ font-size:14px;}
.o_nav li{float:left;height:40px;overflow:hidden;}
.o_nav li a{color:#fff;line-height:40px;padding:0 12px;display:block; font-weight:700;}
.o_nav .current a{ background-color:#64a7d8;background-position:0 -40px;}
.login_info{float:right;color:#fff;}
.login_info i{float:left;width:1px;background:#fff;overflow:hidden;height:14px;display:block;margin-top:12px;}
.login_info a{color:#fff;padding:0 8px;font:12px/12px Arial;display:block;float:left;line-height:40px;height:40px;}
.login_info a:hover{ text-decoration:none;color:#feff8c;}
.login_info a.mes{color:#feff8c;}
.login_info span.green{color:#feff8c;}
.login_info a.meg{background:url(email.gif) 4px 13px no-repeat;padding-left:20px;color:#feff8c;}
.login_info span.f9{margin-right:6px; cursor:pointer;}

.o_top_menu{background:#358bc3;margin-top:-40px;position:relative;*left:-1px;}
.o_top_menu h4{ white-space:nowrap;}
.o_top_menu h4 a{padding:0 10px;color:#fff;line-height:40px;height:40px; background-position:0 -40px;display:block;}
.o_top_menu h4 a:hover{ text-decoration:none;}
.o_top_menu ul{background:#fff;border:1px solid #358bc3;}
.o_top_menu li{line-height:25px;height:25px;overflow:hidden;}
.o_top_menu li a{height:25px;overflow:hidden;display:block;padding:0 10px;}
.o_top_menu li a:hover{text-decoration:none;background:#e2f1fb;}

#td_omainNav{display:block;height:40px;float:left;}

.o_menu_mode{width:80px;}
.o_menu_mode li{line-height:24px;height:24px;overflow:hidden;}
.o_menu_mode li a{display:block;padding-left:10px;}
.o_menu_mode li a:hover{background:#2080c1;color:#fff; text-decoration:none;}
/*search*/
.search{margin-top:80px;height:21px;}
.s-input{float:left;border:1px solid #2180c1;padding:2px 2px 2px;*padding:4px 2px 1px;font:12px/12px Arial;height:15px;margin:1px 5px 0 0;_margin:2px 5px 0 0;}
/*hr*/
.o_hr{height:1px;background:#c0d6df;overflow:hidden;margin:5px 0;}
.o_hr_b{height:1px;background:#cccccc;overflow:hidden;margin:5px 0;}
/*bar*/
.sidebar,.menu-bar{color:#666;}
.sidebar h2,.menu-bar h2{padding-left:4px;}
/*title*/
.title_one{background:#eceff5;border-top:1px solid #85add6;line-height:1.2;padding:6px 10px;}
/*tab*/
.o_tab_a li{float:left;margin-right:3px;}
.o_tab_a li a{line-height:20px;float:left;padding-right:3px;background-position:right 0;}
.o_tab_a li a i{ font-style:normal;float:left;padding:0 5px 0 8px;cursor:pointer; white-space:nowrap;}
.o_tab_a li a:hover,.o_tab_a .current a{ background-position:right -30px; text-decoration:none;color:#333;}
.o_tab_a li a:hover i,.o_tab_a .current a i{ background-position:0 -30px;}
.o_tab_a .edit{margin-right:0;}
.o_tab_a .edit a i{padding:0 2px 0 5px;}
.tab_friends{background-position:0 -120px;padding-left:20px; font-weight:700;line-height:20px;margin-right:8px;}
/*appleft*/
.applied-list{padding:15px;}
.applied-list img{margin:0 10px 0 5px;vertical-align:middle;}
.applied-list ul .current a{color:#ff5500;}
.applied-list ul li{height:30px;line-height:30px;overflow:hidden;clear:both;color:#666;}
.applied-list ul li .f9{*letter-spacing:-1px;}
.applied-list ul li a{font-size:14px;}
.applied-list ul li a:hover{ text-decoration:none;color:#ff5500;}
.applied-list ul li a.fr{color:#999;font-size:12px;*margin-top:2px;_margin-top:-8px;}
.applied-list p {padding-top:5px;line-height:30px;border-top:1px solid #cccccc;margin-top:10px;}
.applied-list p{_padding-top:10px;_margin-top:0;} /*ie6*/
.applied-list span.red{margin-top:1px;_margin-top:-5px;}
/*form*/
textarea,input,select{font:12px Arial;padding:2px 3px 0;vertical-align:middle;}
select{border:solid 1px #d5e6ed;}
.input,textarea{border:1px solid #c8c8c8;}
.input{line-height:1;padding:4px 2px 2px;}
/*button*/
span.button,span.button2{padding:0 6px 0 0;*padding:0 10px 0 0;margin:0 0 0 4px; zoom: 1;display: inline-block; background: url(button.gif) no-repeat 100% 0px; vertical-align: middle; cursor: pointer; _display: inline;}
span.button span,span.button2 span{padding:0 0 0 6px;*padding:0 0 0 10px;  display: block; background: url(button.gif) no-repeat 0px 0px;}
span.button button,span.button2 button{display:block;overflow:visible;width:auto;_width:0;height:24px;margin:0 -10px;padding:0 10px 4px;*padding:0 10px;border:0 none;background:none;text-decoration:none;line-height:24px;vertical-align:middle;white-space:nowrap;cursor:pointer;}
span.button button{color:#ffffff;}
span.button2 button{color:#333333;}
span.button2{ background-position:right -50px;}
span.button2 span{ background-position:left -50px;}
.bta{cursor:pointer;color:#333333;padding:2px 8px;background:#f3f9fb;margin:2px;white-space:nowrap;border:1px solid #d5e6ed;}
/*Share button*/
.a-reply{border:#ddd 1px solid;padding:0 0 2px 4px;*padding:0 0 0 4px;background:#fff;overflow:hidden;}
.a-reply span{border-left:1px solid #ddd;padding:2px;font-size:.8em;margin-left:2px;background:#f0f0f0;}
.a-reply:hover{border:1px solid #3F64AD;background:#5A7BBC;text-decoration:none;color:#fff;}
.a-reply:hover span{border-left:1px solid #3F64AD;background:#5A7BBC;}
/*Patch*/
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.mt3{margin-top:3px;}
.pt5{padding-top:5px;}
.p10{padding:10px;}
.pl10{ padding-left:10px;}
.pr10{ padding-right:10px}
.p15{padding:15px;}
/*User portrait*/
.img-20{width:16px;height:16px;border:1px solid #ccc;padding:1px;}
.img-50{width:40px;height:40px;border:1px solid #e4e4e4;padding:3px;background:#fff;}
.img-60{width:60px;height:60px;}
.img-120{width:120px;height:120px;}
.user_face{height:100px;}
.user_face img{width:120px;height:120px;padding:5px;background:url(user_face.png) no-repeat; position:absolute;margin-top:-35px;margin-left:5px;}
/*High line*/
.lh24{line-height:24px}
.lh18-a,.lh18-b{line-height:18px;}
/*stint*/
.lh18-b{height:18px;overflow:hidden;}
.h-90 li{height:90px;}
.h-70 li{height:70px;}
.h-70 img.fl{margin-right:10px;}
/*tips*/
.o-tips{border:1px solid #eda85f;background:#fff9dd;color:#000;}
.o-info-a{padding:8px;background:#fffaf1;line-height:1;}
.title{background:#f7f7f7;border-top:1px solid #95b7d9;padding:4px 10px;border-bottom:1px solid #e4e4e4;}
/*bottom*/
#footer{border-top:1px solid #e4e4e4;padding:5px 0 30px;margin-top:10px;}
.bottom{margin:5px auto 5px; font-size:14px;}
.bottom ul{ padding:5px 0; margin:0; list-style:none;}
.bottom ul li{ padding:0 1em 0 0;display:inline;}
.bottom ul li a{white-space:nowrap;color:#333333;}
/*table*/
.tr3 td,.tr3 th,.tr4 td,.tr4 th,.tr5 td{text-align:left;font-weight:normal;border-bottom:1px solid #e0e0e0;}
.tr3 td,.tr3 th{padding:8px 0 8px 8px;}
.tr4 td,.tr4 th{padding:10px 0 12px 5px;}
.tr4 th .img-50,.tr5 td .img-50{margin-top:3px;}
.tr4 p.f14{padding:5px 0;}
.tr5 td{padding:10px 0;}
.tr6 td{padding:10px;}

.tr6 td td{padding:2px 0 2px 10px;}
.tr7 td{padding:5px 0 5px 12px;border-bottom:1px solid #e4e4e4;}
/*Editor*/
.o-editor{}
.o-operation{border:1px solid #c8c8c8;background:#f8f8f8;padding:2px 3px;margin:0;border-bottom:0;width:502px;overflow:hidden;}
.o-operation span{border:1px solid #f8f8f8;margin:0 5px;background:url(editoricon.gif) 0 0 no-repeat;float:left;width:20px;height:20px;text-indent:2000em;overflow:hidden;cursor:pointer;}
.o-operation .createlink{ background-position:0 0;}
.o-operation .o-face{ background-position:-20px 0;}
.o-operation span:hover{border:1px solid #000;border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;}
.o-editor textarea{border:1px solid #c8c8c8;width:508px;height:80px;padding:0;margin:0;}
/*pages*/
.pages{line-height:18px;}
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:3px;}
.pages a{border:1px solid #d5e6ed;background:#ffffff;padding:0 7px;}
.pages b,.pages a:hover{background:#1b72af;color:#ffffff;border:1px solid #1b72af;text-decoration:none;padding:0 7px;}
.pages .pagesone{border:1px solid #d5e6ed;background:#ffffff;font:11px Verdana;line-height:18px;height:18px;padding-right:1px;}
.pages input{border:1px solid #d5e6ed;padding:0;font:10px/12px Verdana;margin-top:1px;float:left;height:14px;}
.pages .pagesone span{float:left;margin:0 5px;}
.pages .c{width:1px;}
.pages button{height:16px;border:1px solid #a6cbe7;background:#d5e6ed;color:#1b72af;margin:1px 0 0 1px;cursor:pointer;float:left;line-height:12px;}
/*popout*/
.popoutContent{background:#fff;border:1px solid #3f6fcf;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=40);_filter:Alpha(opacity=40);opacity:.4;overflow:hidden; z-index:1005; line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:8px;height:8px;background:#3f6fcf;}
.bgcorner1{background-position: 0 0 }
.bgcorner2{background-position: -8px 0 }
.bgcorner3{background-position: -8px -8px}
.bgcorner4{background-position:0 -8px}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#3f6fcf;}
.pobg1{height:8px; }
.pobg2{width:8px;}
.pobg3{height:8px;}
.pobg4{width:8px;}
.popoutContent td{padding:.5em .6em;border-bottom:1px solid #dbe4e9;}
.h{border-bottom:1px solid #9ec0e1;background:#e6f0f9;text-align:left;color:#333333;padding:0 .5em; line-height:2.4em;}
/*menu*/
.menu{position:absolute;background:#fff;border:1px solid #dbe4e9;}
.menu-post{border:1px solid #a6cbe7;background:#ffffff;}
.menu-post .menu-b{border:3px solid #d5e6ed; font-size:12px;}
.menu-half li{width:48%;float:left;padding:0 1%;}
/*tab*/
.tab{padding-left:10px;}
.tab a{float:left;line-height:18px;margin-right:3px;color:#3366cc;height:18px;overflow:hidden;}
.tab a span{ float:left;padding:0 7px 0 4px; cursor:pointer;margin-left:3px;}
.tab .current{background:url(p-update-tab.png) 0 0 no-repeat;color:#ffffff;}
.tab .current span{background:url(p-update-tab.png) right -18px no-repeat;float:left;}

.tabB ul li,.tabB ul li a{background:url(tabB.png) no-repeat;}
.tabB{height:30px;background:url(tabB-bg.png) 0 bottom repeat-x;}
.tabB ul{padding-left:10px;}
.tabB ul li{float:left;line-height:30px;height:29px;background-position:left 0;margin-right:1px;overflow:hidden;}
.tabB ul li a{ font-size:14px;color:#336699;display:block;float:left;height:29px;padding:0 15px;background-position:right -30px;text-align:center;overflow:hidden;outline:none;}
.tabB ul .current{ background-position:left -60px;height:30px;overflow:hidden;}
.tabB ul .current a{color:#333333;background-position:right -90px;height:30px;}
.tabB ul li a:hover{ text-decoration:none;}
/*span color*/
.gray{color:#888888;}
.gray2{color:#bbbbbb;}
.red,.red a{color:#ff5500;}
.blue{color:#3366cc;}
.black{ color:#333;}
.del,.del a{color:#888888;}
.del:hover,.del a:hover{background:#ff0000;color:#ffffff;}
.ong a{color:#ff6a10;}
/*r-post*/
.o-commnet{width:540px;}
.o-commnet dl{background:#ffffff;border-bottom:1px dashed #e4e4e4;padding:10px 0;}
.o-commnet dt{float:left;width:65px;}
.o-commnet dt img{margin:0 10px 0 0;}
.o-commnet dd{float:left;width:450px;}
.o-commnet dd dl{background:#f7fbff;border-bottom:0;margin-top:10px;padding-bottom:0;}
.o-commnet dd dd{width:330px;padding:0 0 10px;}
.o-commnet dd p.f14{padding-top:10px;}
/*list*/
.o-list-img{padding-bottom:10px;}
.o-list-img li{float:left;padding:5px 5px 10px;text-align:center;color:#999;width:58px;}
.o-list-img li p{height:18px;overflow:hidden;margin:3px 0 0 0;;}
.o-list-img li p a{line-height:18px;padding:0;height:18px;overflow:hidden;width:45px;*width:auto;float:left;*float:none;}
.o-list-img img{vertical-align:middle;}
.o-list-img p img{float:left;margin-top:5px;}

.list-box-a li{width:359px;height:133px;overflow:hidden;float:left;margin:10px 10px 0 0;display:inline;}
.list-box-a li .none{display:none;}
.list-box-a dl,.list-box-b dl{padding:10px;}
.list-box-a dt,.list-box-b dt{float:left; margin-right:10px;overflow:hidden;width:110px;height:114px;background:url(photo-group.png);}
.list-box-a dt div,.list-box-b dt div{width:100px;height:100px; margin:5px auto 0; overflow:hidden;}
.list-box-a dt div img,.list-box-b dt div img{width:100px;}
.list-box-a .current dl{padding:9px;}
.list-box-a .current{border:1px solid #e4e4e4;width:357px;height:131px;display:block;}
.list-box-a .current .none{display:inline;}
.list-box-a dd{float:left;padding-top:5px;line-height:2;}

.list-box-b li{width:120px;height:170px;overflow:hidden;float:left;margin:10px 30px 0 35px;display:inline;}
.list-box-b dd{padding-top:5px;text-align:center;width:110px;}
.list-box-b h2{line-height:18px;height:18px;overflow:hidden;}
/*imglist*/
.list-img-3 li{float:left;width:150px;margin:10px 30px 0 10px;height:160px;display:inline;}
.list-img-3 li td,.list-img-c li td{vertical-align:bottom;}
.list-img-3 li table{margin-bottom:5px;table-layout:fixed;width:100px;height:100px;}
.list-img-3 li div{width:100px;height:100px;overflow:hidden;margin-bottom:5px;}
.list-img-c table{table-layout:fixed;}
.list-img-c li{float:left;margin:10px 10px 0 0;}
.img-100-over li{width:110px;overflow:hidden;}
.img-100-over table div{width:100px;overflow:hidden;height:100px;}

.o-menu-half{padding:10px 0;}
.o-menu-half li{float:left;width:300px;padding-left:15px;}
/*one_imglist*/
.list-img-b{margin-top:10px;}
.list-img-b td{vertical-align:middle;}
.list-img-b .img{float:left;padding:5px;border:1px solid #e4e4e4;margin:0 10px;height:60px;background:#ffffff;overflow:hidden;}
.list-img-b img{width:60px;height:60px;}
.list-img-b .current{border:1px solid #fda4cd;}
.next a,.pre a{display:block;}
.next a:hover,.pre a:hover{ text-decoration:none;color:#000000;}
.next,.pre{padding:5px;background:#ffffff;}
.next{border-left:1px solid #cccccc;background:#f7f7f7;}
.pre{border-right:1px solid #cccccc;background:#f7f7f7;}
/*dy*/
.dynamic dl dl{border:none;background:#fffaf1;margin:4px 0;}
.dynamic dl dl dd{width:400px;}
.dynamic dt{float:left;}
.dynamic dt img{border:0;padding:0;}
.dynamic dd{float:left;}
.dynamic-home,.dynamic-home2{padding:0 0 20px;}
.dynamic-home dt,.dynamic-home2 dt{width:20px;padding:12px 5px 10px 10px;}
.dynamic-home dd{width:482px;border-bottom:1px dashed #e4e4e4;padding:10px 0;}
.dynamic-home dd dt,.dynamic-home2 dd dt{padding:0px 0 0 5px;}
.dynamic-home dd dd,.dynamic-home2 dd dd{border:none;padding:5px 0;width:450px;}
.dynamic-home dd img,.dynamic-home2 dd img{margin:5px 0;}
.dynamic-home2 dd{width:462px;border-bottom:1px dashed #e4e4e4;padding:10px 0;}
.dynamic-share dt{width:50px;padding:13px 10px 10px 10px;}
.dynamic-share dd{width:440px;padding:8px 0;}
.dynamic-share dd dt{width:20px;padding:8px 0 0 10px;}
.dynamic-share dd dd{width:400px;padding:4px 0;}
.tr4 dl{padding:5px;background:#fffaf1;width:400px;margin:4px 0;}
.tr4 dd{float:left;}

blockquote{padding-left:1em;}
.blockquote3{width:80%;border:1px dashed #CCC;background:#f7f7f7;margin:10px 0;padding:5px 10px;}
.blockquote3 .quote{color:#999;font-size:12px;}
.blockquote3 .text{padding:0 10px 10px 10px;}
.blockquote{zoom:1;padding:5px 8px 5px;line-height:1.3;border:1px solid #fcefbb;background:#fffff3;color:#000;margin:0 15px;}
.quote{width:67%;}
.block-img{background:#fffae1;padding-left:28px;margin:0 15px 10px;}
.blockquote2{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;margin:0px;padding:0 0 0 2em;line-height:2em;overflow:hidden;background:#fff}
.blockquote2 ol{margin:0 0 0 1.5em;padding:0;}
.blockquote2 ol li{border-left:1px solid #ccc;background:#f7f7f7;padding-left:10px;font-size:12px;font-family:"Courier New" serif;list-style-type:decimal-leading-zero;padding-right:1em;}
.blockquote2 ol li:hover{background:#fff;color:#008ef1;}
.blockquote2 ol li{list-style-type:decimal;}
/*qute*/
.qutemini{padding:0 14px 0 17px;background:url(quote-open.gif) left -2px no-repeat;line-height:18px;}
/*dytime*/
.dynamic-h{padding-top:10px;margin-top:10px;}
.dynamic-h span{float:left;margin-top:-9px;background:#ffffff;padding-right:1em;white-space:nowrap;}
.dynamic-h div{float:right;width:90%;height:1px;overflow:hidden;background:#dedede;}
.read_form{border-top:1px solid #d5e6ed;border-left:1px solid #d5e6ed;background:#f3f9fb;}
.read_form td{height:20px;padding:0 5px;border-right:1px solid #d5e6ed;border-bottom:1px solid #d5e6ed; font-size:12px;}