/*  
The Name: 红色模板
The URI: http://www.phpb2b.com/
Description: A PHPB2B Red Color Style Templet. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
Sample Color: #CF352E
*/
@import url(type.css);
@import url(widgets.css);