<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<!--
EOT;
if ($action == 'doset') {
print <<<EOT
-->

<!--
EOT;
} else {
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
	<div class="legend">
	注意：开启门户模式静态化后，门户模式首页的底部导航条将被隐藏
	</div>
</div>
<h2 class="h1">配置门户模式静态化&nbsp;</h2>
<form action="$basename" method="post">
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr class="tr1">
                <td class="td1">门户模式静态化</td>
                <td class="td2">
                	<ul class="list_A list_80 fl mr20">
                    	<li><input type="radio" name="area_static[ifon]" value="1" $if_on_checked />开启</li>
                        <li><input type="radio" name="area_static[ifon]" value="0" $if_noton_checked />关闭</li>
                    </ul>
                    <a href="$basename&action=dorefresh" onclick="if(confirm('你确定要刷新门户首页么？')){return true;}else{return false;}">[立即刷新门户首页]</a>
                </td>
            </tr>
            <tr class="tr1">
                <td class="td1">静态化页面更新时间[分]</td>
                <td class="td2">
                    <input type="text" name="area_static[step]" value="$area_static_step" class="input input_wa" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tac mb10">
	<input type="hidden" name="action" value="doset" />
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}
include_once PrintEot('adminbottom');
?>-->