<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="admin_info mb10">
    <h2 class="h1">首页版块管理</h2>
    <div class="legend">
    解释: <font color="red">权重越大排序越位置越靠前，权重为<b>0</b>时表示删除该条内容</font><br />
只选择一个显示版块为类型一，选择两个为类型二，选择三个为类型三<br />
    <img src="$imgpath/admin/admin-mode.gif" />
    </div>
</div>
<h2 class="h1">
	<span class="fl mr10">管理列表</span>
	<a href="javascript:;" class="btn_add fl" onclick="addTpltype();" title="添加"><i>添加</i></a> 
</h2>
<form action="$basename" method="post">
	<input type="hidden" name="action" value="indexforum" />
	<input type="hidden" name="step" value="2" />
    <div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr2">
        	<td width="5%">ID</td>
            <td class="30">权重<span class="s1">*必填</span></td>
            <td>模板类型</td>
            <td>包含版块</td>
        </tr>
	
<!--
EOT;
$i = 0;
foreach ($index_forum_config as $key => $value) {
$i++;
$type = count($value) == 3 ? '类型三' : (count($value) == 2 ? '类型二' : '类型一');
print <<<EOT
-->
		<tr class="tr1">
        	<td class="td2">$i</td>
            <td class="td2"><input type="text" class="input input_we" name="level[$key]" value="$key"><input type="hidden" name="old_level[$key]" value="$key"></td>
            <td class="td2">$type</td>
            <td class="td2">{$fidoptions[$key][0]}&nbsp;{$fidoptions[$key][1]}&nbsp;{$fidoptions[$key][2]}</td>
       	</tr>	
<!--
EOT;
}print <<<EOT
-->
	<tbody id="tbody"></tbody>
	<tbody id="tmode" style="display:none;">
    	<tr class="tr3">
        	<td></td>
            <td><input class="input input_we" name="new_level[]"></td>
            <td></td>
            <td>
            	<select name="new_fid1[]" class="select_wa mr5">$forumoptions&nbsp;</select>
                <select name="new_fid2[]" class="select_wa mr5">$forumoptions&nbsp;</select>
                <select name="new_fid3[]" class="select_wa">$forumoptions&nbsp;</select>
            </td>
        </tr>
    </tbody>
	</table>
	</div>
    <div class="tac mb10">
		<span class="btn"><span><button type="submit">提 交</button></span></span>
	</div>
</form>
<script language="JavaScript">
function addTpltype(){
	var s = getObj('tmode').firstChild.cloneNode(true);
	getObj('tbody').appendChild(s);
}
</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->