@charset "gb18030";
/* CSS Document style by lwid 2009/07/10 */
/*a link 基本连接颜色*/
a{text-decoration:none;color:#000000;}
a:hover{text-decoration:underline;color:#ba1d06;}

.red a,.red{color:#e30f96;}

.w-170{width:170px;overflow:hidden;}
.w-780{width:780px;overflow:hidden;}

/*左边*/
.women_logo{background:url(women-logo.png);height:50px;border:1px solid #f39fd4;color:#f3009d;line-height:35px;padding-left:10px;}
.women_logo_list{border:1px solid #fcc9e3;background:#feeaed;padding:2px 10px 10px;line-height:30px;}
.women_logo_list li{border-bottom:1px solid #f9d3db;}
.women_logo_list li a{ font-weight:700; font-size:14px;color:#f3009d;margin-right:10px;}

.women_box_left{border:1px solid #fcc9e3;}
.women_box_left h2{background:#feeaed;color:#e30f96; font-size:14px; font-weight:700;padding-left:10px;line-height:30px;border-bottom:1px solid #fcc9e3;}

.women_hot{background:url(women_hot.png);height:285px;overflow:hidden;}
.women_hot th,.women_box th{width:300px; font-weight:500;}
.women_hot td{padding:10px;}
	.hot_icon{background:url(women_h1.png) left center no-repeat;color:#ffffff;width:90px;height:29px; text-align:center;line-height:28px;margin-right:10px;}
.women_hot td .box_two h4{line-height:30px;}
.women_hot td .box_two h4 a{color:#e30f96;}
.women_hot td .box_two p{padding:5px 20px 0 0;}

.list_50 li{width:42.5%;float:left;padding-right:7%;}
.list_50 img{width:80px;height:70px;margin-right:5px;}
.list_50 h4{height:18px;overflow:hidden;}
.list_50 h4 a{ font-weight:700;color:#e30f96;}
.list_50 p{height:55px;overflow:hidden;color:#bbbbbb;}

.list_overflow li{height:24px;overflow:hidden;line-height:24px;}

.women_box h2{background:url(women_box_h.png);height:23px;line-height:23px;}
.women_box h2 span{padding:0 70px 0 10px;color:#ffffff; font-weight:700;}
.women_box h2 a{margin-left:10px;color:#787878;}
.women_box table{margin-top:20px;}
.women_box th{border-right:1px dashed #e0e0e0}
.women_box th ul{padding:0 10px;margin-top:-4px;}
.women_box td{padding:0 10px;}
.women_box td .box_two p{background:#ffebf6;padding:3px 5px;}
.women_box ul{margin-top:5px;}
.women_box .list_50{padding-bottom:5px;}
.women_box ul span{color:#e30f96;}
.women_box ul .fr{color:#bbbbbb;}

.women_box th h4,.women_box th p{padding-right:10px;}
.women_box th h4{padding-right:10px; font-size:14px;}
.women_box th p{color:#888888;}
.women_box th img{width:120px;height:110px;margin:0 10px 10px 10px;}
.women_box td{padding:0 10px;}
.women_box td ul{line-height:24px;margin-top:-4px;}

/*通用*/
.box_one{padding:0 10px 10px;}
.box_one a{display:block;margin-top:10px;display:inline-block;}
.box_one a:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.box_one a{display: inline-block;}/* Hides from IE-mac \*/
* html .box_one a{height: 1%;}
.box_one a{display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.box_one img{width:80px;height:60px;float:left;margin:1px 5px 0 0;}
.box_one p{font-size:14px;height:62px;overflow:hidden;}

.box_two h4{font-weight:700;font-size:14px;}

.box_img a{float:left;}
.box_img a img{margin:0 10px;width:130px;height:90px;}
.box_img a p{padding:5px 0 10px; text-align:center;}

.box a img{margin:0 10px 10px 0;width:130px;height:100px;}
.box h4{ font-size:14px;padding:0 0 4px;}
.box p{color:#888;}
.box a p{margin-top:-5px;overflow:hidden; text-align:center; cursor:pointer;height:18px;color:#006699;}
.box a:hover p{color:#990000;}