
body{font-size:9pt;background-color:#f4fbeb;font-family:Verdana; color:#333;}
h3,h2{display:inline;}
h2 a{color:#000;font-size:14px;}
h3 a{color:#333;font-size:14px;}
.subject{ font-size:14px;} /*列表标题*/
.v-in input{vertical-align:baseline;} /*列表下滑线对齐*/
h4{margin:20px 0 10px;font-size:1.1em}
/*a link 基本连接颜色*/
a{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;}
/*内补丁*/
.pdD{padding:.3em .5em}
.p10{padding:10px;}
/*main color 数值自定义*/
.f_one,.t_one,.r_one{background:#ffffff;}
.f_two,.t_two,.r_two{background:#f4ffe8;}
/*按钮*/
.btn{border-color:#659b05;margin-right:1em;color:#fff;background:#659b05;}
.btn,.bt{border-width:1px;cursor:pointer;padding:.1em 1em;*padding:0 1em;font-size:9pt; line-height:130%; overflow:visible;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.bt{cursor:pointer;background:#f7f7f7 url(../../images/wind_green/btn.png) 0 -52px repeat-x;vertical-align:middle;border-color: #e4e4e4 #cccccc #cccccc #e4e4e4;}
/*伪类按钮*/
.bta{cursor:pointer;color:#333333;padding:2px 8px;background:#f4ffe8;margin:2px;white-space:nowrap;border:1px solid #ebfad3;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.abtn2 a{border:1px solid #fbfdff;padding:2px 4px 1px;color:#555;}
.abtn2 a:hover{border:1px solid #2195d2;color:#2195d2;text-decoration:none;background:#fff;}
/*form*/
textarea,input,select{font:12px Arial;padding:1px 3px 0 3px;vertical-align:middle;margin-bottom:1px;}
select{border:solid 1px #ebfad3;}
.input{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;padding:2px 0px 2px 1px;font-size:1.0em;vertical-align:middle;color:#000;}
textarea{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;}
/*全局*/
.new_topbar{width:960px;margin:auto;min-width:800px;overflow:hidden;}
#header{min-width:980px;background:url(../../images/wind_green/bg.png) 0 -2px repeat-x}
	#head{width:960px;max-width:1200px;margin:0 auto;}
	#nav{width:960px;max-width:1200px;margin:auto;height:35px;background-color:#176eac;}
#main{width:960px;max-width:1200px;margin:0 auto;}  /*内容*/
#footer{padding:0 0 30px;width:960px;margin:0 auto;max-width:1200px;}
	.bottom{margin:0 auto 10px;border:1px solid #ebfad3;background:#f4ffe8;}
	.bottom ul{ padding:5px; margin:0; list-style:none;}
	.bottom ul li{ padding:0 10px 0 0;display:inline;}
	.bottom ul li a{white-space:nowrap;}
/*位置*/
#breadCrumb{padding:10px;color:#999;background:url(../../images/wind_green/bg.png) 0 -10px repeat-x;border-top:1px solid #b8db7e;zoom:1;}
/*公告*/
.noticebg{background:url(../../images/wind_green/bg.png) 0 -10px repeat-x;}
	#notice{padding:10px;background:url(../../images/wind_green/file/anc.png) 12px 12px no-repeat;}
	#notice li{list-style:none;float:left;white-space:nowrap;padding-left:1.6em;height:18px;}
	#notice a{padding-right:.5em;}
/*文字ad*/
.ad-text{margin:0 auto 8px;border:1px solid #ebfad3;border-bottom:0;background:#ffffff;}
.ad-text .tr3 td,.ad-text .tr3 th{border-bottom:1px solid #ebfad3;padding:.4em .6em;}
/*栏目导航*/
#nav-global,.nav-left,.nav-right{background:url(../../images/wind_green/nav-bg.png);}
.nav-left,.nav-right{width:5px;height:35px;}
.nav-left{ background-position:0 0;_margin-right:-3px;}
.nav-right{ background-position:0 -70px;_margin-left:-3px;}
#nav-global{ background-position:0 -35px;height:35px;overflow:hidden;}
	#nav-global ul{font-size:14px;padding-left:10px;}
		#nav-global li,#nav-global li a{background:url(../../images/wind_green/nav-cur.png) 999em 999em no-repeat;}
		#nav-global li{margin:5px 0 0 0;float:left;}
		#nav-global li a{float:left;color:#ffffff;padding:0 10px;height:27px;line-height:23px;outline:none;font-weight:700;}
		#nav-global li a:hover{color:#ffea00; text-decoration:none;}
		#nav-global .current{background-position:left top;line-height:33px;height:33px;margin:2px 5px 0;}
		#nav-global .current a,#nav-global .current a:hover{background-position:right top;color:#659b05;display:inline;line-height:33px;height:33px;padding:0 19px; text-decoration:none;}
	#td_mymenu,#td_mymenu_old{background:url(../../images/wind_green/shortcut.gif) 0 0 no-repeat;color:#555;}/*快捷导航*/
	#td_mymenu_old{background-position:0px bottom;color:#888;}
	#nav-s{background:url(../../images/wind_green/nav-search.png);width:270px;height:35px;overflow:hidden; float:right;_margin-left:-3px;}
		#nav-s .fr{margin:9px 20px 0 0;*margin:11px 20px 0 0;line-height:14px;}
		.s-btn,.s-input{background:none;border:0;}
		.s-btn{ cursor:pointer;width:55px;height:21px;vertical-align:middle !important;vertical-align:baseline;margin:5px 0 0 1px;}
		.s-input{height:17px;padding:4px 1px 0;width:150px;margin:5px 0 0 10px;float:left;}
.index-info{background:#ffffff;width:960px;max-width:1200px;margin:0 auto;}
	.index-info td{padding:3px 0 2px 10px;line-height:24px;}
	.index-info a{margin-right:10px;white-space:nowrap;}
.forum-info{background:#ffffff;padding:0 10px 6px 10px;line-height:1;border-bottom:1px solid #b8db7e;}
/*用户登录*/
.user-table td{padding:1em 1em .5em 2em;}
/*table*/
.t{border:1px solid #b8db7e;background:#ffffff;padding:1px;}
.t table{width:100%;*border:1px solid #ffffff;}
.t3{margin:5px auto;}
.t5{border:1px solid #ebfad3;}
.t,.t5{margin:0 auto 10px; height:auto; overflow:hidden;}
/*table head*/
.h{border-bottom:1px solid #cbeb95;background:#f4ffe1;text-align:left;color:#659b05;padding:2px 10px 0; line-height:220%;}
.h span{font-weight:normal;}
.h h2{font-weight:bold}
.h a{font-family:Arial;color:#659b05}
.h span a,.h span{color:#659b05;}
.closeicon{margin-top:.3em}
.cate_fold{padding:0 5px 0 5px;margin-bottom:2px;text-decoration:none;}
.cate_fold:hover{text-decoration:none;}
/*table tr1*/
.tr1 th{padding:5px 10px;text-align:left;vertical-align:top;font-weight:normal;}
.tr1 td.td1{border-bottom:1px solid #ebfad3;}
/*table tr2*/
.tr2{background:#ffffff url(../../images/wind_green/tr2.png) 0 bottom repeat-x;color:#888888;}
.tr2 td,.tr2 th{line-height:18px;border-bottom:1px solid #ebfad3;padding:2px 6px;*padding:4px 6px 1px;}
.tr2 a{color:#659b05;margin:0 2px 0;}
/*table tr3*/
.tr3 td,.tr3 th{border-bottom:1px solid #ebfad3;padding:.6em;line-height:1.3;}
.tr3 th{text-align:left;font-weight:normal;}
.z .tr3:hover{background:#f4ffe8;}
.tr td,.tr th{padding:2px}
.tr5 td{border-right:1px solid #ebfad3;border-bottom:1px solid #ebfad3;padding-left:.5em;}/*帖子表格*/
/*浏览页*/
h1,.read_h1{font-size:16px;margin:15px;color:#3366cc; font-weight:700;line-height:1;}
.honor{color:#777;padding:0 10px 5px 0;overflow:hidden;}
.tpc_content{font-family:Arial;padding:0 15px 20px 15px;margin:0;line-height:2em;}
.tpc_content font{line-height:1.5em;}
.tpc_content a{text-decoration:none;color:#0070AF;}
.tpc_content a:hover{text-decoration:underline}
.tpc_content ol{list-style-type:decimal;}
.tpc_content ul{list-style-type:disc;}
.tips{background:#f4ffe8;border:1px solid #ebfad3;padding:3px 5px;}
.tips2{padding:10px 0;border-top:1px dashed #ebfad3;}
.tips,.tips2{margin:5px 15px 5px 15px;text-align:left;line-height:24px;float:left;display:inline;}
.tips2 li{list-style:none;width:30%;height:24px;min-width:210px;margin:0 10px 0 0;float:left;overflow:hidden;text-overflow:ellipsis;}
.tiptop{border-bottom:1px dashed #ccc ;padding:0 0 0 1px;height:27px;line-height:27px;margin:0 15px;}
.tipad{margin:20px 15px 10px;}
.tipad .fr a{color:#888;}
blockquote{padding-left:1em;}
.blockquote3{clear:left;border:1px dashed #CCC;background:#f7f7f7 url(../../images/blockquote3.png) right top no-repeat;margin:10px 0 0;padding:5px 10px;}
.blockquote3 .quote{color:#999;font-size:12px;}
.blockquote3 .text{padding:0 10px 10px 10px;}
.blockquote{zoom:1;padding:5px 8px 5px;line-height:1.3;border:1px solid #fcefbb;background:#fffff3;color:#000;margin:0 15px;}
.block-img{background:#fffae1 url(../../images/attention.png) 8px 6px no-repeat;padding-left:28px;margin:0 15px 10px;}
.blockquote2{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;margin:0px;padding:0 0 0 2em;line-height:2em;overflow:hidden;background:#fff}
.blockquote2 ol{margin:0 0 0 1.5em;padding:0;}
.blockquote2 ol li{border-left:1px solid #ccc;background:#f7f7f7;padding-left:10px;font-size:12px;font-family:"Courier New" serif;list-style-type:decimal-leading-zero;padding-right:1em;}
.blockquote2 ol li:hover{background:#fff;color:#008ef1;}
.blockquote2 ol li{list-style-type:decimal;}
.read_form{border-top:1px solid #ebfad3;border-left:1px solid #ebfad3;background:#f4ffe8;}
.read_form td{height:20px;padding:0 5px;border-right:1px solid #ebfad3;border-bottom:1px solid #ebfad3;}
/*pages*/
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:3px;}
.pages a{border:1px solid #ebfad3;background:#ffffff;padding:0 7px;}
.pages b,.pages a:hover{background:#659b05;color:#ffffff;border:1px solid #659b05;text-decoration:none;padding:0 7px;}
.pages .pagesone{border:1px solid #ebfad3;background:#ffffff;font:11px Verdana;line-height:18px;height:18px;padding-right:1px;}
.pages input{border:1px solid #ebfad3;padding:0;font:10px/12px Verdana;margin-top:1px;float:left;height:14px;}
.pages .pagesone span{float:left;margin:0 5px;}
.pages .c{width:1px;}
.pages button{height:16px;border:1px solid #b8db7e;background:#ebfad3;color:#659b05;margin:1px 0 0 1px;cursor:pointer;float:left;line-height:12px;}
/*5像素圆角*/
.y-bg2,.y-bg3,.y-bg4{background:#ffffff;}
.y-bg{margin:0 4px;border-top:1px solid #ebfad3;}
.y-bg2{margin:0 2px;height:1px;border:2px solid #ebfad3;border-top:0;border-bottom:0;overflow:hidden;}
.y-bg3{margin:0 1px;height:2px;border:1px solid #ebfad3;border-top:0;border-bottom:0;overflow:hidden;}
.y-bg4{padding:0 10px;border:1px solid #ebfad3;border-top:0;border-bottom:0;overflow:hidden;}
/*menu*/
.menu{position:absolute;background:#fff;border:1px solid #ebfad3;}
.menu a{display:block;padding:4px 8px;}
/*下拉框*/
.menu-post{border:1px solid #b8db7e;}
.menu-post .menu-b{background:#ffffff;border:3px solid #ebfad3;}
.menu_tasksA .menu-b{border-width:8px;}
/*弹出框 popout*/
.popoutContent{background:#ffffff;border:1px solid #b8db7e;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=90);_filter:Alpha(opacity=90);opacity:.9;overflow:hidden; z-index:1005; line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:5px;height:5px;background:#b8db7e;}
.bgcorner1{background-position: 0 0 }
.bgcorner2{background-position: -5px 0 }
.bgcorner3{background-position: -5px -5px}
.bgcorner4{background-position:0 -5px}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#b8db7e;}
.pobg1{height:5px; }
.pobg2{width:5px;}
.pobg3{height:5px;}
.pobg4{width:5px;}
.popoutContent td{padding:.5em .6em;border-bottom:1px solid #ebfad3;}
.popoutContent td td{border-bottom:none;padding:.3em 1em .3em 0;}
/*span color 数值自定义*/
.black,.black a{color:#333}
.s1{color:#008000;} /*绿*/
.s2{color:#984B98;} /*紫*/
.s3{color:#ff6600;} /*橙*/
.s4,.s4 a{color:#3366cc;} /*蓝*/
.s5 a{color:#659b05;}
.gray,.gray a{color:#888888;} /*次要字颜色*/
.gray2,.gray2 a{color:#bbbbbb;}
.red{color:#ff0000;}/*红*/
/*登录*/
.mr5{margin-right:5px;}
a.select_arrow{background:url(../../images/select_arrow.gif) no-repeat;display:block;text-indent:-2000em;height:15px;width:15px;margin:0 2px 0 0;overflow:hidden;}
a.select_arrow:hover{background:url(../../images/select_arrow_over.gif) no-repeat;}
.sel_name li{border-bottom:1px solid #ebfad3;}
/*tab*/
.pw_list_a{border-bottom:1px solid #cbeb95;background:#f4ffe1;color:#659b05;}
.pw_list_a li a{color:#659b05;}
.pw_list_a .current a{border:1px solid #b8db7e;background:#ffffff;border-bottom:0;color:#888888;}
.pw_list_a li.none a{border:1px solid #b8db7e;background:#f4fbeb;margin-left:5px;}
 /*自定义css*/
