@charset "gb18030";
/*a link 基本连接颜色*/
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#ba1d06;}

.acolor1 a,.red a,.red{color:#D20014}
.acolor1 span a{color:#333333;}


.w-170{width:170px;overflow:hidden;}
.w-780{width:780px;overflow:hidden;}

/*左边*/
.channel-logo{background:url(auto-logo.jpg);height:30px;color:#fff;line-height:35px; padding-right:10px; text-align:right;padding-top:30px;}
.channel-list{background:#000;padding:0 10px 10px;line-height:32px;}
.channel-list li{border-bottom:1px solid #666; color:#888}
.channel-list li a{ font-weight:700; font-size:14px;color:#fff;margin-right:10px;}

.channel-side{border:1px solid #D2D2D2;}
.channel-side h2{background:#FCFCFC;color:#D20014; font-size:14px; font-weight:700;padding-left:10px;line-height:30px;border-bottom:1px solid #D2D2D2;}

.channel-hot{background:#DCDCDC url(channel-hot-auto1.png) no-repeat;}
.channel-hot-wrap{ background:url(channel-hot-auto2.png) left bottom no-repeat}
.channel-hot th,.channel-box th{width:300px; font-weight:500;}
	.hot_icon{background:url(women_h1.png) left center no-repeat;color:#ffffff;width:90px;height:29px; text-align:center;line-height:28px;margin-right:10px;}
.channel-hot td .box_two h4{line-height:30px; text-align:center}
.channel-hot td .box_two h4 a{color:#fff; text-decoration:underline}
.channel-hot td .box_two p{padding:5px 20px 0 0; color:#fff}
.channel-hot h2{ line-height:32px; font-weight:700;}
div.dashline{height:1px; line-height:1px;border-bottom:1px dashed #999;}


.list_50 li{width:48.5%;float:left;padding-right:1%;}
.list_50 li img{width:80px;height:70px;margin-right:5px;}
.list_50 li h4{height:18px;overflow:hidden;}
.list_50 li h4 a{ font-weight:700; }
.list_50 li p{height:55px;overflow:hidden;color:#888;}

.list_overflow li{height:24px;overflow:hidden;line-height:24px;}

.channel-box h2{ height:40px;line-height:40px;padding-left:5em; color:#D20014}
.channel-box h2 span{padding:0 70px 0 10px; font-size:14px;font-weight:700; }
.channel-box h2 a{ color:#787878;}
.channel-box table{margin-top:20px;}
.channel-box table th,.child_box table td{ vertical-align:top;}
.channel-box th{border-right:1px dashed #e0e0e0}
.channel-box th ul{padding:0 10px;margin-top:-4px;}
.channel-box td{padding:0 10px;}
.channel-box td .box_two p{background:#ffebf6;padding:3px 5px;}
.channel-box ul{margin-top:5px;}
.channel-box .list_50{padding-bottom:5px;}
.channel-box ul span{color:#D20014;}
.channel-box ul .fr{color:#888;}

.channel-box th h4,.channel-box th p{padding-right:10px;}
.channel-box th h4{padding-right:10px; font-size:14px;}
.channel-box th p{color:#888888;}
.channel-box th img{width:120px;height:110px;margin:0 10px 10px 10px;}
.channel-box td{padding:0 10px;}
.channel-box td ul{line-height:24px;margin-top:-4px;}


.auto-t1 h2{ background:url(auto-t1.jpg) no-repeat;}
.auto-t2 h2{ background:url(auto-t2.jpg) no-repeat;}
.auto-t3 h2{ background:url(auto-t3.jpg) no-repeat;}

.w420{ width:420px;}
.w340{ width:340px;}
.w220{ width:220px;}
.w100{ width:100px;}
.piclist1 img{ width:124px; height:86px; padding:2px; border:1px solid #ccc; float:left; margin:5px 0 5px 10px;   }

.piclist2 li{ width:130px;float:left; margin:5px 0 5px 10px; text-align:center; color:#D20014}
.piclist2 li img{ width:124px; height:86px; padding:2px; border:1px solid #ccc; }
.piclist2 li a{ color#333}
.pic100 img{ width:100px; height:75px}
.pic100 li{ padding:10px 0}

/*通用*/
.box_one{padding:0 10px 10px;}
.box_one a{display:block;margin-top:10px;display:inline-block;}
.box_one a:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.box_one a{display: inline-block;}/* Hides from IE-mac \*/
* html .box_one a{height: 1%;}
.box_one a{display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.box_one img{width:80px;height:60px;float:left;margin:1px 5px 0 0;}
.box_one p{font-size:14px;height:62px;overflow:hidden;}

.box_two h4{font-weight:700;font-size:14px;}

.box_img a{float:left;}
.box_img a img{margin:0 10px;width:130px;height:90px;}
.box_img a p{padding:5px 0 10px; text-align:center;}

.box a img{margin:0 10px 10px 0;width:130px;height:100px;}
.box h4{ font-size:14px;padding:0 0 4px;}
.box p{color:#888;}
.box a p{margin-top:-5px;overflow:hidden; text-align:center; cursor:pointer;height:18px;color:#006699;}
.box a:hover p{color:#990000;}