<!--<?php
include_once PrintEot('left');
print<<<EOT
-->
<h2 class="h1 mb10"><a href="$admin_file?adminjob=app&admintype=appslist">返回基础应用列表</a></h2>
<!--
EOT;
if(!$action){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li class="current"><a href="$basename">记录设置</a></li>
</ul>
</div>
<form action="$basename&" method="post">
  <input type="hidden" name="step" value="3">
  <h3 class="h1"><span class="mr20">记录积分奖惩设置</span><span class="linka">注:<b>威望积分</b>支持小数点后一位，其他积分只允许整数！</span></h3>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td>积分名称</td>
      <td>发表记录(+)</td>
      <td>删除记录(-)</td>
    </tr>
<!--
EOT;
foreach($credit->cType as $key => $value){print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$value</td>
      <td class="td2"><input name="creditset[Post][$key]" value="{$creditset[Post][$key]}" class="input input_wc" /></td>
      <td class="td2"><input name="creditset[Delete][$key]" value="{$creditset[Delete][$key]}" class="input input_wc" /></td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
  </table>
  </div>
  <h3 class="h1"><span class="mr20">记录积分流通记录</span><span class="linka">此功能可以详细记录某种积分的流通情况，帮助站长更加清晰地掌握论坛的积分状况！</span></h3>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td>积分名称</td>
      <td>发表记录</td>
      <td>删除记录</td>
    </tr>
    <!--
EOT;
foreach($credit->cType as $key => $value){print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$value</td>
      <td class="td2"><input type="checkbox" name="creditlog[Post][$key]" value="1" {$creditlog[Post][$key]} /></td>
      <td class="td2"><input type="checkbox" name="creditlog[Delete][$key]" value="1" {$creditlog[Delete][$key]} /></td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
  </table>
  </div>
  <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
</form>
<!--
EOT;
}elseif($action == 'writes'){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li class="current"><a href="$basename&action=writes">记录管理</a></li>
</ul>
</div>
<!--
EOT;
if (!$job){print <<<EOT
-->
<script language="JavaScript" src="js/date.js"></script>
<form method="POST" action="$basename&action=writes&job=list&">
  <h2 class="h1">记录搜索</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td1">记录内容</td>
      <td class="td2"><input type="text" name="content" value="" class="input input_wa"></td>
      <td class="td2" width="100"><!--记录内容（可使用通配符“*”）--></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">作者名称</td>
      <td class="td2"><input type="text" name="username" value="" class="input input_wa"></td>
      <td class="td2"><!--作者名称（可使用通配符“*”）--></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">发表日期</td>
      <td class="td2">
      	<div class="input_img fl"><i class="input_time" title="选择时间">选择时间</i><input type="text" name="postdate_s" value="" id="postdate_s" onclick="javascript:ShowCalendar(this.id)"></div><span class="p_lr_10 fl">至</span><div class="input_img fl"><i class="input_time" title="选择时间">选择时间</i><input type="text" name="postdate_e" id="postdate_e" value="" onclick="javascript:ShowCalendar(this.id)"></div>
        </td>
        <td class="td2">&nbsp;</td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">顺序</td>
      <td class="td2"><span class="cc  fl"></span>
     		 <ul class="cc list_80 list_A mr20 fl">
                	<li><input type="radio" name="ordertype" value="asc">正序</li>
                    <li><input type="radio" name="ordertype" value="desc" checked="checked">倒序</li>
             </ul>按发表时间排序 
        </td>
        <td class="td2">&nbsp;</td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">每页显示条数</td>
      <td class="td2"><input type="text" name="lines" value="30" class="input input_wa"></td>
      <td class="td2">&nbsp;</td>
    </tr>
  </table>
  </div>
  <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
</form>
<!--
EOT;
} elseif ($job == 'list') {print<<<EOT
-->
<form method="POST" action="$basename&action=writes&">
  <input type="hidden" name="job" value="delete">
  <input type="hidden" name="content" value="$content">
  <input type="hidden" name="username" value="$username">
  <input type="hidden" name="postdate_s" value="$postdate_s">
  <input type="hidden" name="postdate_e" value="$postdate_e">
  <input type="hidden" name="ordertype" value="$ordertype">
  <input type="hidden" name="page" value="$page">
  <input type="hidden" name="lines" value="$lines">
  <h2 class="h1">记录列表</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td>ID</td>
      <td>内容</td>
      <td>作者</td>
      <td>按发表时间排序</td>
      <td>来源</td>
      <td>评论数</td>
      <td>删除</td>
    </tr>
    <!--
EOT;
$db_blogsource = array('web'=>'网页','signature'=>'个性签名','other'=>'其他');
foreach ($writedb as $key => $write) {
if(!$write['content'])continue;
$key+=($page-1)*$lines+1;
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$key</td>
      <td class="td2">$write[s_content]</td>
      <td class="td2"><a href="u.php?action=show&uid=$write[uid]" target="_blank">$write[username]</a></td>
      <td class="td2">$write[postdate]</td>
      <td class="td2">{$db_blogsource[$write[source]]}</td>
      <td class="td2"><!--
EOT;
if ($write['c_num'] > 0) {print <<<EOT
-->
        <a href="$admin_file?adminjob=mode&admintype=o_comments&job=list&type=write&typeid=$write[id]">$write[c_num]</a>
        <!--
EOT;
} else {print <<<EOT
-->
        0
        <!--
EOT;
}print <<<EOT
-->
      </td>
      <td class="td2"><input type="checkbox" name="selid[]" value="$write[id]"></td>
    </tr>
    <!--
EOT;
}print<<<EOT
-->
  </table>
  </div>
  <div class="cc">$pages</div>
  <div class="mb10 tac">
    <span class="bt"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全 选</button></span></span>
    <span class="btn"><span><button type="submit" onclick="return checkdel();">提 交</button></span></span>
   </div>
</form>
<script language="JavaScript">
function checkdel(){
	if(confirm("确定要删除所选记录吗？" )){
		return true;
	}else{
		return false;
	}
}
</script>
<!--
EOT;
}}include_once PrintEot('adminbottom');
?>-->
