<!--<?php
print <<<EOT
-->
<!-- 
EOT;
if($cssForum){
print <<<EOT
-->
<div class="c"></div>
<link rel="stylesheet" type="text/css" href="$pwModeImg/app.css" />
<!-- 
EOT;
}
print <<<EOT
-->
<div id="content" class="fr">
	<div style="padding:15px 15px 0;">
		<div class="app-title cc">
<!--
EOT;
if($mode == 'o'){print<<<EOT
-->
			<a href="{$basename}space=1" class="gray fr">进入个人空间浏览&raquo;</a>
<!--
EOT;
}print<<<EOT
-->
			<span>记录</span>
		</div>
		<div class="tabB cc">
			<ul>
				<li id="type_new"><a href="{$basename}">最新记录</a></li>
				<li id="type_view"><a href="{$basename}do=view">我发表的</a></li>
				<li id="type_my"><a href="{$basename}do=my">@我的</a></li>
<!--
EOT;
$b = $do;
$u && $u != $winduid && $b = 'new';
print <<<EOT
-->
<script language="JavaScript">
setCurrent('type_$b','type_new','current');
function submitwrite(o) {
	if (getObj('writetext').value == '' || getObj('writetext').value == '想说点什么?') {
		showDialog('error','记录内容必须在3～255个字节之间');
		return false;
	}
	ajax.submit(o);
	return true;
}
</script>
			</ul>
		</div>
    </div>
    <div id="content_main" class="fl">
    	<table width="100%">
        <tr class="vt"><td height="400">
        <div class="p15">
<!--
EOT;
if ($u==$winduid) {print <<<EOT
-->
	<form method="post" action="{$basename}ajax=1&do=post" onsubmit="return false;">
	<div class="p10" style="padding-bottom:0;">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="tr4"><td class="vt" width="50"><img src="$faceimg" class="img-50" /></td>
			<td style="">
					<div class="bubbles mb10">
					<div>
					<p class="fl">
					<input type="text" name="text" id="writetext" onfocus="if(this.value == '想说点什么?')this.value=''" style="width:280px;height:auto;overflow:hidden;" value="想说点什么?"></p>
					</div>
					</div>
					<div style="padding-left:10px;"><span class="fr gray" style="padding-left:10px;" id="writetext_warn">限 255 字节</span>
<!--
EOT;
if($_G['allowhonor']){
print <<<EOT
-->
					<input id="writetosign" name="tosign" type="checkbox" value="1" style=" vertical-align:middle;margin-bottom:1px;margin-right:2px;" checked="checked"/>同步个性签名
<!-- 
EOT;
}
print <<<EOT
-->		
					</div>
				</td>
				<td class="vt"><input type="image" src="$pwModeImg/btn_write.png" style="width:60px;height:60px;" id="write_button" onclick="submitwrite(this.form)" /></td>
			</tr>
		</table>
	</div>
	</form>
<script language="JavaScript">
var charset = '$db_charset';
initCheckTextNum('writetext','writetext_warn',255);
function write_quickpost(event){
	if((event.ctrlKey && event.keyCode == 13) || (event.altKey && event.keyCode == 83)){
		getObj('write_button').click();
	}
}
</script>
<!--
EOT;
}print <<<EOT
-->
	<div class="p10" style="padding-top:0;">
	<table cellpadding="0" cellspacing="0" width="100%">
<!--
EOT;
if (!empty($writedata)) {
$db_blogsource = array('web'=>'网页','signature'=>'个性签名','other'=>'其他');
foreach ($writedata as $key => $value) {print <<<EOT
-->
		<tr id="write_$value[id]" class="tr4 vt">
<!--
EOT;
if($do == 'view' && $faceimg){print <<<EOT
-->
		<th width="50"><img class="img-50" src="$faceimg"/></th>
<!--
EOT;
}elseif($value[icon]){print <<<EOT
-->
		<th width="50"><img class="img-50" src="$value[icon]"/></th>
<!--
EOT;
}print <<<EOT
-->
		<td>
<!--
EOT;
if($do == 'view'){print <<<EOT
-->
			<a href="u.php?uid=$uinfo[uid]" class="f14">$uinfo[username]</a>
<!--
EOT;
}else{print <<<EOT
-->
			<a href="u.php?uid=$value[uid]" class="f14">$value[username]</a>
<!--
EOT;
}if (isset($touids[$value['touid']])) {print <<<EOT
-->
			@<a class="f14" href="u.php?uid=$value[touid]">{$touids[$value['touid']]}</a>
<!--
EOT;
}print <<<EOT
-->
		<span class="gray w f10">{$value[postdate]} 通过{$db_blogsource[$value[source]]} </span>
		<p class="f14">$value[content]</p>
        <span class="fr">
<!--
EOT;
if($groupid == 3 || $value[uid]==$winduid){print <<<EOT
-->
			<a href="{$basename}do=del&ajax=1&id=$value[id]" onclick="ajaxurl(this);getObj('write_$value[id]').parentNode.removeChild(getObj('write_$value[id]'));return false;" class="del" title="删除">删除</a>
<!--
EOT;
}print <<<EOT
-->
		</span>

			<div id="com_write_$value[id]" class="fl">
				<a style="cursor: pointer;" onclick="javascript:showCommList('write','$value[id]','com_write_$value[id]',this)">回复({$value[c_num]})</a>
			</div>
<!--
EOT;
}print <<<EOT
-->
			</td></tr>
<!--
EOT;
} else {print <<<EOT
-->
			<tr><td class="p10">暂时没有记录</td></tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
	</div>
			<div class="p10 cc">$pages</div>
		</div>
        </td></tr></table>
    </div>
<!--
EOT;
if($do == 'my'){print <<<EOT
-->
<div id="sidebar" class="fr">
	<div class="p15">
        <div class="lh24">
        <p>什么是@我的？</p>
        <p class="gray">@用户名(空格)想说的话 即可直接和对方交流哦~</p>
        <p class="gray">例如"@<a href="javascript:;" class="gray">meinv</a> 我想你"</p>
        </div>
	</div>
</div>
<!--
EOT;
}print <<<EOT
-->
</div>
<script language="JavaScript">
function ajaxurl(o) {
	read.obj = o;
	ajax.send(o.href,'',ajax.get);
	return false;
}
</script>
<script language="JavaScript" src="js/app_comment.js"></script>
<!--
EOT;
?>-->