/* common */
body{margin:0 0 0 0;padding:0;background-color:#FFF;SCROLLBAR-FACE-COLOR: #fcfcfc; SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90;SCROLLBAR-SHADOW-COLOR: #fcfcfc;SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;SCROLLBAR-ARROW-COLOR: #240024;SCROLLBAR-TRACK-COLOR: #fcfcfc;SCROLLBAR-DARKSHADOW-COLOR: #48486c;SCROLLBAR-BASE-COLOR: #fcfcfc;}
div,h1,h2,span,form,ul,li,img,iframe{margin:0;padding:0;border:0}
iframe{overflow:;}
body,td,p,li,select,input{font-size:12px; font-family: "微软雅黑", "宋体", "幼圆", Arial, Helvetica, sans-serif;}
td,th{ padding:0;line-height:23px; color: #080808;border:1px solid #CCCCCC;} 
.txInput{border:1px solid #3B6592}
.fLeft{float:left}
.fRig{float:right}
.cls{font: 0px/0px sans-serif; clear: both;display: block}
a{text-decoration:none;color:#174B73}
a:hover{ text-decoration:underline}
.c{ text-align:center;}
.l{ text-align:left;}
.pad5{ padding:5px;}
.h30{height:30px}
.scroll{OVERFLOW-Y: auto;OVERFLOW-X: none; SCROLLBAR-FACE-COLOR: #EDF9FE; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #7ECEF4; SCROLLBAR-3DLIGHT-COLOR:#7ECEF4; SCROLLBAR-ARROW-COLOR: #7ECEF4;SCROLLBAR-TRACK-COLOR: #EDF9FE; SCROLLBAR-DARKSHADOW-COLOR: #ffffff;}
.divMsg{padding: 5px; margin:1px; border:1px solid #88ACD9; background-color:#F2FAFE;text-align:left;width:380px;}
#hiddenselect{height:22px;}
/* top logo */
#divTopMsg{height:38px;position:relative} 
#aLogo img{position:absolute; top:5px;left:11px}
#aLogo img.logo{position:absolute; top:7px;left:11px}
#divUsrMsg{position:absolute; left:175px; top:-5px;top: 7px; left: 152px; z-index: 99;}	
#divToplink{ margin-right:3px!important; margin-right:0; top:-2px}	
#divToplink a{padding:0 3px 0 3px}  

/* 主导航按钮 */
#divTopNav{height:44px}    
#divTopNav{background:url(../../images/default/admin/topnav_bg.jpg) repeat-x #73A2D6;}

/* menu */
#ulTopNav{margin-left:4px;text-align:center;list-style-type: none;}	
#ulTopNav li{float:left;margin-top:8px;list-style-type:none;font-weight:bold}	
#ulTopNav li a{width:90px;height:26px;margin-top:5px;display:block;line-height:26px}	  
#ulTopNav li a.navOn{height:30px; margin:0;border:0;line-height:30px; padding-top:5px;}	
#ulTopNav li ul { line-height: 27px; list-style-type: none;text-align:left;left: -999em; width: 180px; position: absolute;}
#ulTopNav li ul li{float: left; width: 180px;background: #F6F6F6; font-weight:300;margin-top:0px;z-index:100000; border-left:solid 1px #000033; border-bottom:solid 1px #000033; border-right:solid 1px #000033;}
#ulTopNav li ul a{display: block; width: 156px;text-align:left;padding-left:24px;z-index:100000;}
#ulTopNav li ul a:link  {color:#666; text-decoration:none;}
#ulTopNav li ul a:visited  {color:#666;text-decoration:none;}
#ulTopNav li ul a:hover  {color:#F3F3F3;text-decoration:none;font-weight:normal;background:#C00;}
#ulTopNav li:hover ul {left: auto;}
#ulTopNav li.sfhover ul {left: auto;}

a.navNml{border-top:0px solid #ADBBC7;border-bottom:0px solid #5085C5;background-image:url(../../images/default/admin/topnav_sep.gif); background-repeat:repeat-x; background-position:0% 50%}
a.navNml:hover{text-decoration:none}
a.navOn{background-image:url(../../images/default/admin/topnav_on.gif)}
a.noSep,a.last{ background-image:none}
/* classes */
#ClassesMenu{margin:1px;text-align:center;list-style-type: none; width:35%;}
#ClassesMenu #menutitle{padding: 5px; margin:0px; border:1px solid #88ACD9; background-color:#F2FAFE;text-align:left;width:220px;}
#ClassesMenu #title{ height:350px; border:1px solid #7ECEF4; background-color:#FFFFFF;}
#ClassesMenu a {display: block;}
#ClassesMenu li{float:left;margin-top:8px;list-style-type:none;}	
#ClassesMenu li ul { list-style-type: none;text-align:left;left: -999em; width: 300px; position: absolute;}
#ClassesMenu li ul li{margin-top:3px;width: 280px; margin-left:3px;line-height: 16px; }
#ClassesMenu li:hover ul {left: auto;}
#ClassesMenu li.sfhover ul {left: auto;}
/* search */
#divSearch{float:right;margin-top:14px}	  
.searchICO{width:18px; height:17px!important; height:18px; border-right:0}	  
#divSearch input{ height:19px!important;height:18px}	  
#divSearch input.btnFnt{width:67px;height/**/:19px; margin-left:8px;padding-left:4px;cursor:pointer; padding-top:1px}
.sfhover a{color:#4696EE;}	
/* font */
.f14c{font-size:14px;color:#436E9D}
.f14e{font-size:14px;color:#FFF}
.fc{ color:#666666;}
.fb{font-weight:600;}
.f12{font-size:12px;}
/* main body */
#BodyContent{border:1px solid #88ACD9; padding:0px; margin:0px;}
#divMainBodyTop{ padding:5px;height:25px; background-color:#73A2D6; border:1px solid #88ACD9;color:#FFFFFF;}
#divMainBodyContent{padding: 2px 2px 2px 5px; border-bottom:1px solid #E5E5E5;}
#divMainBodyContent #divMainBodyContentTitle{ float:left; width:180px;}
#divMainBodyContentSumbit{text-align:center;border:1px solid #88ACD9;padding:5px;}
/* productlist */
#productlist{list-style-type: none;}
#productlist li{width:60px; text-align:left;float:left;list-style-type:none; height:35px; }
/* orderlist */
#orderlist{list-style-type: none;}
#orderlist li{ padding:5px; float:left;}
/* user */
#userlist{list-style-type: none;}
#userlist li{width: 80px; text-align:left;float:left;list-style-type:none;}
/* ====== iframeshop ===== */
#s_content{
	width:682px;
	border:#436E9D solid 1px;
	background:#ffffff;
}
#s_nav{ height:34px; margin:0px; padding:0px; background-image:url(../../images/default/admin/topnav_bg.jpg); }
#s_nav ul{ margin:0px; padding:0px; list-style:none;}
#s_nav li{ float:left; cursor:pointer; margin:0px 2px; font-size:14px; padding:0px 10px; height:34px; line-height:34px; text-align:center; color:#436E9D;  font-weight:bold;}
#s_nav .s_nav_cur{ color:#FF0000;}
#close{ width:16px; height:16px; float:right; margin:8px; cursor:pointer;}
.s_div{ margin:10px;}
.decss{ font-size:14px;}
.createpic{ float:left; padding:2px;}
.tags_css{ margin:5px 0px; padding:0px;}
.tags_css ul{ margin:0px; padding:0px; list-style:none;}
.tags_css li{ float:left;}
.tags_css li a{
	display: block;
	border:1px solid #93D900;
	margin:2px 1px;
	padding:5px;
	text-align:center;
	color:#669900;
	text-decoration:none;
	font-weight:normal;
	background-color: #F4FFDD; 
	white-space:nowrap;   
}
.tags_css li a:hover{ text-decoration:underline;}
#ordersuccess{ color:#669900; border:1px solid #93D900; padding:5px; margin-bottom:2px;}
/* divClasses */
#classes{width:320px;}
#divClasses {padding:1px; font-size:14px;line-height:20px;background-color:#FFFFFF; border-right:1px #999999 dotted;}
#divClasses #divClassesTitleB{ padding:2px; border:1px solid #73A2D6; background-color:#9FBFE3;}
#divClasses #divClassesTitle{ padding:2px; border:1px solid #73A2D6; background-color:#9FBFE3; width:300px;}
#divClasses #divClassesContent{ padding:8px; color:#1A3655;}
#sortid{ float:left; width:100px;}
/* addattr */
#addattr{width:80px; border:solid 1px #006600; padding:3px; background: #E6D7F0; text-align:center; margin-left:180px;}
/* bottom */
#bottom{padding:1px; height:30px; border:1px solid #88ACD9;background-color:#9FBFE3; background-image: url(../../images/default/lister.gif)}
.w550{width:550px;}
.w85{width:85px;}