/* 编辑器 */
#mainform { margin:0; padding:0; }
#editarea { margin-top:20px; margin-left:auto; margin-right:auto; width:444px; text-align:left; font-size:12px; line-height:normal; }
#content { width:98%; height:150px; overflow:auto; clear:both; }
#f_content { width:99%; height:150px; overflow:auto; clear:both; }
#f_content_tool input,#f_content_tool select { height:20px; font-size:12px; }
.tool_img { border-top:1px #FFFFFF solid; border-left:1px #FFFFFF solid; border-right:1px #333333 solid; border-bottom:1px #333333 solid; }
.tool_img_onmousedown { border-top:1px #808080 solid; border-left:1px #808080 solid; border-right:1px #FFFFFF solid; border-bottom:1px #FFFFFF solid; }
fieldset { padding:4px; margin-bottom:6px; clear:both; }
#max_wordcount { color:#FF6600; }

.close { float:right; margin-top:-7px; margin-right:-5px; color:gray; cursor:default; }
/* 编辑器 */
