<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<meta http-equiv="X-UA-Compatible" content="IE=E0mulateIE7" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
</head>
<body>
<div id="wrapper">
{inc: include("shop/index_header.php");/}
<form name="category_form" id="category_form" method="POST" action="{echo: category_url($cat_id);/}">
<input type="hidden" name="name" value="">
<input type="hidden" name="order" value="">
<!--header end -->
<div class="path">{echo:lp{i_location};/}：<a href="index.php">{echo:lp{i_index};/}</a>>团购列表</div>

<div class="top5 clear"></div>
<div class="main2 left top5">
	<div class="top">
	  <span class="right"><a id="list" onclick="changeStyle2('list',this)" class="selected" href="javascript:void(0);" hidefocus="true">{echo:lp{i_list};/}</a><a id="window" onclick="changeStyle2('window',this)" href="javascript:void(0);" hidefocus="true">{echo:lp{i_show_window};/}</a></span>
	  <h2><a href="#">{echo:lp{i_choice_good};/}</a></h2>
	</div>
	<div class="groupShow clearfix">
		<table class="tab_group " width="100%">
			<tbody>
                <tr>
                    <th class="proName">{echo:lp{s_groupbuy_goods};/}</th>
                    <th class="groupPic">{echo:lp{s_groupbuy_price};/}</th>
                    <th class="groupQut">{echo:lp{s_groupbuy_num};/}</th>
                    <th class="groupName">{echo:lp{s_goods_name};/}</th>
                    <th class="timeLeft">{echo:lp{s_groupbuy_time};/}</th>
                </tr>
			{sta: if($result['result']) {
			foreach($result['result'] as $v)[loop]}
				<tr>
                    <td valign="middle" class="proName">
		            <div class="photo"><a href="goods.php?id={echo: $v['group_id'];/}&app=groupbuyinfo"><img src="{echo: $v['is_set_image'] ? $v['goods_thumb'] : 'skin/default/images/nopic.gif';/}" width="95" height="95" alt="{echo: $v['goods_name'];/}" /></a>
		            </div><div class="proInfo"><h3><a href="goods.php?id={echo: $v['group_id'];/}&app=groupbuyinfo">{echo: sub_str($v['group_name'],22,false);/}</a></h3>
		            <p>[团购说明]{echo: $v['group_desc'];/}</p>
		            </div></td>
                    <td class="groupPic"><em class="pic">￥{echo: $v['spec_price'];/}{echo: lp{s_yan};/}</em></td>
                    <td class="groupQut">{echo: $v['min_quantity'];/}</td>
                    <td class="groupName"><a href="goods.php?id={echo: $v['goods_id'];/}">{echo: sub_str($v['goods_name'],22,false);/}</a></td>
                    <td class="timeleft">{echo: time_left(strtotime($v['end_time']));/}</td>
                </tr>
			{end:foreach/}
			{sta: }else [exc]}
				<tr>{echo:lp{i_no_goods};/}！</tr>
			{end:if/}
			</tbody>
		</table>
		<div class="page">
			<span>{echo: str_replace("{num}",$result['countnum'],lp{s_page_num});/}</span>
			<a href="{echo: shop_url('groupbuy',$result['firstpage']);/}" >{echo: lp{s_page_first};/}</a>
			<a href="{echo: shop_url('groupbuy',$result['prepage']);/}">{echo: lp{s_page_pre};/}</a>
			<a href="{echo: shop_url('groupbuy',$result['nextpage']);/}" >{echo: lp{s_page_next};/}</a>
			<a href="{echo: shop_url('groupbuy',$result['lastpage']);/}" >{echo: lp{s_page_last};/}</a>
			<span>{echo: lp{s_page_now};/}{echo: $result['page'];/}/{echo: $result['countpage'];/}</span>
			<span>{echo: str_replace("{num}",$result['countpage'],lp{s_page_count});/}</span>
		</div>
		</div>
</div>

<!-- main end -->
<div class="main_right2 left10 top5">
    <div class="recommend2">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2 class="highlight">{echo:lp{i_boutique};/}</h2><span class="right"><a href="search.php?best=1">{echo:lp{i_more};/}>></a></span></div>
        <div class="c_m">
        	<ul>
              {sta: foreach($goods_best as $value) [loop]}
			    <li><a href="{echo: goods_url($value['goods_id']);/}"><img src="{echo: $value['is_set_image'] ? $value['goods_thumb'] : 'skin/default/images/nopic.gif';/}" alt="{echo: $value['goods_name'];/}" /> <span>{echo: sub_str($value['goods_name'],20,false);/}</span></a><label>￥{echo: $value['goods_price'];/}{echo:lp{i_yan};/}</label></li>
			  {end:foreach/}
			</ul>
        </div>
	</div>
    <div class="rank">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2 class="highlight">{echo:lp{i_hot};/}</h2><span class="right"><a href="search.php?hot=1">{echo:lp{i_more};/}>></a>&nbsp;</span></div>
        <div class="c_m">
		<ul id="promote_goods" class="cls clear">
		{sta:$i=1;/}
		{sta: foreach($goods_hot as $value)[loop]}
			<li onmouseover="promote_change(this)"><span class="num">{echo:$i;/}</span><a href="{echo: goods_url($value['goods_id']);/}"><img height="60" width="60" src="{echo: $value['is_set_image'] ? $value['goods_thumb'] : 'skin/default/images/nopic.gif';/}" alt="{echo: $value['goods_name'];/}" /> <span title="{echo: $value['goods_name'];/}">{echo: sub_str($value['goods_name'],14,false);/}</span></a><div class="price"><span>￥{echo:$value['goods_price'];/}</span></div></li>
			{sta:$i++;/}
		{end:foreach/}
		</ul>
		</div>
	</div>
    <div class="recommend2">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2 class="highlight">{echo:lp{i_new};/}</h2></div>
        <div class="c_m">
        	<ul>
			{sta: foreach($goodshistory as $value)[loop]}
              <li><a href="{echo: goods_url($value['goods_id']);/}"><img src="{echo: $value['is_set_image'] ? $value['goods_thumb'] : 'skin/default/images/nopic.gif';/}" /></a><a class="pro_name" href="{echo: goods_url($value['goods_id']);/}">{echo: sub_str($value['goods_name'],20,false);/}</a><label>￥{echo:$value['goods_price'];/}</label></li>
			{end:foreach/}
        	</ul>
        </div>
	</div>
</div>
<!--main right end-->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
</form>

</body>
</html>