<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo:lp{i_member_login};/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/area.js"></script>
<script type='text/javascript' src='./servtools/md5.js'></script>
</head>
<body>
<div id="wrapper">
{inc: include("shop/index_header.php");/}

<!--search end -->
<div class="path">{echo:lp{i_location};/}：<a href="index.php">{echo:lp{i_index};/}</a> > {echo:lp{i_member_login};/}</div>
<div class="pro_class login">
<form action="do.php?act=login" method="post" onSubmit="return checkForm();">
<TABLE class="login_table left" cellSpacing=0 cellPadding=0 border="0">
  <TR>
    <TD width=60 rowSpan=6></TD>
    <TD colspan="2" style="height:10px"></TD>
    </TR>
  <TR>
    <TD colspan="2" class="login_bg" align="left">{echo: str_replace("{iweb_mall}",$SYSINFO['sys_name'],lp{i_welcome_iwebshop});/}</TD>
    </TR>
  <TR>
    <TD width="80" align="left">{echo: lp{i_login_email};/}：</TD>
    <TD align="left" ><input name="user_email" type="text" value="{echo:$iweb_shop;/}" maxlength="200" style="width:150px" /></TD>
    </TR>
  <TR>
    <TD align="left">{echo: lp{i_login_password};/}：</TD>
    <TD align="left"><input name="user_passwd" type="password" value="" maxlength="50" style="width:150px" /><SPAN>&nbsp;&nbsp;</SPAN><a href="modules.php?app=forgot">{echo: lp{i_getback_pw};/}?</a></TD>
    </TR>
  <TR>
    <TD align="left">{echo: lp{i_verifycode};/}：</TD>
    <TD align="left"><input name="verifyCode" type="text" maxlength="4" style="width:70px" /> <img border="0" src="servtools/veriCodes.php" height="20" id="verCodePic" onclick="getVerCode();"></TD>
    </TR>

  <TR><TD></TD>
    <TD><INPUT class="button" type=submit value="{echo:lp{i_login};/}" name={echo:lp{i_login};/}></TD></TR>

</TABLE>
</form>
<TABLE cellSpacing=0 cellPadding=0 class="register_table">
  <TR>
    <TD colspan="2"></TD></TR>
  <TR>
    <TD colspan="2" class="login_bg_01">{echo:lp{i_login_info_first};/}</TD></TR>
  <TR>
    <TD colspan="2" class="login_bg_02">{echo:lp{i_login_info_sec};/}</TD></TR>
  <TR>
    <TD colspan="2" class="login_bg_03">{echo:lp{i_login_info_the};/}</TD></TR>
  <TR>
    <TD colspan="2" class="login_bg_04">{echo:lp{i_login_info_foru};/}</TD></TR>
  <TR>
    <TD width="79">&nbsp;</TD>
    <TD width="239" valign="bottom"><input class="button" type=button value={echo:lp{i_register_now};/} onclick="javascript:location.href='modules.php?app=reg'" /></TD>
  </TR>
</TABLE>
</div>
<div class="top5 clear"></div>
<script language="JavaScript">
<!--
function getVerCode() {
	document.getElementById("verCodePic").src="servtools/veriCodes.php?vc="+Math.random();
}
function checkForm() {
	var user_email = document.getElementsByName("user_email")[0];
	if(user_email.value=='') {
		alert('{echo: lp{i_email_notnone};/}');
		user_email.focus();
		return false;
	}
	var user_passwd = document.getElementsByName("user_passwd")[0];
	if(user_passwd.value=='') {
		alert('{echo: lp{i_password_notnone};/}');
		user_passwd.focus();
		return false;
	} else {
		document.getElementsByName("user_passwd")[0].value = MD5(user_passwd.value);
	}
	var verifyCode = document.getElementsByName("verifyCode")[0];
	if(verifyCode.value=='') {
		alert('{echo: lp{i_verifycode_notnone};/}');
		verifyCode.focus();
		return false;
	}
	return true;
}
//-->
</script>
<!-- main end -->
<!--main right end-->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
</body>
</html>
