<{assign var="page_title" value="`$_business_card`"}>
<{include file="header.html"}>
<script type="text/javascript">
<!--
function clip(text){
str=eval("document." + text)
str.select()
str = document.selection.createRange();
clipboardData.setData('text',(str.text));
}
//-->
</script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <div class="hint"><{$_must_input_with_star}></div>  
	
        <form name="TradeFrm" enctype="multipart/form-data" method="post" action="<{$smarty.server.PHPSELF}>">
        <input type="hidden" name="formhash" value="<{$formhash}>">
         <table class="card" >
              <tr>
                <th><{$_contact_people}></th>
                <td><input type="text" name="company[link_man]" value="<{$item.link_man}>" />
                <font class="dull_gray"><{$_full_name}></font></td>
              </tr>
              <tr>
                <th><{$_company_name_n}></th>
                <td><input name="company[name]" type="text" value="<{$item.name}>" size="35" /> 
                <font class="dull_gray"><{$_company_full_name}></font></td>
              </tr>
              <tr>
                <th><{$_phone}></th>
                <td><input name="data[telcode]" type="text" class="ip" value="<{$item.telcode}>" size="4" maxlength="4">
                -
                  <input name="data[telzone]" type="text" class="ip" value="<{$item.telzone}>" size="4" maxlength="4">
                  -
                  <input name="data[tel]" type="text" class="ip" value="<{$item.tel}>" size="10" maxlength="10" /></td>
              </tr>
              <tr>
                <th><{$_fax}></th>
                <td><input name="data[faxcode]" type="text" class="ip" value="<{$item.faxcode}>" size="4" maxlength="4">
                -
                  <input name="data[faxzone]" type="text" class="ip" value="<{$item.faxzone}>" size="4" maxlength="4">
                  -
                  <input name="data[fax]" type="text" class="ip" value="<{$item.fax}>" size="10" maxlength="10" /></td>
              </tr>
              <tr>
                <th><{$_mobile}></th>
                <td><input name="company[mobile]" type="text" id="company[mobile]" value="<{$item.mobile}>" /></td>
              </tr>
              <tr>
                <th><{$_email_addr}></th>
                <td><input name="company[email]" type="text" id="company[email]" value="<{$item.email}>" /></td>
              </tr>
                <tr>
                <td colspan="2" align="right">
                <div align="center">
                  <input name="save" type="submit" id="save" value="<{$_saving}>">
                </div></td>
              </tr>                          
			</table>
			<table class="card" >
             <tr>
                <th><{$_flash_card_code}></th>
                <td style="width:370px;"><textarea name="flash_card" style="width:350px;overflow-y:visible;height:150px;font-family:Arial"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" id="FlashVars" width="460" height="250">  
				<param name="movie" value="<{$SiteUrl}>plugins/card/mycard.swf?instanceid=<{$item.id}>">  
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="FlashVars" value="" />
				<param name="quality" value="high">   
				<param name="bgcolor" value="#FFFFFF">
				<!--[if !IE]> <-->  
				<embed src="<{$SiteUrl}>plugins/card/mycard.swf?instanceid=<{$item.id}>" quality="high" bgcolor="#ffffff" width="550" height="400" name="FlashVars" align="middle" allowScriptAccess="sameDomain" FlashVars="foo=100000" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				FAIL (the browser should render some flash content, not this).  
				</object>  
				<!--> <![endif]-->  
				</object></textarea></td>
                <td><a href="javascript:clip('TradeFrm.flash_card');" title="<{$_copy_to_clipboard}>"><{$_copy_to_clipboard}></a></td>
                <td>&nbsp;</td>
           </tr>                          
        </table>
        </form>
 
</div>
</div>
<{include file="footer.html"}>