<div class="h30"></div>
</div>
</div>
<div id="footer_bkg">
   <div id="base_page_footer">
  <div class="footer_content">
   <p><{$_aim_at}><{$site_name}><{$_have_problem_send_email}><{mailto text="`$service_email`" address="`$service_email`" encode="javascript"}> <{$_or}> <a href="<{$SiteUrl}>help/" target="_blank"><{$_view_help}></a></p> 
   <p><{$_customer_hotline}><{$service_tel}> <{$_sales_hotline}><{$sale_tel}></p>
   <p>Copyright &copy; <{$site_name}>. All rights reserved. <{$company_name}> <{$_copyright}></p>
</div>
</div>
</div>
</body>
</html>