<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title><{$page_title}> - <{$_office_room}> - <{$site_name}></title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="images/style.css" rel="stylesheet" type="text/css">
<script src="../scripts/jquery.js"></script>
<script src="../scripts/general.js"></script>
</head>
<body>
<div id="content_bkg">
<div id="basePageFrame">
    <div class="header clearfix">
        <div class="header_nav">
          <a href="<{$SiteUrl}>index.php"><span><{$_home_page}></span></a>
          <a href="<{$SiteUrl}>news/"><span><{$_info}></span></a>
          <a href="<{$SiteUrl}>product/"><span><{$_product_center}></span></a>
          <a href="<{$SiteUrl}>company/"><span><{$_yellow_page}></span></a>
          <a href="<{$SiteUrl}>fair/"><span><{$_fair}></span></a>
          <a href="<{$SiteUrl}>hr/"><span><{$_hr}></span></a>
          <a href="<{$SiteUrl}>dict/"><span><{$_dictionary}></span></a>
        </div>
       <div class="login_info"><{$_hello}><{$UserName|default:$smarty.session.MemberName}>
       <{if $menu.pms and $newpm}><a href="pms.php" title=""><img src="../images/message.gif" alt="<{$newpm}>" /></a><{/if}>
       </div>
    </div>
    <div class="header_txt">
       <div class="welcome_txt">
	   <span class="title" id="welcome-to"><{$_welcome_to_office}></span>
	   <form name="searchFrm" id="HeadSearchFrm" action="../offer/list.php" target="_blank" method="get">
	   <input type="hidden" name="do" value="search" />
	   <span class="search"><input name="q" type="text"  id="SearchKeyword" value="<{$_input_keywords}>" onfocus="if(this.value=='<{$_input_keywords}>'){this.value=''}" onblur="if(this.value==''){this.value='<{$_input_keywords}>'}" /><input type="submit" value="<{$_search}>" onclick="if($('#SearchKeyword').val()=='<{$_input_keywords}>') {alert('<{$_input_keywords}>');$('#SearchKeyword').focus();return false;}" /></span>
	   </form>
	   </div>
       <div class="welcome_txt_small"><span><{$_service_hotline}><{$service_tel}></span></div>
   </div>
   <div id="main-nav">
	 <div class="nav-wrapper">
		<ul>
		  <li><a href="index.php" id="home-page"><span><{$_office_homepage}></span></a></li>
		  <li><a class="current_nav" href="offer.php" id="info-manage"><span><{$_info_manage}></span></a></li>
		  <{if $COMPANYINFO.cache_spacename and $COMPANYINFO.status==1}><li><a href="<{$COMPANYINFO.space_url}>" target="_blank"><span><{$_access}><{$_space_name}></span></a></li><{/if}>
		  <li><a href="../logging.php?action=logout"><span><{$_login_out}></span></a></li>
		</ul>
	</div>
  </div>