<{assign var="page_title" value="`$_office_homepage`"}>
<{include file="header.html"}>
<link href="../images/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="../scripts/jquery/jquery-ui.min.js"></script>
<script src="../scripts/jquery/facebox.js"></script>
<script>
$(document).ready(function() {
	$("#progressbar").progressbar({ value: <{$service_days|default:1}> });
	$("#info-manage").removeClass("current_nav");
	$("#home-page").toggleClass("current_nav");
});
</script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
   <div class="main_content">
        <div class="main_content_left">
          <div class="visit_time">
            <{$_my_honour}><{$UserName|default:$smarty.session.MemberName}>&nbsp;<{$MemberInfo.gender_name}><{$_the_last_visit_time_was}><{$LastLogin}>
          </div>
          <div class="base_info">
              <h2><{$_basic_info}></h2>
              <table class="base_member">
               <tr>
                <td colspan="3"><div class="blank"></div></td>
              </tr>
              <tr>
                <td rowspan="3" class="avatar" ><img src="<{$MemberInfo.avatar}>"></td>
                <td class="member_upgrade"><{$_now_you_are}><{$group.name}>(<a href="../member/purchase.php?do=upgrade" title="" target="_blank"><{$_upgrade_now}></a>)(<a href="../member/purchase.php?do=charge" title="" target="_blank"><{$_pay_now}></a>)</td>
                <td rowspan="3" width="100"><img src="../images/group/<{$group.image}>" alt="<{$group.name}>" /></td>
              </tr>
              <tr>
                <td><{$_year_service}> <{$MemberInfo.start_date}><{$_arrive_to}><{$MemberInfo.end_date}></td>
                </tr>
             <tr>
                <td><div id="progressbar"></div>&nbsp;<{if $service_days>=100}><strong><{$_been_expired}><a href="../member/purchase.php?do=upgrade" target="_blank"><{$_upgrade_now}></a></strong><{/if}></td>
               </tr>
              <tr>
                <td colspan="3"><div class="blank"></div></td>
              </tr>
            </table>
          </div> 
           <div class="blank"></div>
           <div class="count_info">
              <h2><{$_statistics}></h2> 
              <div class="count_info_content">
                <p class="credit"><strong><{$_your_account}></strong><{$_balance_amount}><em><{$MemberInfo.balance_amount|default:0}></em> | <{$_your_points}><em><{$MemberInfo.points|default:0}></em></p>
                <p class="info"><strong><{$_information_n}></strong><{foreach from=$items_offer name=items_offer item=item key=key}><{$key}><{$_colon}><em><{$item}></em> <{$_number}><{if !$smarty.foreach.items_offer.last}> <{/if}><{/foreach}></p>
                <p class="message"><strong><{$_messages}></strong><{$_common_message}> <em><{$pm.user|default:0}></em> <{$_number}> | <{$_system_message}> <em><{$pm.system|default:0}></em> <{$_number}> | <{$_query_message}> <em><{$pm.inquery|default:0}></em> <{$_number}></p>
                <p class="collect"><strong><{$_favorites}></strong><a href="favor.php"><{$_manage_favorite}></a></p>
              </div>
           </div> 
         </div>
        <div class="main_content_right">
           <div class="notice">
              <h2><{$_announce}></h2>
              <ul>
				<{announce row=10}>
					<li><a href="../[link:title]" target="_blank">[field:title]</a></li>
				<{/announce}>
              </ul>
           </div>
        </div>
    </div>
</div>
<{include file="footer.html"}>

