<{assign var="page_title" value="`$_diy_website`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
<div class="sidebar">
   <div class="sidebar_menu">
	 <{include file="menu.html"}>
   </div>
</div>
 <div class="main_content">
 <div class="blank"></div>
 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
 <div class="offer_info_title"><h2><{$page_title}></h2></div>
  <table class="bggray">
	<tr>
	  <td class="gray" style="width:545px;"><span class="orange"><{$_friendly_tip}></span><{$_space_name}><{$_change_style}></td>
	  <td style="width:90px;"><a href="javascript:;" onclick="$('#SpaceNameModify').toggle();" class="btn_publish"><{$_modify}><{$_space_name}><{$_name}></a> </td>
      <td style="width:100px;"> <{company id="`$COMPANYINFO.id`"}><a href="<{$COMPANYINFO.space_url}>" target="_blank" class="btn_publish" ><{$_click_preview}></a><{/company}></td>
	</tr>
	<tbody id="SpaceNameModify" style="display:none;">
	<form name="space_form" action="space.php" method="post">
	<tr>
	  <td  colspan="3" class="gray"><{$_space_name}><{$_name_n}><input type="text" name="data[space_name]" id="dataSpaceName" value="<{$COMPANYINFO.cache_spacename}>" style="text-align:center;ime-mode:disabled;width:350px;" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" maxlength="100">&nbsp;<input type="submit" name="updateSpaceName" value="<{$_submit_changes}>">&nbsp;<{$_left_bracket}><{$_space_name}><{$_english_number_portfolio}><{$_right_bracket}>
	  </td>
      
	</tr>
	</form>
	</tbody>
  </table>      
  <form name="stylefrm" action="space.php" method="post">
  <input type="hidden" name="formhash" value="<{$formhash}>">
  <table class="temp_style">
	<tr>
	<{foreach from=$Items item=item name="templet"}>
	  <td>
	  <label for="style_<{$item.id}>"><img height="155" src="<{$item.picture}>" disabled="disabled"></label>
		<br>
		<label for="style_<{$item.id}>"><input type="radio" value="<{$item.id}>" name="data[member][styleid]" id="style_<{$item.id}>" <{if $item.id==$templet_id}>checked<{/if}>><{$item.title}></label>
	</td>
	<{if $smarty.foreach.templet.iteration is div by 4}>
	</tr><tr>
	<{/if}>
	<{foreachelse}>
	<td><{$_no_provide_template}></td>
	<{/foreach}>
	</tr>
	</table>
	  <table class="trade_line">
		<tr>
		  <td height="1" background="images/index_trade_line.gif"></td>
		</tr>
	   <tr align="center" valign="bottom">
	  <td height="40">
	  <input name="save" type="submit" id="Save" value="<{$_choose_submit}>">
	  </td>
	</tr>
  </table>
  </form>
	<table class="attentions">
		<tr>
		<{$_change_style_tips}>
		</tr>
	</table>
</div>
</div>
<script type="text/javascript"> 
var lb=document.getElementsByTagName('label'); 
for (i=0;i<lb.length;i++) { 
	lb[i].onclick=function () { 
		var lbfor=this.getAttribute('for')?this.getAttribute('for'):this.getAttribute('HTMLfor')+''; 
		document.getElementById(lbfor).click(); 
		document.getElementById(lbfor).focus(); 
	}             
} 
</script>
<{include file="footer.html"}>
