/*  
The Name: 绿色模板
The URI: http://www.phpb2b.com/
Description: A PHPB2B Orange Color Style Templet. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
Sample Color: #71B522
*/
@import url(type.css);
@import url(widgets.css);