<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; 行业词典</p>
</div>
<div id="rightTop"> 
    <h3>行业词典</h3> 
    <ul class="subnav">
		<li><a href="dict.php"><{$_management}></a></li>
        <li><a class="btn1" href="dict.php?do=edit"><span><{$_add_or_edit}></span></a></li>
        <li><a href="dicttype.php"><{$_types}></a></li>
    </ul>
</div>
<div class="info">
  <form action="dict.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[dict][word]" value="<{$item.word}>" /><label class="field_notice">显示名称</label>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 别名：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[dict][word_name]" value="<{$item.word_name}>" /><label class="field_notice">优化名称</label></td>
      </tr>
      <tr>
        <th class="paddingT15"> 分类：</th>
        <td class="paddingT15 wordSpacing5">
		<select name="data[dict][dicttype_id]">
		<option value="0">顶级分类</option>
        <{$dicttypeOptions}>
		</select>        
		</td>
      </tr>
      <tr>
        <th class="paddingT15"> 摘要：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[dict][digest]"><{$item.digest}></textarea>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 详细内容：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[dict][content]"><{$item.content}></textarea>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 参考资料：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[dict][refer]"><{$item.refer}></textarea>
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />
		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="tiny_mce"}>
<{include file="footer.html"}>