<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title><{$_control_pannel}> - <{$site_name}></title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/form.css" rel="stylesheet" type="text/css" />
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script language="javascript" src="js/jquery.pngFix.js"></script>
<script type="text/javascript" src="../scripts/jquery/tablehover.js" ></script>
<script>
$(document).ready(function(){
		$('.dataTable').tableHover();
});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('div#logo').pngFix( );
	});
</script>
<style type="text/css">
td.hover, tr.hover
{
	background-color: #F2F9FD;
}
th.hover, thead td.hover, tfoot td.hover
{
	background-color: ivory;
}
</style>
</head>
<body>
