<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_pro_market}></p>
</div>
<div id="rightTop"> 
    <h3><{$_pro_market}></h3> 
    <ul class="subnav">
		<li><a href="market.php"><{$_management}></a></li>
        <li><a class="btn1" href="market.php?do=edit"><span><{$_add_or_edit}></span></a></li>
		<li><a href="markettype.php"><{$_types}></a></li>
		<li><a href="quote.php">价格行情</a></li>
		<li><a href="quotetype.php">行情分类</a></li>
    </ul>
</div>
<div class="info">
  <form action="market.php" method="post" id="EditFrm" name="edit_frm" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<{$smarty.get.id}>">
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 市场名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[market][name]" value="<{$item.name}>" /><label class="field_notice">市场名</label>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 是否显示：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[market][status]" options=$MarketStatus checked=$item.status|default:1 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> 是否推荐：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[market][if_commend]" options=$AskAction checked=$item.if_commend|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_in_industry}></th>
        <td class="paddingT15 wordSpacing5">
        <span id="dataIndustry">
					<select name="data[market][industry_id1]" id="dataMarketIndustryId1" class="level_1" style="width:120px;" ></select>
					<select name="data[market][industry_id2]" id="dataMarketIndustryId2" class="level_2" style="width:120px;"></select>
					<select name="data[market][industry_id3]" id="dataMarketIndustryId3" class="level_3" style="width:120px;"></select>
		</span>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_in_area}></th>
        <td class="paddingT15 wordSpacing5">
			<span id="dataArea">
						<select name="data[market][area_id1]" id="dataMarketAreaId1" class="level_1" style="width:120px;" ></select>
						<select name="data[market][area_id2]" id="dataMarketAreaId2" class="level_2" style="width:120px;"></select>
						<select name="data[market][area_id3]" id="dataMarketAreaId3" class="level_3" style="width:120px;"></select>
			</span>        
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 描述：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[market][content]"><{$item.content}></textarea>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 浏览量:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[market][clicked]" value="<{$item.clicked}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">图片：</th>
        <td class="paddingT15 wordSpacing5">
        <input class="infoTableFile2" type="file" name="pic" id="pic" />
          <label class="field_notice">（支持格式GIF,JPG,JPEG,PNG）</label>
          <{if $item.picture}>
          <br /><span><img src="<{$item.image}>" alt="<{$item.name}>"/></span>
          <{/if}>
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />
		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="tiny_mce"}>
<script>
var cache_path = "../";
var app_language = '<{$AppLanguage}>';
var area_id1 = <{$item.area_id1|default:0}> ;
var area_id2 = <{$item.area_id2|default:0}> ;
var area_id3 = <{$item.area_id3|default:0}> ;
var industry_id1 = <{$item.industry_id1|default:0}> ;
var industry_id2 = <{$item.industry_id2|default:0}> ;
var industry_id3 = <{$item.industry_id3|default:0}> ;
</script>
<script src="../scripts/multi_select.js" charset="<{$Charset}>"></script>
<script src="../scripts/script_area.js"></script>
<script src="../scripts/script_industry.js"></script>
<{include file="footer.html"}>