<{include file="header.html"}>
<div id="currentPosition">
 <p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_product_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_product_center}></h3> 
    <ul class="subnav">
		<li><a href="product.php"><{$_management}></a></li>
		<li><a href="productsort.php">类型</a></a></li>
        <li><a href="productcategory.php">产品种类</a></li>
        <li><a class="btn1" href="productcategory.php?do=edit"><span><{$_add_or_edit}></span></a></li>
		<li><a href="brand.php">品牌</a></a></li>
		<li><a href="brandtype.php">品牌分类</a></a></li>
		<li><a href="price.php">报价</a></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="productcategory.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 添加方式：</th>
        <td class="paddingT15 wordSpacing5">
		<select name="data[method]" id="DataMethod">
			<option value="1">逐个添加</option>
			<option value="2">从行业分类复制</option>
        </select></td>
      </tr>
	  <tbody id="DataMethod1">
	    <{if $smarty.get.id}>
      <input type="hidden" name="id" value="<{$smarty.get.id}>" />
      <input type="hidden" name="page" value="<{$smarty.request.page}>" />
      <tr>
        <th class="paddingT15"> 分类名称：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[productcategory][name]" value="<{$item.name}>" type="text" /><label class="field_notice">一级分类名称不要有符号出现</label>        </td>
      </tr>
    <{else}>
	      <tr>
        <th class="paddingT15"> 分类名称：</th>
        <td class="paddingT15 wordSpacing5"><textarea name="data[productcategory][name]" id="dataNames"></textarea></td>
      </tr>
    <{/if}>      
      <tr>
        <th class="paddingT15"> 上级分类：</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[productcategory][parent_id]" id="ProductcategorytypeParentId">
        <option value="0">顶级分类</option>
        <{$ProductcategoryOptions}>
        </select>
        </td>
      </tr>
	  </tbody>
	  <tbody id="DataMethod2" style="display:none;">
      <tr>
        <th class="paddingT15"> 是否覆盖：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[coverage]" options=$AskAction checked=1 separator=""}><label class="field_notice">如果选择不覆盖，那么可能会引起分类紊乱</label></td>
      </tr>      
      <tr>
        <th class="paddingT15"> 是否清空：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[truncate]" options=$AskAction checked=0 separator=""}></td>
      </tr>      
	  </tbody>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save_and_pub}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<script>
var parent_id = "<{$item.parent_id|default:0}>";
jQuery(document).ready(function($) {
	$("#ProductcategorytypeParentId option[value='"+parent_id+"']").attr("selected","selected")
	$("#DataMethod").change( function() { 
		$("#DataMethod1, #DataMethod2").toggle();
	} 
	);
})
</script>
<{include file="footer.html"}>