.input_forms, .order_table{
    float:left;
}

#submit{
    float:right;
    margin-right:380px;
}

.input_forms{
    width:600px;
    margin-left:100px;
}

.order_table{
    font-size:14px;
    border-collapse:collapse;
}

.order_table th{
    width:120px;
}

#title{
    margin-top:10px;
    margin-bottom:10px;
}