body.frame{
    background:#bfbfbf;
}

.frame_title{
    font-size:1.3em;
    margin:0 auto;
    width:250px;
}

.pagesNavi{
    margin:0 auto;
    font-size:16px;
    margin-bottom:10px;
    text-align:center;
}

.w200{
    width:200px;
}

.w300{
    width:300px;
}

.right_container{
    float:right;
}

.w120{
    width:120px;
}

#chk_code{
    font-size:80px;
}

a.close{
    background:url("../images/open.png") no-repeat;
}

a.open{
    background:url("../images/close.png") no-repeat;
}

a.trigger{
    display:block;
    cursor:pointer;
    width:11px;
    height:11px;
    /*background:url("../images/open.png");*/
}

.input_forms{
    width:960px;
    margin:0 auto;
}

.lable_input_set{
    clear:both;
}

.input_forms fieldset{
    clear:both;
    margin-bottom:20px;
    /*width:940px;*/
}

.input_forms fieldset legend{
    color:#000000;
    font-weight:bold;
}

fieldset.w940{
    width:940px;
}

fieldset.w450{
    width:450px;
}

fieldset.w600{
    width:600px;
}

.input_forms fieldset#element_array{

}

.lable_input_set{
    margin:10px 5px 10px 5px;
}

.input_forms lable_input_set{
    position:relative;
}

.input_forms .lable_input_set .input_label{
    float:left;
}

.w3{
    width:3em;
}

.w7{
    width:7em;
}

.w10{
    width:10em;
}

.w15{
    width:15em;
}

.w25{
    width:25em;
}

.input_forms .lable_input_set select{
    float:left;
    width:11em;
}

.input_forms .lable_input_set .text_input{
    float:left;
    margin-right:10px;
}

.input_forms .lable_input_set .ckb_input{
    float:left;
}

.one_line{
    height:20px;
}

#sub{
    margin-left:450px;
}

.button{
    color:#fff;
    border:none;
    font-size:15px;
    font-weight:bold;
    text-align:center;
}

.b90{
    width:90px;
}

.green{
    background:#48a900;
}

.blue{
    background:#008fa9;
}

#addProduct{
    margin-bottom:20px;
}

.left_container{
    float:left;
}

.b150{
    width:150px;
}