RewriteEngine on
# 您的web访问根目录
RewriteBase /

RewriteCond %{HTTP_HOST} ^shop[0-9]+\.主域名\.com$
RewriteRule ^/?$ /%{HTTP_HOST}
RewriteRule ^/shop([0-9]+)\.主域名\.com/?$ /shop.php?shopid=$1&app=index [L]

RewriteRule ^shop/([0-9]+)(/([a-zA-Z]+))?(/([0-9]+))?((\.html)|(/))?$ shop.php?shopid=$1&app=$3&page=$5 [L]
RewriteRule ^(category|goods|article_list|article|ucategory|help|aboutus)(/([0-9]+))?(/([0-9]+))?((\.html)|(/))?$ $1.php?id=$3&page=$5 [L]