@charset "utf-8";
/*color:#f67a06*/
/* public start */
*{outline:none;}
html { overflow-x: hidden; overflow-y: scroll; }
body{ text-align:center; color:#666; font:12px "宋体",Arial, Verdana,sans-serif; }
h1, h2, h3, h4, h5, h6, h7, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th, hr { padding:0; margin:0;}
ul{ list-style:none; }
h1, h3, h4, h5, h6{ font-size:12px; }
h2{font-size:14px; font-weight:bold}
a{color:#666; text-decoration:none; }
	a img{ border:none;}
	a:hover{ text-decoration:underline; color:#e38016}
img, table, td, th { border:0;}	
em, cite, th{ font-style:normal; font-weight:normal; }
table{ border-collapse:collapse; }
label{ cursor:pointer;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
.left{float:left}
.right{float:right}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.lightcolor{color:#808080}
.highlight{color:#f67a06}
.orange{color:#ff5101}
.top5{ margin-top:5px;}
.top10{ margin-top:10px;}
.left10{ margin-left:10px; display:inline; float:left;}
.right10{ margin-right:10px;}
.bold{	font-weight:bold;}
.none{ display:none}
.f18{font-size:18px;}
/* public end */
body,.schbox,.nav_tab,.board .top,.user_service .top,.category .top,.shop_recommend .top,.rank .top,.promotion .top,.brand .top,.title_uc{background:url(../images/repeatbg.gif) repeat-x}
body{background-position:0 -264px; }
.container{width:960px;margin:0 auto;}
.apart,.lpart,.mpart,.spart{display:inline;float:left;position:relative;margin-right:12px;margin-bottom:12px;}
.omega{margin-right:0}
.apart{width:960px;}
.lpart{width:748px;}
.mpart{width:536px;}
.spart{width:200px;}
.topbar{height:26px;line-height:25px;position:relative;margin-bottom:20px;}
.topbar a,.bg_left,.bg_right,.menu p,.menu a,.schbox h2,.schbox .btn,.schbox a.more,.nav_tab li,.nav,.active,.user_service .selected,.board .selected,.nav_tab li.active a,.board .content li,.user_service .content li,.user_guide a,.user_help .group,.user_help .credit,.user_service .top ul,.category  .top ul,.top .line,.category .top li.active a,.rank li.selected .num,.shop_recommend .top ul,.shop_recommend .top li.active a,.promotion .top h2,.slider-stick li.active a,.item_uc li,.title_uc h3,.del,.button{background:url(../images/mallbg.gif) no-repeat}
.topbar a,.foot .link a{padding:0 10px;background-position:right 0;}
.head{position:relative;height:3px;padding-top:61px;}
.head h1{width:178px;height:43px;position:absolute;left:0;top:0}
.menu{height:38px;width:292px; background:#f7f7f7;position:absolute;right:0;top:0}
.menu .bg_left{height:38px;width:4px;float:left;background-position:0 -26px;}
.menu .bg_right{height:38px;width:4px;float:right;background-position:0 -64px;}
.menu .nav_tab{background-position:0 -35px;}
.menu p{height:16px;margin:10px 0 0 17px;text-align:left;padding:2px 0 0 22px;background-position:-4px -20px;}
.menu a{padding:0 10px;background-position:right -50px;}
a.more{background-position:right -65px;*background-position:right -67px;padding:0 10px;}
.nav{position:absolute;height:35px;left:240px;top:26px; overflow:hidden;text-align:center;background-position:right -147px;padding-right:3px;}
.nav .bg_left{width:3px;height:35px;float:left;background-position:-4px -46px;}
.nav_tab{float:left;height:35px;background-position:0 -34px;padding-right:1px;}
.nav_tab li{float:left; cursor:pointer;line-height:38px;padding:0 21px 0 23px;height:35px;margin-right:-3px;font-size:14px;background-position:right -217px;}
.nav_tab li.active{background-position:right -182px;position:relative;padding:0;margin-right:0;z-index:100;height:35px;padding-right:3px; cursor:pointer;}
.nav_tab li.active a{display:inline-block;float:left;padding:0 21px 0 23px;height:35px;color:#fff;font-weight:bold;background-position:0 -182px;}
.nav_tab li a:hover{text-decoration:none;}

.head_line{height:3px;overflow:hidden;background:#f67a06;}
.head_line .bg_left{height:3px;width:4px;float:left;background-position:0 -20px;}
.head_line .bg_right{height:3px;width:4px;float:right;background-position:0	-23px;}
.schbox{height:28px;border:1px #dedede solid;border-top:0;text-align:left;padding-top:7px; background-color:#f3f3f3;background-position:0 0;}
.schbox h2{float:left;height:15px;width:139px;background-position:0 -102px;text-indent:-9999px;margin:2px 0 0 13px;_margin-left:6px;}
.schbox .inpt{height:14px;width:170px;padding:2px;color:#666;border-style:solid;border-width:1px;border-color:#808080 #b4b4b4 #b4b4b4 #808080;margin:0 11px -3px 0;}
.schbox .btn{width:59px;height:21px;background-position:-4px -81px;border:0;font-weight:bold;color:#666;margin-bottom:-3px;letter-spacing:3px;line-height:22px;}
.schbox a{margin:0 7px}
.schbox a.more{background-position:right -65px;*background-position:right -67px;margin-right:10px;}
.schbox span{margin-left:23px;}
.board,.user_service .content,.category .content,.promotion .content,.brand .content,.brand .content,.shop_recommend .content{border:1px #dedede solid;border-top:0;*overflow:hidden}.rank .content{border:1px #dedede solid;border-top:0;border-bottom:0;*overflow:hidden}
.board .top{height:36px;background-position:0 -75px;}
.board .top li{width:83px;float:left;height:36px;line-height:32px;margin-left:-1px;*margin-left:0;}
.board .top li.selected{background-position:0 -252px;}
.board .top li a{font-weight:bold;}
.board .top li.selected a{color:#f67a06}
.board .content,.user_service .content{padding:10px 10px 11px 16px;}
.board .content li,.user_service .content li{line-height:24px;height:24px;overflow:hidden;padding-left:14px;text-align:left;background-position:0 -120px;}
.user_guide{height:34px;margin-bottom:12px;}
.user_guide a{display:block;width:94px;height:34px;}
.user_guide a.first{background-position:0 -288px;}
.user_guide a.free{background-position:0 -322px;}
.user_help{background:#f7f7f7;margin-bottom:12px;padding:11px 12px;}
.user_help p{height:18px;line-height:18px;padding-left:26px;text-align:left;margin-bottom:12px;overflow:hidden}
.user_help .group{background-position:-123px -288px;}
.user_help .credit{background-position:-123px -306px;}
.user_service .top{height:28px;background-position:0 -111px;}
.user_service .top ul{height:28px;background-position:-138px -358px; overflow:hidden}
.user_service .top li{height:28px;line-height:30px;float:left}
.user_service .top li.selected{background-position:right -358px;padding-right:2px;}
.user_service .top li a{padding:0 12px;}
.user_service .top li.selected a{display:inline-block;height:27px;font-weight:bold;color:#f67a06;background-color:#fff;border:1px #dedede solid;border-bottom:0;}
.top .line{width:1px;height:28px;background-position:right -358px; overflow:hidden;float:right;}
.asd1{height:90px;}
.category .top,.shop_recommend .top{height:32px; overflow:hidden;background-position:0 -140px;text-align:right}
.category .top ul,.shop_recommend .top ul{height:32px;background-position:-138px -387px; padding-left:16px; overflow:hidden}
.category .top li,.shop_recommend .top li{height:30px;line-height:34px;float:left;}
.category .top li.active,.shop_recommend .top li.active{background-position:right -418px;padding-right:4px;}
.category .top li a,.shop_recommend .top li a{padding:0 22px; font-size:14px;}
.category .top li.active a,.shop_recommend .top li.active a{display:inline-block;height:30px;_height:28px;font-weight:bold;color:#fff;background-position:0 -418px;}
.category .top .line,.shop_recommend .top .line{background-position:right -386px;}
.category .content{padding:2px;}
.category .top span.right,.shop_recommend .top span.right,.promotion .top span.right{margin:11px 8px;}
.category .item{background:url(../images/dotbg.gif) 0 bottom repeat-x;padding:2px 1px 3px;position:relative;}
.category .item h3{background:#ffe7d4;float:left;color:#4d4d4d;vertical-align:middle;font-size:14px;font-weight:bold;text-align:center;width:25px;line-height:1.4}
.category .t1{height:70px;}
.category .t2{height:150px;}
.category .t3{height:230px;}
.category .item h3.t2 span{display:block;margin-top:35px;}
.category .item h3.t1 span{display:block;margin-top:15px;}
.category .item h3.t3 span{display:block;margin-top:80px;}
.category .item ul{float:left;padding:5px 0 0 15px;width:695px; overflow:hidden;}
.category .item li{float:left;width:33%; overflow:hidden; text-align:left}
.category .item dt{font-size:14px;font-weight:bold; line-height:25px;}
.category .item dt a{color:#f67a06}
.category .item dd{margin:3px 0 0 -5px;overflow:hidden;}
.category .item dd a{border-left:1px solid #d9d9d9;display:inline-block;color:#4d4d4d;line-height:1.2;margin:0 5px 5px -1px;padding-left:5px;}
.rank .top{height:30px;background-position:0 -172px;}
.rank .top .bg_left{width:3px;height:30px; float:left;background-position:0 -534px;}
.rank .top .bg_right{width:3px;height:30px; float:right;background-position:-3px -534px;}
.rank .top h2{color:#fff;float:left;margin:9px 0 0 12px;}
.rank .content{padding:5px 0 0}
.rank ul.cls{zoom: 1;width: 92%;margin: 0 auto;margin-bottom:-2px;}
.rank ul.cls:after{content:"";visibility: hidden;display: block;height: 0;clear: both;}
.rank li{zoom: 1;list-style:none;}
.rank li{text-align: left;border-bottom:1px solid #ccc;padding: 6px 0;}
.rank li a{color:#666666;}
.rank li a:hover{color:#cc0000;}
.rank li img,.rank li .price{display:none;}
.rank li .price span{color: #666666;margin-right:5px;}
.rank li .price label{color: #e38016;}
.rank li:after {content:'';visibility:hidden;display:block;height:0;clear: both;}
.rank li img{float:left;vertical-align:middle;margin-right:5px;display: none;}
.rank li .num{float:left;color:#eb6100;font-weight: bold;width: 16px;height:15px;line-height:15px;display: -moz-inline-block;display:inline-block;text-align:center;margin-right: 5px;}
.rank li.selected .num{background-position:right -454px;color:#fff;}
.rank li.selected img,.rank li.selected div{display: block;}
.rank .bottom{height:4px;border:1px #dedede solid; background-color:#fff;border-top-width:0;overflow:hidden}
.asd2{height:140px;margin-top:12px;}
.promotion .top{border:1px #dedede solid; height:32px; border-bottom:0; text-align:left; background-position:0 -202px;color:#f67a06}
.promotion .top h2{float:left; display:inline;height:30px;line-height:30px;_line-height:31px;padding-left:15px; margin:0 0 0 10px;background-position:-7px -525px;}
.promotion .top a{color:#f67a06;padding:0 6px;}
.promotion .top span.left{margin:9px 0 0 15px;}.promotion .top span.right{margin-top:9px}
.promotion .content{padding:20px 6px 2px;}
.promotion .content li{margin:0 9px 10px;float:left;display:inline;height:142px;line-height:15px;list-style-type:none;text-align:center;width:86px;}
.promotion .content li img{border:1px solid #ccc;height:80px;margin-bottom:5px;width:80px;}
.promotion .content li a.pro_name{display:block;height:32px;}
.promotion .content li label{clear:both;color:#E07604;display:block;font-weight:bold;padding-top:2px;width:86px;}
.brand .top{height:28px;border:1px #dedede solid;border-top:0;background-position:0 -202px;}
.brand .top h2{float:left; margin-left:11px; line-height:28px;}
.brand .content{padding:8px 5px;_padding:8px 0px;}
.brand .content a{display:block;width:82px; height:48px; border:1px #dedede solid; float:left;margin:6px 5px;}
.shop_recommend .content{padding:23px 0 13px;*padding-bottom:0;}
.shop_recommend .content li{margin-left:14px; float:left; display:inline; width:120px; height:120px; *height:110px;}
.shop_recommend .content li .logo{ width:108px; height:53px; display:block; margin: 0 auto 18px; border:1px #dedede solid}
.shop_recommend .content li .shop_name{color:#eb6100; font-weight:bold; line-height:1.2}
.shop_recommend .content li .shoper{text-align:left; display:block; margin-top:12px}
.foot{line-height:25px;border-top:1px #dedede solid; padding-top:8px;}.foot .c{font-family:Arial}
/* slide*/
.slide{border:1px #dedede solid;height:240px;width:524px;padding:4px;_padding-bottom:0;}
#slider .slider-stage{position:relative;border-right:1px solid #ededed;float:left;height:240px;overflow:hidden;padding-right:2px;width:420px;}
#slider .slider-stage p{height:240px;position:absolute;top:0;left:0;opacity:1;}
#slider .slider-stick{float:right;font-size:14px;width:100px;}
#slider .slider-stick li{border-top:1px solid #ededed; overflow:hidden}
#slider .slider-stick li a{display:block;padding:0 5px; height:39px; line-height:41px; overflow:hidden;text-indent:15px text-align:left;;}
#slider .slider-stick li.active a{background-position:0 -564px;border-left:3px solid #f67a06; font-weight:bold; color:#fff;}
.zoom{_zoom:1;_overflow:auto}
/* user center */
.sidebar{width:166px;float:left;border:1px #f67a06 solid;padding:1px; overflow:hidden}
.bigpart{width:772px;float:right;border:1px #f67a06 solid;padding:0px 1px; overflow:hidden}
.title_uc{height:30px;background-position:0 -234px;margin-bottom:7px;text-align:left;}
.title_uc h3{color:#f67a06;height:30px; line-height:30px; width:100%;cursor:pointer;}
.title_uc h3.t1{background-position:10px -637px;}
.title_uc h3.t2{background-position:10px -666px;}
.title_uc h3.t3{background-position:10px -697px;}
.title_uc h3.t4{background-position:10px -727px;}
.sidebar .title_uc h3{padding-left:38px;}
.bigpart .title_uc h3{padding-left:16px; background:none}

.item_uc{margin-bottom:7px;}
.item_uc li{height:19px;background-position:12px -613px;text-align:left;padding:7px 0 0 27px;}
.item_uc li.active{background-color:#ffecde;}
.item_uc li a{color:#333333}
.bigpart .infobox{width:740px;margin:0 auto 10px;}
.bigpart .welcome{font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:28px;text-align:left;color:#333333;}
.bigpart p{text-align:left;line-height:28px;}
.bigpart .button{width:83px;height:29px;background-position:0 -762px;border:0;margin:0 11px; cursor:pointer}
.del{background-position:-126px -565px;padding-left:20px;}
.form_table{width:750px; margin: 7px auto; border:1px #ffe2bd solid; color:#333333;}
.form_table td{border-bottom:1px #ffe2bd solid; height:32px;}
.form_table thead{background-color:#fff2e6;}
.form_table tfoot{background-color:#fff6e7;height:46px;}
.page,.page a{color:#333;margin:8px 0}
