@import "base.css";

body { padding:10px; MARGIN: 0px; FONT: 12px "sans-serif", "Arial", "Verdana"; COLOR: #333; PADDING-TOP: 0px; text-align:left;}

p,td,div,th {
	FONT: 12px "sans-serif", "Arial", "Verdana"
}
th{ color:#fff;}
th,td{ height:28px;}
.user_left table {border-collapse:none; border:0px; border-width:0px; margin:0px;}
.user_left table td{padding:0px; padding-left:20px; background:url(../images/user_ico.gif) 8px 10px #fff  no-repeat; 
border:0px; border-width:0px; line-height:20px; color:#fff;text-align:left}
.user_left table th {border:0px; border-width:0px; line-height:24px; padding:0px; padding-left:10px; color:#fff;text-align:left}
h4 {border:#f6a248 1px solid; padding:7px 10px 7px 10px;FONT-SIZE: 14px; BACKGROUND: #fff; MARGIN: 0px 0px 10px; OVERFLOW: hidden; COLOR: #333; }
.list_div {
	BORDER-RIGHT: #f6a248 1px solid; BORDER-TOP: #f6a248 1px solid; BACKGROUND: #feebd6; BORDER-LEFT: #f6a248 1px solid; WIDTH: 100%; BORDER-BOTTOM: #f6a248 1px solid
}
.list_div table {
	WIDTH: 100%; border-collapse:none; border:0px; border-width:0px; margin:0px;
}
.list_div th {
	 background:url(../images/bg001.gif); LINE-HEIGHT: 28px; WHITE-SPACE: nowrap; border:0px; border-width:0px; padding:0px; padding-left:10px; color:#fff;
}
.list_div td {
	BACKGROUND: #fff; LINE-HEIGHT: 22px; border:0px; border-width:0px; padding-left:5px;
}
th.group_title {
	TEXT-ALIGN: left; font-weight:bold; 
}
.user_left{ width:151px; height:auto; float:left;}
.left_menu {float:left; width:151px;}
.main_user { width:793px; height:auto;}

.spaceline { clear:both; line-height:5px; height:5px; }
.clear { clear:both; height:1px; overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}

.textleft {text-align:left;}
.textcenter {text-align:center;}

/* font-size */
.f12px { font-size:12px; }
.f14px { font-size:14px; }
.f20px { font-size:20px; }

.header {width:960px; margin:0 auto;}
.footer {width:960px; margin:10px auto;}
/* main */
.main {width:960px; margin:0px auto;}

.right_operate {float:right; width:793px; border:1px solid #F6A248; text-align:left;}
.right_operate .title {font-size:12px; color:#fff; background-color:#1E88C0; background:url(../images/bg001.gif); padding-left:10px; font-weight:bold; line-height:28px; height:28px;}
table { border-collapse:collapse; border:solid #FFE2BD; border-width:1px 0 0 1px; width:98%; margin:5px auto;}
table th, table td { border:solid #FFE2BD; border-width:0 1px 1px 0; padding:2px; line-height:24px; color:#333;}
table th {background:#FFF2E6;}
.textright {text-align:right; width:160px;}
td{text-align:left;}