@import "base.css";
/* color:#e38016; */
.ftcolor{color:#e38016;}

ul.tabbar{border-bottom:3px #e38016 solid;padding-left:18px;height:30px;}
ul.tabbar li{float:left;width:85px;margin-right:3px;line-height:28px;overflow:hidden;font-size:14px;margin-top:5px;height:25px;background:url(../images/bg.gif) 0 -959px no-repeat;}
ul.tabbar li.selected{float:left;font-weight:bold;margin-top:0;line-height:35px;width:84px;height:30px;background:url(../images/bg.gif) 0 -929px no-repeat;overflow:hidden;}
ul.tabbar li a{text-decoration:none;outline:none;}
ul.tabbar li.selected a{color:#fff;}
ul.pj_tabbar{border-bottom:3px #e38016 solid;padding-left:18px;height:30px;}
ul.pj_tabbar li{float:left;width:120px;margin-right:3px;line-height:28px;overflow:hidden;font-size:14px;margin-top:5px;height:25px;background:url(../images/pj_bg.gif) 0 -30px no-repeat;}
ul.pj_tabbar li.selected{float:left;font-weight:bold;margin-top:0;line-height:35px;width:120px;height:30px;background:url(../images/pj_bg.gif) 0 0px no-repeat;overflow:hidden;}
ul.pj_tabbar li a{text-decoration:none;outline:none;}
ul.pj_tabbar li.selected a{color:#fff;}

.shop_header{position:relative;height:130px;background:url(../images/shop_banner.jpg) 0 0 no-repeat;overflow:hidden;}
.shop_header ul.tabbar{position:absolute;left:0;bottom:0;width:960px;}
.shop_header h1{font-size:26px; color:#fff; font-family: '黑体';float:left;margin: 25px 0 0 20px;}

.sidebar{width:240px;float:left;}
	.shop_detail{float:right;width:240px;}
		.shop_detail .c_t{height:5px;overflow:hidden;}
		.shop_detail .c_t_l{height:5px;overflow:hidden;}
		.shop_detail .c_t_r{height:5px;overflow:hidden;}
		.shop_detail .c_m{padding:15px 0;border-top:1px solid #dedede}
	.shop_detail .shop_logo{width:200px;height:100px;margin:0 auto;border:1px #cfcfcf solid;}
	.shop_detail .shop_name{margin:15px auto 10px;font-weight:bold;}
	.shop_detail .shop_name a{color:#e38016;}
	.shop_detail ul{text-align:left;width:200px;margin:0 auto;color:#333;}
	.shop_detail ul li{line-height:25px;}
	.shop_detail .go2shop img{margin-top:25px;}
.shop_search .c_m{padding:15px 0;}
.searchbox{width:210px;margin:0 auto;height:26px;}
	.searchbox .text{height:23px;width:150px;border:1px #e38016 solid;vertical-align:middle;}
	.searchbox .button{width:47px;margin-left:10px;height:26px;background:url(../images/bg.gif) 0 -994px no-repeat; vertical-align:middle;}
.pro_class{margin-bottom:10px;}
.pro_class .c_m ul{width:205px;margin:0 auto;padding:5px 0 0;}
.pro_class .c_m ul li{list-style:none;width:197px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-align:left;padding-left:12px;line-height:25px;background:url(../images/bg.gif) 2px -585px no-repeat;}

.bigpart{width:710px;float:right;margin-bottom:10px;}
	.bigpart .top{width:708px;border:1px solid #DEDEDE;border-width:0 1px 1px;height:30px; line-height:30px;overflow:hidden}
		.bigpart .top h2{ margin-left:11px; float:left}
		.bigpart .top span{margin-right:5px;}
	.sidebar .top{width:238px;border:1px solid #DEDEDE;border-width:0 1px 1px;height:30px; line-height:30px;overflow:hidden}
		.sidebar .top h2{ margin-left:11px; float:left}
		.sidebar .top span{margin-right:5px;}

.top #list{padding:2px 5px 0 21px;background:url(../images/bg.gif) -47px -1026px no-repeat;outline:none;}
.top #window{padding:2px 5px 0 21px;background:url(../images/bg.gif) -47px -1042px no-repeat;outline:none;}
.top #list:link,.top #list:visited,.top #window:link,.top #window:visited{color:#333;}
.top #list.selected,.top #list:hover{background-position:-47px -994px;text-decoration:none;}
.top #window.selected,.top #window:hover{background-position:-47px -1010px;text-decoration:none;}

.shop_notice .c_m{padding:10px;line-height:25px;text-align:left;}
#comment_list .top{height:32px; overflow:hidden;background:url(../images/repeatbg.gif) repeat-x;background-position:0 -140px;text-align:right}
#comment_list .top ul{height:32px;background:url(../images/mallbg.gif) no-repeat;background-position:-138px -387px; padding-left:16px; overflow:hidden}
#comment_list .top li{height:30px;line-height:34px;float:left;}
#comment_list .top li.selected{background:url(../images/mallbg.gif) no-repeat;background-position:right -418px;padding-right:4px;}
#comment_list .top li a{padding:0 11px; font-size:14px;}
#comment_list .top li.selected a{background:url(../images/mallbg.gif) no-repeat;display:inline-block;height:30px; *line-height:28px;font-weight:bold;color:#fff;background-position:0 -418px;*background-position:0 -420px;}

.pro_list .c_m{ padding:8px 0 8px 7px;*padding:8px 0 1px 7px;_padding:8px 0 8px 7px;overflow:auto;zoom:1;}
.pro_list .c_m ul li { list-style-type:none; width:86px; height:142px; line-height:15px; text-align:center; margin:8px 7px 0; float:left; display:inline;}
.pro_list .c_m ul li img{ width:80px; height:80px; padding:2px; border:#ccc 1px solid; margin-bottom:5px; }
.pro_list .c_m ul li label{ width:86px; padding-top:2px; color:#e07604; font-weight:bold; clear:both; display:block}
.c_m ul li a.pro_name{height:32px;display:block;}

.pro_list .c_m ul.big_pic li { list-style-type:none; width:156px; height:200px; line-height:15px; text-align:center; margin:8px 7px 0 10px; float:left; display:inline;}
.pro_list .c_m ul.big_pic li img{ width:150px; height:150px; padding:2px; border:#ccc 1px solid; margin-bottom:5px; }
.pro_list .c_m ul.big_pic li label{ width:156px; padding-top:2px; color:#e07604; font-weight:bold; clear:both; display:block}
.c_m ul.big_pic li a.pro_name{height:18px;display:block;}
.guestbook .c_m{overflow:auto;zoom:1;padding:10px 30px;}
.guestbook dl{margin:0 auto;line-height:25px;padding:5px 0 10px;border-bottom:1px #ccc dashed; text-align:left;}
.guestbook dt span{color:#ccc;}
.guestbook dd{widht:680px;margin:0 auto;}
.messagebox{overflow:auto;zoom:1;float:left;width:500px;margin:15px auto 0;text-align:left;}
.messagebox textarea{border:1px #ccc solid;}
.messagebox .button{margin-top:10px;}

.shop_cert{display:block;width:76px;height:18px;overflow:hidden;text-indent:-9999px;background:url(../images/bg.gif) 0 -709px no-repeat;margin:3px 0 0 5px;}
.shop_cert2{display:block;width:76px;height:18px;overflow:hidden;text-indent:-9999px;background:url(../images/bg.gif) 0 -1062px no-repeat;margin:3px 0 0 5px;}


/*=============10.4.20===============*/
.groupShow {
 width:730px;
 border:1px solid #ccc;
 border-width:0 1px 0 1px
}
.groupShow p {
 line-height:25px;
 white-space:nowrap;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
.tab_group th {
 padding:10px 0 10px;
 background-color:#FCF2E7;
 text-align:center;
 border-color:#E38016;
 border-style:solid;
 border-width:0 0 1px 0;
 font-weight:normal
}
.tab_group td {
 padding:10px 0;
 vertical-align:middle;
 border-bottom:1px dashed #CCC;
}
.tab_group .proName {
 width:335px
}
.tab_group .groupPic {
 width:90px;
}
.tab_group .groupQut {
 width:75px
}
.tab_group .groupName {
 width:120px
}
.tab_group .timeLeft {
 width:110px
}
.tab_group .photo {
 border:1px solid #d9d9d9;
 height:80px;
 float:left;
 overflow:hidden;
 width:80px;
 margin:0 15px;
 _margin:0 10px;
}
.tab_group .proInfo {
 overflow:hidden;
 width:215px;
 float:left;
 text-align:left;
}
.tab_group .proInfo a {
 font-size:12px;
}
em.pic {
 width:75px;
 color:#e38016;
 font-weight:bold;
 font-style:normal
}
.path_art {
 padding:3px 15px 10px;
 background:url(../images/part_ico.gif) left top no-repeat;
 text-align:left
}

.pro_show {
 width:708px;
 border:1px solid #ccc;
 border-width:0 1px 1px 1px
}



