@import "base.css";

body { padding:10px; MARGIN: 0px; FONT: 12px "sans-serif", "Arial", "Verdana"; COLOR: #333; PADDING-TOP: 0px
}
table td,table th{ padding-left:5px; text-align:left}
p,td,div,th {
	FONT: 12px "sans-serif", "Arial", "Verdana"
}
th{ color:#fff;}
th,td{ height:28px;}
.user_left table td{ padding-left:20px; background:url(../images/user_ico.gif) 8px 10px #fff  no-repeat;}
h4 {border:#f6a248 1px solid; padding:7px 10px 7px 10px;FONT-SIZE: 14px; BACKGROUND: #fff; MARGIN: 0px 0px 10px; OVERFLOW: hidden; COLOR: #333; }
.list_div {
	BORDER-RIGHT: #f6a248 1px solid; BORDER-TOP: #f6a248 1px solid; BACKGROUND: #feebd6; BORDER-LEFT: #f6a248 1px solid; WIDTH: 100%; BORDER-BOTTOM: #f6a248 1px solid
}
.list_div table {
	WIDTH: 100%
}
.list_div th {
	BACKGROUND:#f6a248; LINE-HEIGHT: 24px; WHITE-SPACE: nowrap
}
.list_div td {
	BACKGROUND: #fff; LINE-HEIGHT: 22px
}
th.group_title {
	TEXT-ALIGN: left; font-weight:bold
}
.user_left{ width:167px; height:auto}
.main_user { width:777px; height:auto;}

