BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: ËÎÌå; BACKGROUND-COLOR: #fff
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:link {
	COLOR: #003278; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003278; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.underbor {
	TEXT-DECORATION: underline
}
.s {
	FONT-SIZE: 12px
}
.m {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.c {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.c1 {
	FONT-SIZE: 12px; COLOR: #ff7300; LINE-HEIGHT: 18px
}
.c2 {
	FONT-SIZE: 12px; COLOR: #003cc8; LINE-HEIGHT: 18px
}
.sm {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.main_box {
	MARGIN: 0px auto; WIDTH: 793px
}
.main_box1 {
	MARGIN: 0px auto; WIDTH: 952px
}
.main_box2 {
	MARGIN: 0px auto; WIDTH: 729px
}
.logotext {
	PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 25px; MARGIN-LEFT: 2px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 3px; FONT-FAMILY: ºÚÌå; LETTER-SPACING: -1px; HEIGHT: 35px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clr {
	CLEAR: both
}
.lh13 {
	LINE-HEIGHT: 130%
}
.lh15 {
	LINE-HEIGHT: 150%
}
.lh17 {
	LINE-HEIGHT: 170%
}
.lh20 {
	LINE-HEIGHT: 200%
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.gray {
	COLOR: #999999; TEXT-DECORATION: none
}
.gray A {
	COLOR: #999999; TEXT-DECORATION: none
}
.gray A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
.gray A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.gray A:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.blue {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.blue A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.blue A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.blue A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.blue A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.blue_under {
	COLOR: #003cc8; TEXT-DECORATION: underline
}
.blue_under A {
	COLOR: #003cc8; TEXT-DECORATION: underline
}
.blue_under A:link {
	COLOR: #003cc8; TEXT-DECORATION: underline
}
.blue_under A:visited {
	COLOR: #003cc8; TEXT-DECORATION: underline
}
.blue_under A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#main_nav {
	CLEAR: both; MARGIN-TOP: 7px
}
#main_nav .bt_area {
	FLOAT: right; WIDTH: 400px
}
#main_nav LI A {
	FONT-WEIGHT: normal; MARGIN: 2px 3px
}
#main_nav LI.bor {
	MARGIN: 0px 3px; WIDTH: 1px; BACKGROUND-COLOR: #000
}
.redtext1 {
	COLOR: #d34601
}
.redtext1 A {
	COLOR: #d34601
}
.redtext1 A:link {
	COLOR: #d34601
}
.redtext1 A:visited {
	COLOR: #d34601
}
.redtext1 A:hover {
	COLOR: #d34601
}
.nav_bot {
	PADDING-TOP: 16px; BORDER-BOTTOM: #ff7300 3px solid
}
.nav_bot LI {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #707070; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat
}
.nav_bot LI.txt {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 0px 8px 0px 0px; COLOR: #000; TEXT-ALIGN: left
}
.nav_bot LI.sf {
	MARGIN: 0px 10px
}
.nav_bot LI.stip {
	FONT-SIZE: 12px; FLOAT: right; COLOR: #000
}
.nav_bot LI.p20 {
	PADDING-LEFT: 24px
}
.nav_bot LI.sa {
	FONT-WEIGHT: bold; COLOR: #fb760d
}
.nav_bot LI.s1n {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/1.gif)
}
.nav_bot LI.s1a {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/1_a.gif)
}
.nav_bot LI.s2n {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/2.gif)
}
.nav_bot LI.s2a {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/2_a.gif)
}
.nav_bot LI.s3n {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/3.gif)
}
.nav_bot LI.s3a {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/3_a.gif)
}
.nav_bot LI.s4n {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/4.gif)
}
.nav_bot LI.s4a {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/member/register/4_a.gif)
}
.nav_bot LI.nov_now6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/dhl.gif) no-repeat; WIDTH: 135px; COLOR: #fff; HEIGHT: 27px
}
.nav_bot LI.nov_now4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/dhr.gif) no-repeat; WIDTH: 100px; COLOR: #fff; HEIGHT: 27px
}
.nav_main {
	MARGIN: 0px auto; WIDTH: auto; HEIGHT: 27px
}
.part_top {
	PADDING-TOP: 14px
}
.main_box778 {
	MARGIN: 0px auto; WIDTH: 800px
}
.main_box952 {
	MARGIN: 0px auto; WIDTH: 952px
}
.s_main1 {
	Z-INDEX: 2; MARGIN-LEFT: 8px; POSITION: relative
}
.s_main1_1 {
	Z-INDEX: 2; POSITION: relative
}
.s_main_mid {
	MARGIN-LEFT: 60px; WIDTH: 800px; HEIGHT: auto
}
.s_main_mid1 {
	WIDTH: 952px
}
.main1 {
	BORDER-RIGHT: #ff7300 1px solid; BORDER-TOP: 0px; MARGIN: 0px 0px 0px 7px; BORDER-LEFT: #ff7300 1px solid; WIDTH: 769px; BORDER-BOTTOM: #ff7300 1px solid; HEIGHT: 328px
}
.main1_up {
	PADDING-BOTTOM: 44px; MARGIN: 0px 30px -1px 62px; PADDING-TOP: 22px; BORDER-BOTTOM: #000 1px dashed
}
#space {
	PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.main1_up .l {
	PADDING-RIGHT: 12px; PADDING-LEFT: 70px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.main1_up .r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 15px
}
.suc_text {
	FONT-WEIGHT: bold; FONT-SIZE: 32px; FONT-FAMILY: ºÚÌå
}
.main1_down {
	PADDING-BOTTOM: 30px; MARGIN: 20px 80px 0px 193px; LINE-HEIGHT: 150%
}
.main2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/li1.gif) no-repeat 0px 35px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 727px; PADDING-TOP: 35px; BORDER-BOTTOM: #666666 1px dashed
}
.main2_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 727px; PADDING-TOP: 35px; BORDER-BOTTOM: #666666 1px dashed
}
.main2_info {
	MARGIN: 0px auto 12px; WIDTH: 688px
}
.main2_info UL.left {
	FLOAT: left; MARGIN: 14px 0px; WIDTH: 550px
}
.main2_info DIV.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/b02m_06n.gif) no-repeat 0px 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 14px 0px; WIDTH: 111px; PADDING-TOP: 5px; HEIGHT: 29px
}
.main3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/li1.gif) no-repeat 0px 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 727px; BORDER-BOTTOM: #666666 1px dashed
}
.main3_info {
	MARGIN: 0px auto 3px; WIDTH: 688px
}
.main3_info LI {
	FLOAT: left; MARGIN: 11px 0px
}
.main3_info LI.left {
	PADDING-RIGHT: 15px; PADDING-TOP: 20px
}
.main3_info LI.right {
	MARGIN-TOP: 7px; PADDING-TOP: 20px
}
.l_and3_r {
	BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/sh_bg2.gif) no-repeat right bottom; MARGIN: 0px auto; WIDTH: 784px; HEIGHT: 386px
}
.s3_main1 {
	BORDER-RIGHT: #ff7300 1px solid; BORDER-TOP: 0px; Z-INDEX: 2; MARGIN: 0px 0px 0px 7px; BORDER-LEFT: #ff7300 1px solid; WIDTH: 769px; BORDER-BOTTOM: #ff7300 1px solid; POSITION: relative; HEIGHT: 379px
}
.s3_main1_up {
	MARGIN: 0px 30px 0px 24px; BORDER-BOTTOM: #000 1px dashed; HEIGHT: 166px
}
.s3_main1_up .l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 90px; PADDING-BOTTOM: 0px; PADDING-TOP: 32px
}
.s3_main1_up .r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 52px
}
.s3_main1_down {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/b_06n.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 24px 0px 0px 215px; WIDTH: 135px; PADDING-TOP: 15px; HEIGHT: 49px
}
.s3_main1_down2 {
	PADDING-BOTTOM: 30px; MARGIN: 0px 0px 0px 215px; LINE-HEIGHT: 180%
}
.s2_main1_up {
	MARGIN: 0px 30px 0px 24px; HEIGHT: 126px
}
.s2_main1_up .l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 33px; PADDING-BOTTOM: 0px; WIDTH: 104px; PADDING-TOP: 12px; TEXT-ALIGN: right
}
.s2_main1_up .r {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 580px; PADDING-TOP: 30px
}
.s2_main1_up .bule {
	COLOR: #003cc8
}
.left_bg {
	BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/down1.gif) no-repeat 0px 0px; WIDTH: 343px; HEIGHT: 15px
}
.left_bg2 {
	BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/down3.gif) no-repeat 0px 0px; WIDTH: 343px; HEIGHT: 15px
}
.right_bg {
	WIDTH: 343px; HEIGHT: 15px
}
.right_bg2 {
	WIDTH: 343px; HEIGHT: 15px
}
.s2_down_r {
	WIDTH: 343px
}
#reg_cxt2 {
	WIDTH: 343px; HEIGHT: 230px
}
.pro1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; PADDING-TOP: 4px
}
.s2_main1_down {
	MARGIN: 5px auto 30px; WIDTH: 710px
}
.s2_down {
	BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/down2.gif) repeat-y
}
.s2_main_info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px; PADDING-TOP: 10px; BORDER-BOTTOM: #000 1px dashed
}
.s2_main_info2 {
	PADDING-LEFT: 14px; FLOAT: left; WIDTH: 165px; PADDING-TOP: 10px
}
.s2_main_info_r {
	FLOAT: left; WIDTH: 145px
}
.s2_main_bor {
	FLOAT: left; MARGIN: 0px 4px; BORDER-BOTTOM: #000 1px dashed
}
.s2_main3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/080119/li1.gif) no-repeat 0px 1px; PADDING-BOTTOM: 5px; MARGIN-RIGHT: 14px; PADDING-TOP: 0px
}
.s2_main_pro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; MARGIN: 0px 28px; WIDTH: 280px; LINE-HEIGHT: 150%; PADDING-TOP: 7px; HEIGHT: 115px
}
.s2_main_pro2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 14px 28px 0px; WIDTH: 280px; LINE-HEIGHT: 150%; PADDING-TOP: 0px
}
.next_banner {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px dashed; PADDING-LEFT: 20px; PADDING-BOTTOM: 24px; MARGIN: 0px 14px; WIDTH: 290px; PADDING-TOP: 7px
}
.next_banner2 {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px dashed; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 10px; WIDTH: 300px; PADDING-TOP: 7px
}
.graynav {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #666 1px solid; WIDTH: 80px; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.graynav {
	COLOR: #000000; TEXT-DECORATION: none
}
.graynav A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.graynav A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.graynav A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.orangenav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; WIDTH: 80px; PADDING-TOP: 3px; BORDER-BOTTOM: #666 1px solid; TEXT-ALIGN: center
}
.AlicnTab {
	FLOAT: left; WIDTH: 301px
}
.AlicnTab LI {
	FLOAT: left
}
.AlicnTab LI.right {
	BORDER-RIGHT: #b13186 1px solid
}
.tabContent {
	DISPLAY: none; PADDING-TOP: 14px; HEIGHT: 80px
}
#AlicnTab1 {
	PADDING-TOP: 0px
}
.main4 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 80px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 727px; PADDING-TOP: 35px
}
.title_01 {
	CLEAR: both; PADDING-LEFT: 15px; BACKGROUND: url(http://img.china.alibaba.com/images/cn/trade/title_bg01.gif); MARGIN-LEFT: 30px; WIDTH: 595px; PADDING-TOP: 15px; HEIGHT: 23px
}
.cnt_01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 100px; PADDING-TOP: 5px
}
.cnt_02 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 50px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
.cnt_02 LI.left {
	PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.cnt_02 LI.right {
	MARGIN-TOP: 7px; PADDING-TOP: 0px
}
.cnt_01 LI {
	VERTICAL-ALIGN: middle; LINE-HEIGHT: 150%; PADDING-TOP: 5px
}
.main2_info DIV.btn6 {
	FLOAT: left; MARGIN-LEFT: 130px
}
DIV.btn4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/cn/trade/b02m_04n.gif) no-repeat 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 14px 0px 14px 110px; WIDTH: 111px; CURSOR: hand; PADDING-TOP: 5px; HEIGHT: 29px
}
#comIntr {
	FONT-SIZE: 12px; WIDTH: 420px; HEIGHT: 64px
}
.redtext {
	COLOR: red
}
.blacktext {
	COLOR: #000000
}
.grey {
	COLOR: #999999
}
.awoke {
	MARGIN-TOP: 3px; PADDING-LEFT: 90px
}
.ok_button INPUT {
	MARGIN-TOP: -2px; MARGIN-LEFT: 12px
}
#submitForm {
	MARGIN-BOTTOM: 28px
}
#CountryListCN {
	WIDTH: 112px
}
#provinceCN {
	WIDTH: 66px
}
#capitalCN {
	WIDTH: 65px
}
#cityCN {
	WIDTH: 118px
}
#tradeSelect {
	MARGIN-LEFT: 8px
}
#positionSelect {
	FLOAT: left; MARGIN-LEFT: 14px
}
#positionSelect TABLE {
	
}
.hiddenI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.redtext_div {
	FLOAT: left; PADDING-TOP: 8px
}
#positionSelect TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.redbold FONT {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff7300
}
.redbold {
	FONT-SIZE: 12px
}
.redPoint {
	FLOAT: left; WIDTH: 40px; TEXT-ALIGN: right
}
.redPoint IMG {
	MARGIN-TOP: 12px; MARGIN-RIGHT: 8px
}
.content {
	FLOAT: left; WIDTH: 500px
}
.content2 {
	FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 700px
}
.listUL .li1 .freeButton {
	DISPLAY: none; FLOAT: left; MARGIN: auto 0px auto 80px
}
.button_n {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.china.alibaba.com/images/member/reg/b02m_04n2.gif) no-repeat 0px 0px; MARGIN-LEFT: 80px; WIDTH: 98px; COLOR: #ffffff; TEXT-INDENT: 16px; LINE-HEIGHT: 30px; HEIGHT: 28px
}
.button_n2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/member/reg/cxt.gif) no-repeat 0px 0px; MARGIN-LEFT: 60px; WIDTH: 131px; COLOR: #ffffff; TEXT-INDENT: 19px; LINE-HEIGHT: 30px; HEIGHT: 27px
}
.button_n A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.button_n A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.button_n A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.button_n A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.button_n A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.button_n2 A {
	COLOR: #a04400; TEXT-DECORATION: none
}
.button_n2 A:link {
	COLOR: #a04400; TEXT-DECORATION: none
}
.button_n2 A:visited {
	COLOR: #a04400; TEXT-DECORATION: none
}
.button_n2 A:hover {
	COLOR: #a04400; TEXT-DECORATION: none
}
.button_n2 A:active {
	COLOR: #a04400; TEXT-DECORATION: none
}
.listUL .li2 .freeButton {
	FLOAT: left; MARGIN: auto 0px
}
.listUL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px auto; WIDTH: 747px; PADDING-TOP: 0px
}
.listUL .li1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff
}
.listUL .li2 {
	BORDER-RIGHT: #ffd4b1 1px solid; BORDER-TOP: #ffd4b1 1px solid; BORDER-LEFT: #ffd4b1 1px solid; CURSOR: default; BORDER-BOTTOM: #ffd4b1 1px solid; BACKGROUND-COLOR: #ffe3cc
}
.freeTitle {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 8px; COLOR: #003278
}
.freeTitle A {
	COLOR: #003278; TEXT-DECORATION: none
}
.freeTitle A:link {
	COLOR: #003278; TEXT-DECORATION: none
}
.freeTitle A:visited {
	COLOR: #003278; TEXT-DECORATION: none
}
.freeTitle A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.freeTitle A:active {
	COLOR: #003278; TEXT-DECORATION: none
}
.freeText {
	MARGIN-BOTTOM: 8px
}
.freeHow {
	MARGIN-BOTTOM: 8px
}
.freeHow A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeHow A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeHow A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeHow A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.freeHow A:active {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.listUL .buttonSpc1 {
	PADDING-TOP: 24px
}
.listUL .buttonSpc2 {
	PADDING-TOP: 14px
}
.freeCall {
	PADDING-LEFT: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/6000612.gif) no-repeat 0px 0px
}
.freeCall A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeCall A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeCall A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeCall A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.freeCall A:active {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.onlineApp A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.onlineApp A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.onlineApp A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.onlineApp A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.onlineApp A:active {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeText UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; PADDING-TOP: 0px
}
.freeText UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.freeText .sTitle {
	FLOAT: left; WIDTH: 265px; COLOR: #003cc8
}
.freeText .sTitle A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeText .sTitle A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeText .sTitle A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeText .sTitle A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.freeText .sTitle A:active {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.freeText .sTime {
	FLOAT: left; WIDTH: 148px; TEXT-ALIGN: center
}
.freeText .sNum {
	FLOAT: left; WIDTH: 172px; TEXT-ALIGN: center
}
.freeText .sPos {
	FLOAT: left; TEXT-ALIGN: center
}
.freeText .sClr {
	CLEAR: both
}
.keys {
	COLOR: #ff0000
}
.leftTitle {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: #003278
}
.rightTitle {
	MARGIN-TOP: 12px; FONT-SIZE: 12px; FLOAT: right; COLOR: #003cc8; MARGIN-RIGHT: 16px
}
.rightTitle A {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.rightTitle A:link {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.rightTitle A:visited {
	COLOR: #003cc8; TEXT-DECORATION: none
}
.rightTitle A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
.rightTitle A:active {
	COLOR: #003cc8; TEXT-DECORATION: none
}
HR {
	MARGIN-TOP: 16px
}
#domainSelect {
	WIDTH: 236px
}
#domainNotice {
	FLOAT: left; LINE-HEIGHT: 24px
}
#domainCheck {
	FLOAT: left
}
#domainRead {
	FLOAT: left; LINE-HEIGHT: 24px
}
#domainRead A {
	COLOR: #013cc8; TEXT-DECORATION: underline
}
#domainRead A:link {
	COLOR: #013cc8; TEXT-DECORATION: underline
}
#domainRead A:visited {
	COLOR: #013cc8; TEXT-DECORATION: underline
}
#domainRead A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
#domainRead A:active {
	COLOR: #013cc8; TEXT-DECORATION: underline
}
#selectDomain {
	FLOAT: left
}
#domainForm {
	MARGIN-LEFT: -12px
}
#textareaForm {
	PADDING-LEFT: 75px
}
.note2 {
	FONT-WEIGHT: normal; MARGIN-LEFT: 86px; COLOR: #fe0000
}
#areaSelect {
	PADDING-LEFT: 4px
}
#note {
	PADDING-LEFT: 10px
}
.new_button {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 24px; MARGIN-LEFT: 94px
}
.new_button A {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/b02m_04n.gif); WIDTH: 85px; COLOR: #ffffff; TEXT-INDENT: 17px; LINE-HEIGHT: 27px; HEIGHT: 29px; TEXT-DECORATION: none
}
.new_button A:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/b02m_04n.gif); WIDTH: 85px; COLOR: #ffffff; TEXT-INDENT: 17px; LINE-HEIGHT: 27px; HEIGHT: 29px; TEXT-DECORATION: none
}
.new_button A:visited {
	BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/b02m_04n.gif); TEXT-DECORATION: none
}
.new_button A:hover {
	BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/b02m_04h.gif); TEXT-DECORATION: none
}
.new_button A:active {
	BACKGROUND: url(http://img.china.alibaba.com/images/common/icon_v01/b02m_04c.gif); TEXT-DECORATION: none
}
.orange {
	COLOR: #ff7300
}
#register {
	WIDTH: 952px; PADDING-TOP: 24px; POSITION: relative
}
#register DIV.rightinfo {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left
}
.rightGuide {
	RIGHT: 0px; TOP: 20px
}
LABEL.placeholder {
	POSITION: relative
}
LABEL.placeholder SPAN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 13px; Z-INDEX: 5; PADDING-BOTTOM: 3px; COLOR: #808080; LINE-HEIGHT: 16px; PADDING-TOP: 3px; POSITION: absolute; opacity: 1
}
