<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/magnifier.js"></script>
<style>
.detail .pro_detail .pro_text ul li.operate a.inquiry{width:89px;background:url(skin/<?php echo  $SYSINFO['templates'];?>/images/inquiry.gif) 0 0 no-repeat;;margin-left:10px;}
dl.guboo {text-align:left; padding:10px; border-bottom:1px solid #eeeeee;}
.ftcolor {color:#E78210;}
dt span {color:#CECFCE;}
.messagebox{text-align:left; padding:10px;}
</style>
</head>
<body>
<div id="wrapper">
	{inc: require("shop/header.php");/}
<div class="clear"></div>
<div class="path2">{echo:lp{i_location};/}：<a href="index.php">{echo:lp{i_index};/}</a> > <a href="{echo: shop_url($shop_id,'index');/}">{echo: $SHOP['shop_name'];/}</a> > {echo: $groupbuyinfo['group_name'];/}</div>
<div class="detail">
	<div class="pro_detail">
		<h1>{echo: $groupbuyinfo['group_name'];/} ({echo:lp{s_groupbuy};/})</h1>
		<div class="box">
            <div class="pro_pic" onmouseover="document.getElementById('show_bigpic').style.display='none';" onmouseout="document.getElementById('show_bigpic').style.display='block';"><a class="MagicZoom" id="zoom1" href="{echo: $gallery[0]['img_original'] ? $gallery[0]['img_original'] : "skin/default/images/nopic_big.gif";/}"><img src="{echo: $gallery[0]['img_url'] ? $gallery[0]['img_url'] : "skin/default/images/nopic_big.gif";/}"/></a><IMG class="MagicZoomLoading" alt="loading..." src="skin/{echo: $SYSINFO['templates'];/}/images/ajax-loader.gif"><a id="show_bigpic">{echo: lp{s_click_viewbigimg};/}</a></div>
            <div class="pic_box clear">
                <a class="left_button" href="javascript:void(0);" onclick="img_pre('list1_1');"></a>
                    <div id="thumbbox">
                        <div class="long_box" id="list1_1">
                        {sta:foreach($gallery as $val)[loop]}
							<a href="{echo:$val['img_original'];/}" rev="{echo:$val['img_url'];/}" rel="zoom1"><span><img src="{echo:$val['thumb_url'];/}"></span></a>
                		{end:foreach/}
                        </div>
                    </div>
                <a class="right_button" href="javascript:void(0);" onclick="img_next('list1_1');"></a>
            </div>
        </div>
		<div class="pro_text">
			<ul>
				{sta: if($isset_logo)[exc]}
					{sta: if($groupbuyinfo['recommended'])[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
							<li><span><a href="login.php" style=" color:#F00">{echo:lp{s_isset_login};/}</a></label></li>
						{sta: } else[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							{sta: if($start_time < $now_time and $now_time < $end_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_ongoing};/}</label></li>
							{sta: } else if($start_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_not_published};/}</label></li>
							{sta: } else if($end_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
							{end:if/}
								<li><span><a href="login.php" style=" color:#F00">{echo:lp{s_isset_login};/}</a></label></li>
						{end:if/}
				{sta: } else[exc]}
					{sta: if($user_id != $shop_id)[exc]}
						{sta: if($groupbuyinfo['recommended'])[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
							{sta: if($isset_groupbuy)[exc]}
								<li><a href="javascript:gotoOrder({echo: $groupbuyinfo['group_id'];/});"
									title="{echo:lp{s_detriment};/}">{echo:lp{s_detriment};/}</a>
									</li>
							{end:if/}
						{sta: } else[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							{sta: if($start_time < $now_time and $now_time < $end_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_ongoing};/}</label></li>
								{sta: if($isset_groupbuy)[exc]}

									<li><span>{echo:lp{s_groupbuy_buy_num};/}:</span><label>{echo: $groupbuyinfo['quantity'];/}</label></li>
									<li><span>{echo:lp{s_groupbuy_real_name};/}:</span><label>{echo: $groupbuyinfo['linkman'];/}</label></li>
									<li><span>{echo:lp{s_groupbuy_tel};/}:</span><label>{echo: $groupbuyinfo['tel'];/}</label></li>
									{sta: if($groupbuyinfo['recommended'])[exc]}
										<li><a href="javascript:gotoOrder({echo: $groupbuyinfo['group_id'];/});"
										style=" background: url(skin/default/images/pj_bg.gif); width=180px; height=133px;">{echo: lp{s_detriment};/}</a>
										</li>
									{sta: } else[exc]}
										<li><a href="javascript:exitGroupbuy({echo: $groupbuyinfo['group_id'];/});"
										title="{echo:lp{s_groupbuy_del};/}" style=" background: url(skin/default/images/pj_bg.gif); width=180px; height=133px;">{echo:lp{s_groupbuy_del};/}</a>
										</li>
									{end:if/}
								{sta: } else[exc]}
									<li><span>{echo:lp{s_groupbuy_buy_num};/}:</span><input size="8" value="1" id='num' />({echo:lp{s_required};/})</li>
									<li><span>{echo:lp{s_groupbuy_real_name};/}:</span><input size="8" value="" id='groupbuyname' />({echo:lp{s_required};/})</li>
									<li><span>{echo:lp{s_groupbuy_tel};/}:</span><input size="8" value="" id='groupbuytel' />({echo:lp{s_required};/})</li>
									<li><a href="javascript:gotoGroupbuy({echo: $groupbuyinfo['group_id'];/});"
										title="{echo:lp{s_groupbuy_add};/}" style=" background: url(skin/default/images/pj_bg.gif); width=180px; height=133px;">{echo:lp{s_groupbuy_add};/}</a>
									</li>
								{end:if/}
							{sta: } else if($start_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_not_published};/}</label></li>
							{sta: } else if($end_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
									{sta: if($isset_groupbuy)[exc]}
										<li><a href="javascript:gotoOrder({echo: $groupbuyinfo['group_id'];/});"
											 style=" background: url(skin/default/images/pj_bg.gif); width=180px; height=133px;">{echo: lp{s_detriment};/}</a>
											</li>
									{end:if/}
							{sta: } else if($end_time < $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
							{end:if/}
						{end:if/}
					{sta: } else[exc]}
						{sta: if($groupbuyinfo['recommended'])[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
						{sta: } else[exc]}
							<li><span>{echo:lp{s_groupbuy_time};/}:</span><label>{echo: time_left(strtotime($groupbuyinfo['end_time']));/}</label></li>
							<li><span>{echo:lp{s_groupbuy_regiment_number};/}:</span><label>{echo: $groupbuyinfo['min_quantity'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_restult_num};/}:</span><label>{echo: $groupbuyinfo['purchase_num'];/}</label></li>
							<li><span>{echo:lp{s_groupbuy_old_price};/}:</span>￥<label>{echo: $groupbuyinfo['goods_price'];/}</label> {echo: lp{s_yuan};/}</li>
							<li><span>{echo:lp{s_groupbuy_price};/}:</span>￥<label>{echo: $groupbuyinfo['spec_price'];/}</label> {echo: lp{s_yuan};/}</li>
							{sta: if($start_time < $now_time and $now_time < $end_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_ongoing};/}</label></li>
							{sta: } else if($start_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_not_published};/}</label></li>
							{sta: } else if($end_time > $now_time)[exc]}
								<li><span>{echo:lp{s_group_buy_state};/}:</span><label>{echo:lp{s_completed};/}</label></li>
							{end:if/}
						{end:if/}
					{end:if/}
				{end:if/}
			</ul>
		</div>
	</div>
	<div class="shop_detail">
		<div class="shop_logo"><a href="{echo: shop_url($shop_id,'index');/}" title=""><img src="{echo: $SHOP['shop_logo'] ? $SHOP['shop_logo'] : 'skin/default/images/shop_nologo.gif';/}" width="198" height="98" alt="" /></a></div>
		<div class="shop_name"><a href="{echo: shop_url($shop_id,'index');/}">{echo: $SHOP['shop_name'];/}</a></div>
		<ul>
			<li>{echo:lp{s_nickname};/}： {echo: $ranks['user_name'];/}</li>
			<li>{echo: lp{s_contact_seller};/}：<script src="imshow.php?u={echo: $SHOP['user_id'];/}"></script></li>
			<li>{echo:lp{s_goods_num};/}：{echo: $SHOP['goods_num'];/}</li>
			<li><span style="float:left;">{echo: lp{s_seller_c};/}：<a href="{echo: shop_url($shop_id,'credit');/}" hideFocus=true>{echo:$credit['SUM(seller_credit)'];/} </a>&nbsp;&nbsp;</span><span class="icon{echo:$integral['int_grade'];/}" style="float:left;"></span><div style="clear:both;"></div></li>
			<li>{echo:lp{s_new_login};/}：{echo: $ranks['last_login_time'];/}</li>
			<li>{echo:lp{s_creat_time};/}：{echo: $SHOP['shop_creat_time'];/}</li>
			<li><span class="left">{echo:lp{s_certification};/}：</span>
			{sta: if($SHOP['rank_id']>2)[exc]}
			<a href="javascript:;" title="{echo:lp{i_approve_company};/}"  class="shop_cert left">{echo:lp{i_approve_company};/}</a>
			{sta: } else[exc]}
			<a href="javascript:;" title="{echo:lp{i_noapprove_company};/}"  class="shop_cert2 left">{echo:lp{i_noapprove_company};/}</a>
			{end:if/}</li>
		</ul>
		<a class="go2shop" href="{echo: shop_url($shop_id,'index');/}" title=""><img src="skin/{echo: $SYSINFO['templates'];/}/images/go2shop.gif" width="183" height="36" alt="{echo:lp{s_seller_shop};/}" /></a>
	</div>
</div>
<div class="detail_other">
	<ul class="tabbar"><li class="selected"><a href="javascript:void(0);" hideFocus=true>{echo:lp{s_group_buy_introduction};/}</a></li></ul>
	<div id="tab1_content1" class="detail_content">
		{echo: $groupbuyinfo['group_desc'];/}
	</div>
</div>
<div class="bigpart">
	<div class="guestbook top10">
		<div class="c_t">
		  <div class="c_t_l left"></div>
		  <div class="c_t_r right"></div>
		  <h2><a href="javascript:;">{echo:lp{s_buyer_comm};/}</a><span>Buyers Comments</span></h2>
		</div>
		<div class="c_m">
                {sta:foreach($guestbook_list as $value)[loop]}
                    {sta:if($value['group_id'])[loop]}
                        <dl class="guboo">
                            <dt><label class="ftcolor">{echo: $value['name'];/}：&nbsp;&nbsp;</label>{echo: $value['content'];/} &nbsp;&nbsp;<span>{echo: $value['add_time'];/}</span></dt>
                            {sta:if($value['reply']) [loop]}<dd style="width:600px; text-align:left;">{echo:lp{s_seller_reply};/}：{echo: $value['reply'];/}</dd>{end:if/}
                        </dl>
                    {end:if/}
                {end:foreach/}

			<div class="messagebox" >
            	<div>
                    <div id="sendbox" style="display:none;">
                        <form action="do.php?act=shop_guestbook" name="guestForm" method="post" id="guestForm" onSubmit="return checkForm();">
                        <input maxlength="20" name="name" type="hidden" value="{echo:$USER['user_name'];/}" />
                        <input maxlength="50" name="email" type="hidden" value="{echo:$USER['user_email'];/}" />
                        <input maxlength="50" name="group_id" type="hidden" value="{echo: $groupbuyinfo['group_id'];/}" />
                        <input maxlength="50" name="group_name" type="hidden" value="{echo: $groupbuyinfo['group_name'];/}" />
                        <input maxlength="50" name="goods_id" type="hidden" value="{echo: $groupbuyinfo['goods_id'];/}" />
                        <input maxlength="50" name="contact" type="hidden" />
                        <input type="hidden" name="shop_id" value="{echo: $shop_id;/}" />
                        <input type="hidden" name="shop_name" value="{echo: $SHOP['shop_name'];/}" />
                            <textarea cols="40" rows="4" name="content" id="textareac"></textarea><br/ >
                            <input class="button" type="submit" value="{echo:lp{s_post_comm};/}" />
                        </form>

                    </div>
                <div style="">
            		<input class="button" style="margin-left:20px;" type="button" value="{echo:lp{s_wantto_comm};/}" onclick="this.style.display='none';document.getElementById('sendbox').style.display=''" />
            	</div>
               </div>
            </div>
		</div>
		<div class="c_bt">
		  <div class="c_bt_l left"></div>
		  <div class="c_bt_r right"></div>
		</div>
	</div>
</div>
	<script language="JavaScript" src="servtools/ajax_client/ajax.js"></script>
	<script language="JavaScript">
	<!--
		function gotoGroupbuy(id) {
			var num = document.getElementById('num').value;
			var groupbuyname = document.getElementById('groupbuyname').value;
			var groupbuytel = document.getElementById('groupbuytel').value;
			ajax("do.php?act=goods_add_groupbuy","POST","id="+id+"&num="+num+"&groupbuyname="+groupbuyname+"&groupbuytel="+groupbuytel,function(data){
				if (data == -1){
					alert('{echo:lp{s_groupbuy_isset_num};/}');
				}else if (data == -2){
					alert('{echo:lp{s_groupbuy_isset_name};/}');
				}else if (data == -3){
					alert('{echo:lp{s_groupbuy_isset_tel};/}');
				}else if (data == -4){
					alert('{echo:lp{s_groupbuy_isset_one};/}');
				}else if (data == 1){
					alert('{echo:lp{s_groupbuy_isset_true};/}');
					location.href = "{echo: $baseUrl;/}goods.php?id="+id+"&app=groupbuyinfo";
				}
			});
		}
		function exitGroupbuy(id) {
			ajax("do.php?act=goods_exit_groupbuy","POST","id="+id,function(data){
				if (data == 1){
					alert('{echo:lp{s_groupbuy_isset_false};/}');
					location.href = "{echo: $baseUrl;/}goods.php?id="+id+"&app=groupbuyinfo";
				}
			});
		}
		function gotoOrder(id) {
			location.href = "{echo: $baseUrl;/}modules.php?app=user_order_groupbuy&gid="+id;
		}
	//-->
	</script>
	{inc:  require("shop/footer.php");/}
</div>
</body>
</html>
