<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/shop_{echo: $SHOP['shop_template'];/}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<style>
.shop_header {background:#4A9DA5;}
{sta:if($SHOP['shop_template_img'])[exc]}
.shop_header {background:transparent url({echo: $SHOP['shop_template_img'];/}) no-repeat scroll 0 0;}
{end:if/}
</style>
</head>
<body>
<div id="wrapper">
	{inc: require("shop/index_header.php");/}
<div class="clear"></div>
<div class="shop_header">
	<h1>{echo: $SHOP['shop_name'];/}</h1>
	{inc: require("shop/menu.php");/}
</div>
	{inc: require("shop/left.php");/}
<div class="bigpart">
	<div class="shop_notice top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2 class="highlight">{echo:lp{s_shop_notices};/}</h2></div>
		<div class="c_m">{echo:$SHOP['shop_notice'];/}</div>
	</div>
	<div class="pro_list top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2><a class="highlight" href="{echo: shop_url($shop_id,'products');/}">{echo:lp{s_shop_allgoods};/}</a></h2><span class="right"><a id="window" onclick="changeStyle2('window',this)" href="javascript:void(0);"  class="selected" hidefocus="true">{echo:lp{s_shop_smallimg};/}</a><a id="list" onclick="changeStyle2('list',this)"  href="javascript:void(0);" hidefocus="true">{echo:lp{s_shop_bigimg};/}</a></span></div>
			<div class="c_m">
			 <ul id="pro_list">
			 {sta:if($best_goods) {
			foreach($new_goods as $value)[loop]}
              <li><a href="{echo: goods_url($value['goods_id']);/}"><img src="{echo: $value['is_set_image'] ? $value['goods_thumb'] : 'skin/default/images/nopic.gif';/}" width="95" height="95" alt="{echo: $value['goods_name'];/}" /></a><a class="pro_name" href="{echo: goods_url($value['goods_id']);/}" title="{echo: $value['goods_name'];/}">{echo: sub_str($value['goods_name'],22,false);/}</a><label>￥{echo: $value['goods_price'];/}{echo:lp{s_yuan};/}</label></li>
        	{end:foreach/}
			{end:if/}
            	<div class="clear"></div>
        	</ul>
			</div>
	</div>
	<div class="guestbook top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2><a class="highlight" href="javascript:;">{echo:lp{s_buyer_comm};/}</a></h2></div>
			<div class="c_m">
			{sta:foreach($guestbook_list as $value)[loop]}
				<dl>
					<dt><label class="ftcolor">{echo: $value['name'];/}：</label>{echo: $value['content'];/} <span>{echo: $value['add_time'];/}</span>
					</dt>
					{sta:if($value['reply']) [loop]}<dd>{echo:lp{s_seller_reply};/}：{echo: $value['reply'];/}</dd>{end:if/}
				</dl>
			{end:foreach/}
				<div class="messagebox"><div id="sendbox" style="display:none;">
				<form action="do.php?act=shop_guestbook" name="guestForm" method="post" id="guestForm" onSubmit="return checkForm();">
				<input maxlength="20" name="name" type="hidden" value="{echo:$USER['user_name'];/}" />
				<input maxlength="50" name="email" type="hidden" value="{echo:$USER['user_email'];/}" />
				<input maxlength="50" name="contact" type="hidden" />
				<input type="hidden" name="shop_id" value="{echo: $shop_id;/}" />
				<input type="hidden" name="shop_name" value="{echo: $SHOP['shop_name'];/}" />
					<textarea cols="40" rows="4" name="content" id="textareac"></textarea><br/ >
					<input class="button" type="submit" value="{echo:lp{s_post_comm};/}" />
				</form>
				</div><input class="button" type="button" value="{echo:lp{s_wantto_comm};/}" onclick="this.style.display='none';document.getElementById('sendbox').style.display=''" /></div>
			</div>
	</div>
</div>
	{inc:  require("shop/footer.php");/}
</div>
<script>
function checkForm() {
	var name = document.getElementsByName("name")[0];
	var textareac = document.getElementById("textareac")[0];
	if(!name.value) {
		alert("{echo:lp{s_login_pls};/}");
		return false;
	}
	if(textareac.value) {
		alert("{echo:lp{s_type_comm_pls};/}");
		return false;
	}
	return true;
}

</script>
</body>
</html>
