<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo:lp{i_inquiry};/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base href="{echo:$baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
table{ border:#ccc 1px solid; text-align:left}
td{ height:22px; padding:5px; border-bottom:#ccc 1px dashed;}
p.ttt{margin:20px auto;}
</style>
<body>
<div id="wrapper">
  <!-- 顶部 -->
  {inc: include("shop/index_header.php");/}
  <!-- 头部 -->
<div class="path">{echo:lp{i_location};/}：<a href="index.php">{echo:lp{i_index};/}</a> > {echo:lp{i_iwantget_price};/} </div>
<div style="padding:5px; border:#ccc 1px dashed; margin:10px auto;">
<p class="ttt">{echo: lp{i_inquiry_sucess};/}</p>
<p class="ttt"><a href="index.php">{echo: lp{i_back_index};/}</a></p>
<p class="ttt"><a href="goods.php?id={echo: $post['goods_id'];/}">{echo: lp{i_back_goodspage};/}</a></p>
</div>
<div class="top5 clear"></div>
<!-- 底部 -->
{inc: require("shop/index_footer.php");/}
</div>
</body>
</html>