<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/shop_{echo: $SHOP['shop_template'];/}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<style>
.shop_header {background:#4A9DA5;}
{sta:if($SHOP['shop_template_img'])[exc]}
.shop_header {background:transparent url({echo: $SHOP['shop_template_img'];/}) no-repeat scroll 0 0;}
{end:if/}
</style>
</head>
<body>
<div id="wrapper">
	{inc: require("shop/header.php");/}
<div class="clear"></div>
<div class="shop_header">
	<h1>{echo: $SHOP['shop_name'];/}</h1>
	{inc: require("shop/menu.php");/}
</div>
	{inc: require("shop/left.php");/}
<div class="bigpart">
	<div class="shop_notice top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2><a class="highlight" href="{echo: shop_url($shop_id,'intro');/}">{echo:lp{s_shop_intro};/}</a></h2></div>
			<div class="c_m">{echo:$SHOP['shop_intro'];/}
		</div>
	</div>
</div>
	{inc:  require("shop/footer.php");/}
</div>
</body>
</html>