<div class="sidebar top10">
	<div class="shop_detail">
		<div class="c_m">
			<div class="shop_logo"><a href="{echo: shop_url($shop_id,'index');/}" title=""><img src="{echo: $SHOP['shop_logo'] ? $SHOP['shop_logo'] : 'skin/default/images/shop_nologo.gif';/}" width="198" height="98" alt="" /></a></div>
			<div class="shop_name"><a href="{echo: shop_url($shop_id,'index');/}">{echo: $SHOP['shop_name'];/}</a></div>
			<ul>
				<li>{echo:lp{s_nickname};/}： {echo: $ranks['user_name'];/}</li>
				{sta:if($im_enable==true)[exc]}<li>{echo:lp{s_contact_seller};/}：<script src="imshow.php?u={echo:$SHOP['user_id'];/}"></script></li>{end:if/}
				<li>{echo:lp{s_goods_num};/}： {echo: $SHOP['goods_num'];/}</li>
				<li><span style="float:left;">{echo:lp{s_seller_c};/}：<a href="{echo: shop_url($shop_id,'credit');/}" hideFocus=true>{echo:$credit['SUM(seller_credit)'];/}</a></span><span class="icon{echo:$integral['int_grade'];/}" style="float:left;"></span><div style="clear:both;"></div></li>
				<li>{echo:lp{s_new_login};/}： {echo: $ranks['last_login_time'];/}</li>
				<li>{echo:lp{s_creat_time};/}： {echo: $SHOP['shop_creat_time'];/}</li>
				<li><span class="left">{echo:lp{s_approve_info};/}：</span>
				{sta: if($SHOP['rank_id']>2)[exc]}
				<a href="javascript:;" title="{echo:lp{s_approve_company};/}"  class="shop_cert left">{echo:lp{s_approve_company};/}</a>
				{sta: } else[exc]}
				<a href="javascript:;" title="{echo:lp{s_noapprove_company};/}"  class="shop_cert2 left">{echo:lp{s_noapprove_company};/}</a>
				{end:if/}
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="shop_search top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2><a class="highlight" href="ucategory.php?s={echo: $SHOP['shop_id'];/}">{echo:lp{s_store_insearch};/}</a></h2></div>

			<form action="ucategory.php" method="get">
			<input name="s" value="{echo: $SHOP['shop_id'];/}" type="hidden" />
			<div class="c_m">
				<div class="searchbox"><input class="text" name="k" type="text" /><input type="submit" value="{echo:lp{s_search};/}" class="button" /></div>
			</div>
			</form>
	</div>
	<div class="pro_class top10">
        <div class="head_line"><div class="bg_left"></div><div class="bg_right"></div></div>
        <div class="top"><h2><a class="highlight" href="{echo: shop_url($shop_id,'products');/}">{echo:lp{s_goods_category};/}</a></h2><span class="right"><a href="{echo: shop_url($shop_id,'products');/}">{echo:lp{s_more};/}>></a></span></div>

			<div class="c_m">
				<ul>
				{sta: if(empty($category_list_new))[exc]}
				<li class="open">{echo: lp{s_shop_noaddcategory};/}</li>
				{sta:} else {
					$category_0 = get_sub_category($category_list_new,0);
					foreach($category_0 as $v) [loop]}
					<li class="open"><a href="{echo: ucategory_url($v['shop_cat_id']);/}">{echo: $v['shop_cat_name'];/}</a>
				{sta: 
					$category_sub = get_sub_category($category_list_new,$v['shop_cat_id']);
					if(!empty($category_sub))[exc]}
					{sta:foreach($category_sub as $value) [loop]}
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{echo: ucategory_url($value['shop_cat_id']);/}">{echo: $value['shop_cat_name'];/}</a>		
					{sta: foreach/}
					{sta: if/}
					</li>
				{sta: foreach/}
				{end:if/}
				</ul>
			</div>
	</div>
	
</div>