<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/shop_{echo: $SHOP['shop_template'];/}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<style>
.shop_header {background:#4A9DA5;}
{sta:if($SHOP['shop_template_img'])[exc]}
.shop_header {background:transparent url({echo: $SHOP['shop_template_img'];/}) no-repeat scroll 0 0;}
{end:if/}
</style>
</head>
<body onload="initialize()" onunload="GUnload()">
<div id="wrapper">
	{inc: require("shop/header.php");/}
<div class="clear"></div>
<div class="shop_header">
	<h1>{echo: $SHOP['shop_name'];/}</h1>
	{inc: require("shop/menu.php");/}
</div>
	{inc: require("shop/left.php");/}
<div class="bigpart">
	<div class="shop_notice top10">
		<div class="c_t">
			<div class="c_t_l left"></div>
			<div class="c_t_r right"></div>
			<h2><a href="javascript:;">{echo:lp{s_shop_seat};/}</a><span></span></h2>
		</div>
		<div class="c_m" ><div id="map_canvas" style="width: 688px; height: 500px"></div></div>
		<div class="c_bt">
			<div class="c_bt_l left"></div>
			<div class="c_bt_r right"></div>
		</div>
	</div>
</div>
	{inc:  require("shop/footer.php");/}
</div>

<script src="http://maps.google.com/maps?file=api&v=2.x&key={echo:$SYSINFO['map_key'];/}" type="text/javascript"></script>
<script type="text/javascript">

var now_x = {echo:$SHOP['map_x'];/};
var now_y = {echo:$SHOP['map_y'];/};
var now_zoom = {echo:$SHOP['map_zoom'];/};

function initialize() {
	if (GBrowserIsCompatible()) {
		var map = new GMap2(document.getElementById("map_canvas"));
		var center = new GLatLng(now_y, now_x);
		map.setCenter(center, now_zoom);

		var point = new GLatLng(now_y,now_x);
		var marker = new GMarker(point);
		map.addOverlay(marker);

		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
	}
}
</script>
</body>
</html>