<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/shop_{echo: $SHOP['shop_template'];/}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<style>
.shop_header {background:#4A9DA5;}
{sta:if($SHOP['shop_template_img'])[exc]}
.shop_header {background:transparent url({echo: $SHOP['shop_template_img'];/}) no-repeat scroll 0 0;}
{end:if/}
</style>
</head>
<body>
<div id="wrapper">
	{inc: require("shop/header.php");/}
<div class="clear"></div>
<div class="shop_header">
	<h1>{echo: $SHOP['shop_name'];/}</h1>
	<ul class="tabbar"><li><a href="{echo: shop_url($shop_id,'index');/}" hideFocus=true>{echo:lp{s_shop_indexs};/}</a></li><li><a href="{echo: shop_url($shop_id,'credit');/}" hideFocus=true>信用评价</a></li><li ><a href="{echo: shop_url($shop_id,'intro');/}" hideFocus=true>{echo:lp{s_shop_intro};/}</a></li><li class="selected"><a href="{echo: shop_url($shop_id,'products');/}" hideFocus=true>{echo: lp{s_products};/}</a></li></ul>
</div>
	{inc: require("shop/left.php");/}
<div class="bigpart">
	<div class="pro_list top10">
		<div class="c_t">
			<div class="c_t_l left"></div>
			<div class="c_t_r right"></div>
			<span class="right"><a id="window" onclick="changeStyle2('window',this)" href="javascript:void(0);"  class="selected" hidefocus="true">{echo:lp{s_shop_smallimg};/}</a><a id="list" onclick="changeStyle2('list',this)"  href="javascript:void(0);" hidefocus="true">{echo:lp{s_shop_bigimg};/}</a></span>
			<h2><a href="{echo: ucategory_url($shop_cat_id);/}">{echo: $catinfo['shop_cat_name'];/}</a><span></span></h2>
		</div>
		<div class="c_m">
		 <ul id="pro_list">
		 {sta:
		if($result['result']) {
			foreach($result['result'] as $v)[loop]}
			<li><a href="{echo: goods_url($v['goods_id']);/}"><img src="{echo: $v['is_set_image'] ? $v['goods_thumb'] : 'skin/default/images/nopic.gif';/}" width="95" height="95" alt="{echo: $v['goods_name'];/}" /></a><a class="pro_name" href="{echo: goods_url($v['goods_id']);/}" title="{echo: $v['goods_name'];/}">{echo: sub_str($v['goods_name'],20,false);/}</a><label>￥{echo: $v['goods_price'];/}{echo: lp{s_yan};/}</label></li>
		{end:foreach/}
		 {sta: }else {
			echo lp{s_no_goods};
		if/}
		</ul>
		<div style="clear:both;">&nbsp;</div>
		<div class="bottom">
			<span>{echo: str_replace("{num}",$result['countnum'],lp{s_page_num});/}</span>
			<a href="{echo: shop_url($shop_id,'products',$result['firstpage']);/}" >{echo: lp{s_page_first};/}</a>
			<a href="{echo: shop_url($shop_id,'products',$result['prepage']);/}">{echo: lp{s_page_pre};/}</a>
			<a href="{echo: shop_url($shop_id,'products',$result['nextpage']);/}" >{echo: lp{s_page_next};/}</a>
			<a href="{echo: shop_url($shop_id,'products',$result['lastpage']);/}" >{echo: lp{s_page_last};/}</a>
			<span>{echo: lp{s_page_now};/}{echo: $result['page'];/}/{echo: $result['countpage'];/}</span>
			<span>{echo: str_replace("{num}",$result['countpage'],lp{s_page_count});/}</span>
		</div>
		</div>
		<div class="c_bt">
		  <div class="c_bt_l left"></div>
		  <div class="c_bt_r right"></div>
		</div>
	</div>
</div>
	{inc:  require("shop/footer.php");/}
</div>
</body>
</html>