<!--<?php print <<<EOT
-->
<div class="c"></div></div><!--.main-wrap,#main End-->
<div class="footer-wrap">
<div class="c"></div>
<div id="bottom"></div>
<!--
EOT;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.Footer',$fid);
if($htmlAdvert){print <<<EOT
-->
<center style="margin:5px 0;">$htmlAdvert</center>
<!--
EOT;
}print <<<EOT
-->
<div class="c"></div>
<div id="footer">
<div id="mode-footer" class="mt">
	<div class="bottom tac">
		<ul>
<!--
EOT;
foreach($GLOBALS['db_footnav'] as $value){
if ($value['pos'] == '-1' || strpos(",{$value['pos']},",','.($db_mode?$db_mode:'bbs').',') !== false) {print <<<EOT
-->
			<li>{$value['html']}</li>
<!--
EOT;
}}print <<<EOT
-->
			<li><a href="job.php?action=erasecookie&verify=$GLOBALS[loginhash]">清除Cookies</a></li>
			<li><a href="$db_ceoconnect">联系我们</a></li>
			<li><a href="simple/index.php">无图版</a></li>
			<li><a href="m/index.php">手机浏览</a></li>
			<li><a href="javascript:scroll(0,0)">返回顶部</a></li>
		</ul>
	</div>
	<center class="f10"><span id="windspend">$wind_spend Time now is:$ft_time, $ft_gzip $db_icp</span><br />
	Powered by <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> <a href="http://www.phpwind.com/certificate.php?host={$pwServer['HTTP_HOST']}"><b>Certificate</b></a> Code &copy;2003-2010 <a href="http://www.phpwind.com/" target="_blank"><b>PHPWind.com</b></a> Corporation <span id="stats"></span>
<!--
EOT;
if($db_ystats_ifopen=='0'){print <<<EOT
-->
<noscript>
	<a href="http://www.linezing.com" target="_blank"><img src="http://img.tongji.linezing.com/{$db_ystats_unit_id}/tongji.gif"/></a>
</noscript>
<!--
EOT;
}print <<<EOT
-->
	</center></div></div></div></div>
<!--
EOT;
if($GLOBALS['groupid'] != 'guest' && $GLOBALS['groupid'] != '' && $GLOBALS['db_toolbar']){
include_once PrintEot('bottom');
}print <<<EOT
-->
<script language="JavaScript" src="js/global.js"></script>
<!--
EOT;
$db_ifcredit && $credit_pop && require PrintEot('credit_pop');
print <<<EOT
-->
</body></html>
<script language="JavaScript" src="js/app_global.js"></script>
<script language="JavaScript">
var openmenu = {{$GLOBALS['db_menuinit']}};
window.attachEvent('onload',function(){read.InitMenu()});
</script>
<!--
EOT;
if($GLOBALS['groupid'] != 'guest' && $GLOBALS['groupid'] != '' && $GLOBALS['db_toolbar']){print <<<EOT
-->
<!--[if IE 6]>
<script type="text/javascript">
var startbar = document.getElementById('startbar');
startbar.style.position ='absolute';
window.attachEvent('onscroll',function(){
	startbar.style.position = 'static';
	startbar.style.position = 'absolute';
});
</script>
<![endif]-->
<!--
EOT;
}?>-->