<!--<?php
include_once PrintEot('m_header');print <<<EOT
-->
<div style="padding:20px 15px;">
      <div class="tabB cc mb10">
        <ul>
			<li id="b_h"><a href="{$thisbase}q=browse">首页</a></li>
<!--
EOT;
if($o_browse & 4){print <<<EOT
-->
			<li id="b_w"><a href="{$thisbase}q=browse&tab=w">记录</a></li>
<!--
EOT;
}if($db_phopen && $o_browse & 16){print <<<EOT
-->
			<li id="b_p"><a href="{$thisbase}q=browse&tab=p">相册</a></li>
<!--
EOT;
}if($db_share_open && $o_browse & 8){print <<<EOT
-->
			<li id="b_s"><a href="{$thisbase}q=browse&tab=s">分享</a></li>
<!--
EOT;
}if($db_dopen && $o_browse & 64){print <<<EOT
-->
			<li id="b_d"><a href="{$thisbase}q=browse&tab=d">日志</a></li>
<!--
EOT;
}if($db_groups_open && $o_browse & 32){print <<<EOT
-->
			<li id="b_g"><a href="{$thisbase}q=browse&tab=g">群组</a></li>
<!--
EOT;
}if($o_browse & 128){print <<<EOT
-->
			<li id="b_t"><a href="{$thisbase}q=browse&tab=t">最新帖子</a></li>
<!--
EOT;
}if($o_browse & 256){print <<<EOT
-->
			<li id="b_r"><a href="{$thisbase}q=browse&tab=r">最新回复</a></li>
<!--
EOT;
}print <<<EOT
-->
        </ul>
<script language="JavaScript">
setCurrent('b_{$tab}','b_h','current');
</script>
      </div>
<!--
EOT;
if($tab == 'h'){
print<<<EOT
-->
    <div class="w640 fl mt">
<!--
EOT;
if($o_browse & 1){
print<<<EOT
-->
    <div class="fl w280">
        <div class="boxB cc">
<!--flash-->
<style>
.pwSlide {background:#fff;position:relative;width:100%;overflow:hidden;height:190px;}
.pwSlide a:hover{text-decoration:none;}
.pwSlide .bg {position:absolute;left:0;bottom:-1px;width:100%;height:40px;background:$linkcolor;filter:alpha(opacity=39);-moz-opacity:0.39;opacity:0.39;}
.pwSlide h3 {position:absolute;left:10px;bottom:15px;_bottom:1px;width:95%;height:20px;line-height:16px;z-index:2;color:#fff;}
.pwSlide ul {margin:0;padding:0;position:absolute;right:5px;bottom:5px;_bottom:2px;z-index:2;}
.pwSlide ul li {list-style:none;float:left;width:18px;height:13px;line-height:15px;text-align:center;margin-left:1px;background: url($imgpath/focus1.gif) no-repeat;}
.pwSlide ul li a {display:block;width:18px;height:13px;font-size:10px;font-family:Tahoma;color:#FFFFFF;}
.pwSlide ul li a:hover, .pwSlide ul li a.sel {color:#fff;text-decoration:none;background: url($imgpath/focus2.gif) no-repeat;}
</style>
        <div id="pwSlidePlayer" class="pwSlide" onmouseover="pwSlidePlayer('pause');" onmouseout="pwSlidePlayer('goon');">
<!--
EOT;
$tmpCount = 0;
foreach ($newPics as $key=>$value) {
$tmpCount++;
print <<<EOT
-->
            <div id="Switch_$key" style="display:none;">
                <a href="$value[url]"><img src="$value[image]" title="$value[title]" width="280" />
                <h3 style="display:block;">$value[title]</h3></a>
            </div>
<!--
EOT;
}print <<<EOT
-->
            <ul id="SwitchNav"></ul><div class="bg"></div>
        </div>
        <div class="c"></div>
        <script type="text/javascript" src="js/picplayer.js"></script>
        <script language="JavaScript">pwSlidePlayer('play',1,$tmpCount);</script>
        </div>
    </div>
    <div class="w350 fr">
        <ul class="pl10 pr10 lh24">
<!--
EOT;
foreach($newThreads as $value){print <<<EOT
-->
            <li><a href="u.php?uid=$value[authorid]" class="fr">$value[author]</a><a href="$value[url]" target="_blank">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
        </ul>
    </div>
<div class="c"></div>
<!--
EOT;
}if($o_browse & 2){print<<<EOT
-->
  <div id="daren" class="mt10">
    <div class="title">今日达人</div>
    <div class="today-user cc"> 
<!--
EOT;
foreach($members as $value){print <<<EOT
-->
      <a href="$value[url]"><img src="$value[image]" class="img-50" />
      <p>$value[title]</p>
      </a>
<!--
EOT;
}print <<<EOT
-->
     </div>
  </div>
<!--
EOT;
}print <<<EOT
-->
  <div>
<!--
EOT;
if($o_browse & 128){print<<<EOT
-->
     <div id="last-topic">
      <div class="title"><a href="{$basename}q=browse&tab=t" class="fr">更多</a>最新帖子</div>
      <ul class="lh24 o-menu-half cc">
<!--
EOT;
foreach($newsubject as $value){
$value[title] = substrs($value['title'],30);
print <<<EOT
-->
        <li><a href="u.php?uid=$value[authorid]" class="black fr">$value[author]</a><a href="$value[url]" target="_blank">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
      </ul>
    </div>
<!--
EOT;
}if($o_browse & 256){print<<<EOT
-->
    <div id="last-reply">
      <div class="title"><a href="{$basename}q=browse&tab=r" class="fr">更多</a>最新回复</div>
      <ul class="lh24 cc o-menu-half">
<!--
EOT;
foreach($newreply as $value){
$value[title] = substrs($value['title'],26);
print <<<EOT
-->
        <li><a href="u.php?uid=$value[authorid]" class="black fr">$value[author]</a><a href="$value[url]" target="_blank">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
      </ul>
    </div>
<!--
EOT;
}print <<<EOT
-->
  </div>
<!--
EOT;
if($o_browse & 4){print<<<EOT
-->
  <div>
    <div class="title"><a href="{$basename}q=browse&tab=w" class="fr">更多</a>记录</div>
    <div class="cc">
      <ul class="lh18 o-menu-half">
<!--
EOT;
foreach($newWrite as $value){print <<<EOT
-->
        <li class="cc"><a href="u.php?uid=$value[uid]"><img src="$value[icon]" class="img-50 fl mr10" /></a><p style="height:54px;overflow:hidden;"><a href="{$basename}q=user&u=$value[uid]">$value[username]</a> <span class="gray">于：{$value[postdate]} 发布</span><br />$value[content]</p>
                    </li>
<!--
EOT;
}print <<<EOT
-->
      </ul>
    </div>
  </div>
<!--
EOT;
}if($db_dopen && $o_browse & 64){print <<<EOT
-->
  <div class="mt10">
    <div class="title"><a href="{$basename}q=browse&tab=d" class="fr">更多</a>日志</div>
    <div class="cc">
      <ul class="lh18 o-menu-half">
<!--
EOT;
foreach($newDiarys as $value){
!$diarytype[$value[dtid]][name] && $diarytype[$value[dtid]][name] = '默认分类';
print <<<EOT
-->
        <li class="cc"><a href="u.php?uid=$value[uid]"><img src="$value[face]" class="img-50 fl mr10" /></a><p style="height:54px;overflow:hidden;"><a href="{$basename}q=user&u=$value[uid]" class="black">$value[username]</a> <span class="gray">于：{$value[postdate]} 发表</span><br /><a href="$value[url]" target="_blank">$value[subject]</a></p></li>
<!--
EOT;
}print <<<EOT
-->
      </ul>
    </div>
  </div>
<!--
EOT;
}print <<<EOT
-->
</div>
    <div class="w280 fr" style="overflow:hidden;">
<!--
EOT;
if($db_phopen && $o_browse & 16){print <<<EOT
-->
      <div id="photo-albumn" class="cc mb10">
        <div class="title"><a href="{$basename}q=browse&tab=p" class="fr">更多</a>相册</div>
<!--
EOT;
foreach ($albumdb as $key => $value) {print <<<EOT
-->
						<div class="cc" style="padding:10px 10px 0 10px">
									<div><a href="{$basename}u=$value[ownerid]&q=photos&a=album&aid=$value[aid]"><img src="$value[lastphoto]" class="fl mr10 img-50 mt3" /></a></div>
									<div>$prviteimg <a href="{$basename}u=$value[ownerid]&q=photos&a=album&aid=$value[aid]" $ajaxclick>{$value[aname]}</a>
													<p>
															<a href="u.php?uid=$value[ownerid]" class="uline">$value[owner]</a> $value[photonum]&nbsp;张照片<br />
															<span class="f10">$value[lasttime]</span>更新<br />
															
													</p>
									</div>
							</div>			
<!--
EOT;
}print <<<EOT
-->
      </div>
<!--
EOT;
}if($db_groups_open && $o_browse & 32){print <<<EOT
-->
      <div id="group-show" class="cc mb10">
        <div class="title"><a href="{$basename}q=browse&tab=g" class="fr">更多</a>群组</div>
<!--
EOT;
foreach($reGroups as $value){print <<<EOT
-->
						<div class="cc" style="padding:10px 10px 0 10px">
									<div><img src="$value[cnimg]" class="img-50 fl mt3 pr10 mr10" /></div>
								<div><a href="mode.php?m=o&q=group&cyid=$value[id]">$value[cname]</a><br />
            {$value[members]}成员<br />
              $value[createtime] 创建 </div>
		       </div>
<!--
EOT;
}print <<<EOT
-->
      </div>
<!--
EOT;
}if($db_share_open && $o_browse & 8){print <<<EOT
-->
<script language="javascript" src="apps/share/js/share.js"></script>
      <div id="share" class="cc">
        <div class="title"><a href="{$basename}q=browse&tab=s" class="fr">更多</a>分享</div>
				<div class="p10">
<!--
EOT;
foreach($newShares as $value){
print <<<EOT
-->
			<dl class="cc mb10">
				<dt><img src="$value[icon]" class="img-20 fl mr10 mt3" /></dt>
				<dd class="fl"><a href="u.php?uid=$value[uid]">$value[username]</a> <span class="gray">{$value[type_name]}</span><br />$value[title]<br />
				</dd>
				</dl>
<!--
EOT;
}print <<<EOT
-->			
			</div>
      </div>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
}elseif ($tab == 'w'){print <<<EOT
-->
	<div>
	<div class="p10">
	<table cellpadding="0" cellspacing="0" width="100%" style=" table-layout:fixed;">
<!--
EOT;
if (!empty($newWrite)) {
$db_blogsource = array('web'=>'网页','signature'=>'个性签名','other'=>'其他');
foreach ($newWrite as $key => $value){print <<<EOT
-->
	<tr class="tr3 vt" id="write_$value[id]">
	<td width="55"><img class="img-50 mt3" src="$value[icon]" /></td>
	<td><a href="u.php?uid=$value[uid]" class="f14">$value[username]</a> 
			<span class="f14">$value[content]</span><br /><span class="gray w"> - 于：<span class="f10">{$value[postdate]}</span> 通过{$db_blogsource[$value[source]]}发布</span>
<!--
EOT;
if($groupid == 3){print <<<EOT
-->
			<a href="{$basename}q=write&do=del&id=$value[id]" onclick="ajaxurl(this);getObj('write_$value[id]').parentNode.removeChild(getObj('write_$value[id]'));return false;" class="del" title="删除">删除</a>
<!--
EOT;
}print <<<EOT
-->
			<div id="com_write_$value[id]">
				<a style="cursor: pointer;" onclick="javascript:showCommList('write','$value[id]','com_write_$value[id]',this)">回复({$value[c_num]})</a>
			</div>
			</td></tr>
<!--
EOT;
}} else {print <<<EOT
-->
			<tr><td>暂时没有记录</td></tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
	</div>
</div>
<script language="JavaScript" src="js/app_comment.js"></script>
<!--
EOT;
}elseif ($tab == 'p' && $db_phopen){print <<<EOT
-->
<div id="content">
<div class="p10">
<ul id="list-box" class="cc list-box-a mt10">
<!--
EOT;
if (!empty($albumdb)) {
foreach ($albumdb as $key => $value) {
$prviteimg = !$value['private']?'key':'lock';
if (!$value['private']) {
	$prviteimg = "";
} elseif ($value['private'] == 1) {
	$prviteimg = "<img src=\"$pwModeImg/icon/lock.png\" title=\"仅好友可见\" align=\"absmiddle\" />";
} elseif ($value['private'] == 2) {
	$prviteimg = "<img src=\"$pwModeImg/icon/lock.png\" title=\"仅自己可见\" align=\"absmiddle\" />";
} elseif ($value['private'] == 3) {
	$prviteimg = "<img src=\"$pwModeImg/icon/key.png\" title=\"需要密码访问\" align=\"absmiddle\" />";
}
if (($value['ownerid'] != $winduid) && $value['private'] == 3 && $groupid != 3) {
	$viewurl = "{$basename}q=photos&a=viewalbum&aid=$value[aid]&u=$value[ownerid]";
	$ajaxclick = "onclick=\"return ajaxurl(this);\"";
} else {
	$viewurl = "{$basename}q=photos&a=album&aid=$value[aid]&u=$value[ownerid]";
	$ajaxclick = "";
}
print <<<EOT
-->
	<li>
		<dl>
			<dt><div><table style="height:100%;width:100%;"><tr><td class="tac"><a href="$viewurl" $ajaxclick><img src="$value[lastphoto]" /></a></td></tr></table></div></dt>
			<dd><h2><a href="$viewurl" class="b" title="{$value[aname]}" $ajaxclick>{$value[sub_aname]}</a></h2>
				<p class="gray">
					更新:$value[lasttime]<br />
					共{$value[photonum]}张照片 $prviteimg
				</p>
			</dd>
    </dl>
	</li>
<!--
EOT;
}} else {print <<<EOT
-->
			<div class="p10">相册暂时没有照片</div>
<!--
EOT;
}print <<<EOT
-->
</ul>
</div>
</div>
<script language="JavaScript" src="js/core/changeview.js"></script>
<script language="JavaScript">
var frist = New(changView,['list-box','li',1]); //list 为id dl为id里的样式，样式取消，不停留
</script>
<!--
EOT;
}elseif ($tab == 's' && $db_share_open){print <<<EOT
-->
<div class="w640">
<div class="p10">
<div class="dynamic dynamic-share">
<!--
EOT;
if($newShares){
foreach($newShares as $value){
print <<<EOT
-->
<div class="title">
<!--
EOT;
if($db_share_open && !$shareGM){
print<<<EOT
-->
	<span class="fr"><a class="a-reply" href="{$basename}q=share&a=recommend&id=$value[id]" onclick="return ajaxurl(this,'read_$read[lou]');">推荐<span>+</span></a></span>
<!--
EOT;
}
if($winduid==$value[uid] || $groupid==3){
print <<<EOT
-->
	<span class="fr"><a onclick="pwConfirm('是否确认删除',this,function(){delShare('$value[id]')})" style="cursor: pointer;" class="del">删除</a>&nbsp;&nbsp;&nbsp;</span>
<!--
EOT;
}
print <<<EOT
-->
	<a href="u.php?uid=$value[uid]" class="b blue">$value[username]</a> {$value[type_name]} <span class="gray small">$value[postdate]</span>
</div>
				<dl id="share_{$value[id]}" class="cc lh24">
<!--
EOT;
if($value[icon]){
print <<<EOT
-->
					<dt><img src="$value[icon]" class="img-50" /></dt>
<!--
EOT;
}print <<<EOT
-->
					<dd class="dd60">
			<div>
<!--
EOT;
if ($value[groupid] == 6 && $db_shield && $groupid != 3) {print <<<EOT
-->
						<span style="color:black;background-color:#ffff66">用户被禁言,该分享自动屏蔽!</span>
<!--
EOT;
} else {print <<<EOT
-->

<!--
EOT;
if($value[type]=='video'){print <<<EOT
-->
						<img title="播放" style="cursor: pointer;" src="$pwModeImg/share_v.png" class="vthumb" onclick="javascript:showShare('$value[host]','$value[hash]',this,'$value[id]')"/>
<!--
EOT;
}elseif($value[type]=='music'){print <<<EOT
-->
						<img title="播放" style="cursor: pointer;" src="$pwModeImg/music.png" onclick="javascript:showShare('$value[type]','$value[link]',this,'$value[id]')"/>
<!--
EOT;
}elseif($value[type]=='flash'){print <<<EOT
-->
						<img title="播放" style="cursor: pointer;" src="$pwModeImg/musicplay.gif" onclick="javascript:showShare('$value[type]','$value[link]',this,'$value[id]')"/>
<!--
EOT;
}elseif(in_array($value[type],array('user','group'))){print <<<EOT
-->
						<a href="$value[link]"><img src="$value[image]" width="100"/></a>
<!--
EOT;
}elseif(in_array($value[type],array('photo','album'))){print <<<EOT
-->
						<a href="$value[link]"><img src="$value[image]" width="100"/></a>
<!--
EOT;
}print <<<EOT
-->
					<p class="f14">$value[title]</p>
<!--
EOT;
if($value[type]=='topic'){print <<<EOT
-->
						$value[abstract]<br />
<!--
EOT;
if($value[imgs]){
foreach($value[imgs] as $k => $v){
print<<<EOT
-->
					<span class="fl" style="white-space:nowrap;margin-right:5px;"><img src="$v" style="width:60px;height:60px;margin-bottom:3px;" align="absmiddle"></span>
<!--
EOT;
}print<<<EOT
-->
					<div class="c"></div>
<!--
EOT;
}}if($value[descrip]){print <<<EOT
-->
					<span class="qutemini">$value[descrip]<img src="$imgpath/apps/quote-end.gif" align="absbottom" /></span>
<!--
EOT;
}}print <<<EOT
-->
					</div>
					<div id="com_share_$value[id]">
						<a style="cursor: pointer; font-weight:500; font-size:12px;color:#3366cc;" onclick="javascript:showCommList('share','$value[id]','com_share_$value[id]',this)">回复({$value[c_num]})</a>
					</div>
					</dd>
				</dl>
				
<!--
EOT;
}
}print <<<EOT
-->
</div>
</div>
</div>
<script language="javascript" src="apps/share/js/share.js"></script>
<script language="JavaScript" src="js/app_comment.js"></script>
<!--
EOT;
}elseif ($tab == 'd' && $db_dopen){print <<<EOT
-->
<div class="w640 p10">
<!--
EOT;
$privacy = array('全站可见','仅好友可见','仅自己可见');
if($newDiarys){print <<<EOT
-->
<table cellpadding="0" cellspacing="0" width="100%" style=" table-layout:fixed;">
<!--
EOT;
foreach($newDiarys as $value){
$typename = !$value[dtid] ?  '默认分类' : $diarytype[$value[dtid]][name];
$title = '所属:'.$value[username].'&nbsp;'.$value[title];
$descrip = $value[subject];
$author = "<a href=\"u.php?uid=$value[uid]\" class=\"blue\">$value[username]</a> ";
print <<<EOT
-->
<tr id="diary_{$value[did]}" class="tr3 vt">
					<td width="50">
<!--
EOT;
if($value[icon]){print <<<EOT
-->
<img src="$value[face]" class="img-50 mt3" />
<!--
EOT;
}print <<<EOT
-->	
	</td>
	<td class="lh24">
	<a href="{$basename}q=diary&did=$value[did]&u=$value[uid]" class="b f14">{$value[subject]}</a>
						<p><span class="mr10 gray">$author 发表于：$value[postdate]</span><span class="mr10 gray">评论：$value[c_num]</span><span class="mr10 gray">浏览：$value[r_num]</span></p>
						<p class="black" id="img-width">
						$value[content]
<!--
EOT;
if($value['pic']){
foreach($value['pic'] as $pic){
if($pic){print <<<EOT
-->
						<div class="f12" id="att_$pic[aid]" style="width:450px;overflow:hidden;margin:0;">
<!--
EOT;
if($pic['desc']){print <<<EOT
-->
							描述:$pic[desc]<br />
<!--
EOT;
}print <<<EOT
-->
							图片: $pic[img]
						</div>
<!--
EOT;
}}}print <<<EOT
-->
						</p>
						<p class="text">
<!--
EOT;
!$value[dtid] && $value[dtid] = '-1';
print <<<EOT
-->
						<span>分类：<a href="{$basename}q=diary&dtid=$value[dtid]&u=$value[uid]">{$typename}</a></span>
<!--
EOT;
if($value[uid]==$winduid){
print <<<EOT
-->
						<span>{$privacy[$value[privacy]]}</span>
<!--
EOT;
}print <<<EOT
-->						
						</p>
	</td>
	<td width="100" class="tar lh24">
<!--
EOT;
if($db_share_open && !$shareGM){print<<<EOT
-->
<a class="a-reply" href="javascript:;" onclick="sendmsg('operate.php?action=share&ajax=1&type=diary&id=$value[did]','',this.id);">分享<span>+</span></a><br />
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if($value[uid]==$winduid){print <<<EOT
-->
					 <a title="编辑" href="{$basename}q=diary&a=edit&did=$value[did]">编辑</a>

<!--
EOT;
}if($value[uid]==$winduid || $groupid==3){print <<<EOT
-->
						<span style="cursor:pointer;" class="del" onclick="pwConfirm('是否确认删除',this,function(){delDiary('$value[did]','$value[uid]',2)})">删除</span>
<!--
EOT;
}print <<<EOT
-->
	</td>
<!--
EOT;
}print <<<EOT
-->	
				</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<script language="JavaScript" src="apps/diary/js/diarytype.js"></script>
<!--
EOT;
}elseif ($tab == 't'){print <<<EOT
-->
<div class="w640 p10">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mb10">
<!--
EOT;
if (!empty($newsubject)) {
foreach ($newsubject as $key => $value) {print <<<EOT
-->
	<tr class="tr3">
		<td>
			<a href="$value[url]" target="_blank">$value[title]</a>		
			<br /><span class="f10 gray">$value[postdate]</span>
		</td>
		<td>
			<a href="thread.php?fid=$value[fid]" target="_blank">$value[forum]</a>
		</td>
		<td><a href="u.php?uid=$value[authorid]">$value[author]</a></td>
		<td class="f10">$value[replies]/$value[hits]</td>
	</tr>
<!--
EOT;
}} else {print <<<EOT
-->
	<tr>
		<td><p class="m10">没有主题</p></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}elseif ($tab == 'g' && $db_groups_open){print <<<EOT
-->
<div class="w640 p10">
<table cellpadding="0" cellspacing="0" width="100%">
<!--
EOT;
if (!empty($reGroups)) {
foreach ($reGroups as $key => $value) {print <<<EOT
-->
<tr class="tr3 vt">
<td width="50"><a href="mode.php?m=o&q=group&cyid=$value[id]"><img src="$value[cnimg]" class="img-50 mt3" /></a></td>
<td><a href="mode.php?m=o&q=group&cyid=$value[id]" class="b">$value[cname]</a>
<p>人数： {$value[members]} <br />
创建时间: {$value[createtime]}<br />
群主:{$value[admin]}<br />
简介： {$value[descrip]}
</p>
</td>
<td width="60">
<!--
EOT;
if ($cMembers[$value[id]]){print <<<EOT
-->
			已加入
<!--
EOT;
}else{print <<<EOT
-->
			<a onclick="return ajaxurl(this);" href="mode.php?m=o&q=group&a=join&cyid=$value[id]">加入该群</a>
<!--
EOT;
}print <<<EOT
-->
</td>
</tr>
<!--
EOT;
}} else {print <<<EOT
-->
<tr><td>还没有加入任何群组</td></tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}elseif ($tab == 'r'){print <<<EOT
-->
<div class="w640 p10">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mb10">
<!--
EOT;
if (!empty($newreply)) {
foreach ($newreply as $key => $value) {print <<<EOT
-->
	<tr class="tr3">
		<td>
			<a href="$value[url]" target="_blank">$value[title]</a>		
			<br /><span class="f10 gray">$value[postdate]</span>
		</td>
		<td>
			<a href="thread.php?fid=$value[fid]" target="_blank">$value[forum]</a>
		</td>
		<td><a href="u.php?uid=$value[authorid]">$value[author]</a></td>
		<td class="f10">$value[replies]/$value[hits]</td>
	</tr>
<!--
EOT;
}} else {print <<<EOT
-->
	<tr>
		<td><p class="m10">没有主题</p></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}elseif ($tab == 'f'){print <<<EOT
-->
<div class="w640 p10">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mb10">
<!--
EOT;
if (!empty($newFavor)) {
foreach ($newFavor as $key => $value) {print <<<EOT
-->
	<tr class="tr3">
		<td>
			<a href="$value[url]" target="_blank">$value[title]</a>		
			<br /><span class="f10 gray">$value[postdate]</span>
		</td>
		<td>
			<a href="thread.php?fid=$value[fid]" target="_blank">$value[forum]</a>
		</td>
		<td><a href="u.php?uid=$value[authorid]">$value[author]</a></td>
		<td class="f10">$value[replies]/$value[hits]</td>
	</tr>
<!--
EOT;
}} else {print <<<EOT
-->
	<tr>
		<td><p class="m10">没有主题</p></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}print <<<EOT
-->
<script language="JavaScript">
function ajaxurl(o) {
	read.obj = o;
	ajax.send(o.href,'',ajax.get);
	return false;
}
</script>
<div class="c"></div>
</div>
<!--
EOT;
?>-->