<!--<?php
print <<<EOT
-->
<div id="menu-bar" class="menu-bar fl">
	<div class="p10">
    <div class="user_face"><img src="$usericon"$imglen border="0"></div>
            <p class="tac">
<!--
EOT;
if($u==$winduid){print <<<EOT
-->
            <a href="profile.php?action=modify&info_type=face" class="gray" target="_blank">编辑头像</a>

<!--
EOT;
}print <<<EOT
-->
            </p>
<!--
EOT;
if ($isGM){print <<<EOT
-->
            <div class="o_hr_b"></div>
            <ul class="list-50 cc">
              <li><a href="$db_adminfile?adminjob=setuser&action=edit&uid=$userdb[uid]" target="_blank">编辑用户</a></li>
                <li><a href="$db_adminfile?adminjob=banuser&username=$userdb[username]" target="_blank">会员禁言</a></li>
                <li><a href="$db_adminfile?adminjob=superdel&admintype=article&action=deltpc&fid=-1&ifkeep=1&author=$userdb[username]&lines=30&ttable=auto" target="_blank">删除主题</a></li>
                <li><a onMouseOver="postdbopen('menu_userpost','del_post');" id="del_post" href="$db_adminfile?adminjob=superdel&admintype=article&action=delrpl&fid=-1&author=$userdb[username]&nums=30" target="_blank">删除回复</a></li>
                <li><a href="$db_adminfile?adminjob=superdel&admintype=delmember&action=del&schname=$userdb[username]&groupid=$userdb[groupid]&regdate=all&schlastvisit=all&item=14" target="_blank">清除用户</a></li>
            </ul>
             <div id="menu_userpost" class="menu" style="display:none;">
<!--
EOT;
if ($p_list){print<<<EOT
-->
            <ul class="lh24 p10">
<!--
EOT;
foreach($p_list as $key => $val){
$name = $val ? $val : ($key != 0 ? getLangInfo('other','posttable').$key : getLangInfo('other','posttable'));
print <<<EOT
-->


                    <li><a id="ptable_$key" href="">$name</a></li>
<!--
EOT;
}print <<<EOT
-->
            </ul>
<!--
EOT;
}print <<<EOT
-->
            </div>
            <SCRIPT type="text/javascript" LANGUAGE="JavaScript" src="js/core/postdbopen.js"></SCRIPT>
<!--
EOT;
}if ($u!=$winduid && ($ismyfriend == false || $db_share_open && !$shareGM || $_G['allowreport']) || $ismyfriend == true){print <<<EOT
-->
            <div class="o_hr_b"></div>
            <div style="padding:5px 15px;line-height:22px;">
            <ul class="cc">
<!--
EOT;
if($ismyfriend == false && $winduid != $u){print <<<EOT
-->
                <li><span id="statehtml"><img src="$pwModeImg/operation/add.png" align="absmiddle" /> <a id="fri_icon" href="javascript:;" onclick="changeFriend('$friendcheck','$userdb[uid]','add');"><span id="friendstate">加为好友</span></a></span></li>
<!--
EOT;
}elseif($ismyfriend == true){print <<<EOT
-->
                <li><span id="statehtml"><img src="$pwModeImg/operation/del.png" align="absmiddle" /> <a id="fri_icon" href="javascript:;" onclick="changeFriend('$friendcheck','$userdb[uid]','del');" class="del"><span id="friendstate">解除好友</span></a></span></li>
<!--
EOT;
}if($u!=$winduid){print <<<EOT
-->
                <li><img src="$pwModeImg/operation/mail.png" align="absmiddle" /> <a style="cursor: pointer;" id="message" onclick="sendmsg('pw_ajax.php?action=msg&touid=$userdb[uid]','','message')">发短消息</a></li>
<!--
EOT;
if($db_share_open && !$shareGM){print <<<EOT
-->
                <li><img src="$pwModeImg/operation/share.png" align="absmiddle" /> <a style="cursor: pointer;" id="share" href="javascript:;" onclick="sendmsg('operate.php?action=share&ajax=1&type=user&id=$userdb[uid]','',this.id);">分享用户</a></li>
<!--
EOT;
}if($_G['allowreport']){print<<<EOT
-->
                <li><img src="$pwModeImg/operation/report.png" align="absmiddle" /> <a style="cursor: pointer;"  id="report_user" onclick="sendmsg('pw_ajax.php?action=report&type=user&tid=$u','',this.id);">举报</a></li>
<!--
EOT;
}}print <<<EOT
-->
            </ul>
            </div>
<!--
EOT;
}print <<<EOT
-->
<script language="javascript">
var friendcheck = '$friendcheck';
var pwModeImg = '$pwModeImg';
function changeFriend(type,u,type2){
if (type2 == 'add'){
if (type == '1'){
    sendmsg('pw_ajax.php?action=addfriend&touid='+u);
} else {
    ajax.send('mode.php?m=o&q=ajax&a=addfriend&u='+u,'',function(){
        var rText = ajax.request.responseText.split("|");
        if (rText[0] == 'success') {
            getObj('statehtml').innerHTML = '<img align=\"absmiddle\" src=\"'+pwModeImg+'/operation/del.png\"/><a id=\"fri_icon\" style=\"cursor: pointer;\" onclick=\"changeFriend(\''+friendcheck+'\',\''+u+'\',\'del\');\"><span id=\"friendstate\">解除好友</span></a>';
            showDialog('success','操作成功!',1);
        } else {
            ajax.guide();
        }
    });
}
} else {
var friendstate = getObj('friendstate');
pwConfirm('是否确认解除',friendstate,function(){
    ajax.send('mode.php?m=o&q=ajax&a=delfriend&u='+u,'',function(){
        var rText = ajax.request.responseText.split("|");
        if (rText[0] == 'success') {
            getObj('statehtml').innerHTML = '<img align=\"absmiddle\" style=\"margin-bottom: 1px;\" src=\"'+pwModeImg+'/operation/add.png\"/><a id=\"fri_icon\" style=\"cursor: pointer;\" onclick=\"changeFriend(\''+friendcheck+'\',\''+u+'\',\'add\');\"><span id=\"friendstate\">加为好友</span></a>';
            showDialog('success','操作成功!',1);
        } else {
            ajax.guide();
        }
    });
});
}
}
</script>
            <div class="o_hr_b"></div>
            <div class="applied-list" style="padding:0 0 10px 5px;">
            <ul style="_padding-top:5px;">
                <li>
<!--
EOT;
if($appcount[owrite][1]){print <<<EOT
-->
				<span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
				<img src="$pwModeImg/applied/record.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=write">记录</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">记录</a>
<!--
EOT;
}print<<<EOT
-->
				<span class="f9">({$appcount[owrite][0]})</span>
                </li>
<!--
EOT;
if($db_dopen){print <<<EOT
-->
                <li>
<!--
EOT;
if($appcount[diary][1]){print <<<EOT
-->
                    <span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
                    <img src="$pwModeImg/applied/log.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=diary">日志</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">日志</a>
<!--
EOT;
}print<<<EOT
-->
                     <span class="f9">({$appcount[diary][0]})</span>
                </li>
<!--
EOT;
}if($db_phopen){print <<<EOT
-->
                <li>
<!--
EOT;
if($appcount[photo][1]){print <<<EOT
-->
                    <span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
                    <img src="$pwModeImg/applied/albums.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=photos">相册</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">相册</a>
<!--
EOT;
}print<<<EOT
--><span class="f9">({$appcount[photo][0]})</span>
                </li>
<!--
EOT;
}if($db_share_open){print <<<EOT
-->
                <li>
<!--
EOT;
if($appcount[share][1]){print <<<EOT
-->
                    <span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
                    <img src="$pwModeImg/applied/share.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=share">分享</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">分享</a>
<!--
EOT;
}print<<<EOT
-->
                     <span class="f9">({$appcount[share][0]})</span>
                </li>
<!--
EOT;
}print <<<EOT
-->
                <li>
<!--
EOT;
if($appcount[topic][1]){print <<<EOT
-->
                    <span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
                    <img src="$pwModeImg/applied/posts.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=article">帖子</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">帖子</a>
<!--
EOT;
}print<<<EOT
-->
                     <span class="f9">({$appcount[topic][0]})</span>
                </li>
<!--
EOT;
if($db_groups_open){print <<<EOT
-->
                <li>
<!--
EOT;
if($appcount[group][1]){print <<<EOT
-->
                    <span class="fr red">新</span>
<!--
EOT;
}print <<<EOT
-->
                    <img src="$pwModeImg/applied/groups.png" align="absmiddle" /><!--
EOT;
if($SpaceShow){print<<<EOT
--><a href="{$spaceurl}q=groups">群组</a>
<!--
EOT;
}else{print<<<EOT
--><a href="javascript:;">群组</a>
<!--
EOT;
}print<<<EOT
-->
                     <span class="f9">({$appcount[group][0]})</span>
                </li>
<!--
EOT;
}print<<<EOT
-->
            </ul>
            </div>
<!--
EOT;
if($SpaceShow){print<<<EOT
-->
            <h2 class="b mt10">个人积分</h2>
            <div class="o_hr_b"></div>
            <ul class="lh24" style="padding-left:10px;">
                <li>综合积分:<span class="blue">$totalcredit</span></li>
                <li>{$credit->cType[rvrc]}:<span class="blue">$userdb[rvrc]</span> <span class="gray">{$credit->cUnit[rvrc]}</span></li>
                <li>{$credit->cType[money]}:<span class="blue">$userdb[money]</span> <span class="gray">{$credit->cUnit[money]}</span></li>
                <li>{$credit->cType[credit]}:<span class="blue">$userdb[credit]</span> <span class="gray">{$credit->cUnit[credit]}</span></li>
                <li>{$credit->cType[currency]}:<span class="blue">$userdb[currency]</span> <span class="gray">{$credit->cUnit[currency]}</span></li>
<!--
EOT;
foreach($_CREDITDB as $key => $value){
$ucredit = $usercredit[$key] ? $usercredit[$key] : 0;
print <<<EOT
-->
                <li>{$value[0]}:<span class="blue gray2">{$ucredit}</span> <span class="gray">{$value[1]}</span></li>
<!--
EOT;
}print <<<EOT
-->
            </ul>
<!--
EOT;
}print <<<EOT
-->
	</div>
</div>
<script language="javascript">
// JavaScript Document
var imgMaxWidth=178; //control the pic's size
var content = document.getElementById("menu-bar");
M_USER_CTRL="ctrl+鼠标滚轮缩放";
</script>
<SCRIPT type="text/javascript" LANGUAGE="JavaScript" src="js/core/space.js"></SCRIPT>
<!--
EOT;
?>