<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beem.project.btf"
    android:versionCode="10"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <permission
        android:name="com.beem.project.btf.BEEM_SERVICE"
        android:label="BeemService"
        android:permissionGroup="android.permission-group.NETWORK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.beem.project.btf.BEEM_SERVICE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--
    <uses-permission android:name="android.permission.WAKE_LOCK" > 
    </uses-permission>


    -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".BeemApplication"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 百度定位 start -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="cd610bef" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iwWDNWcrGdNusFzYgLvKCXMr" />
        <!-- 配置时长以及debug等版本多渠道信息 -->
        <meta-data
            android:name="PublishMarket"
            android:value="DEBUG" />
        <!-- 百度mssp广告 -->
        <!-- <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- 百度mssp广告end -->
        <activity
            android:name=".ui.activity.AccountConfigureFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ui.guide.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.activity.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginAnim"
            android:label="@string/login_login_progress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MySettings"
            android:label="@string/edit_settings_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:label="@string/chat_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.MainpagerActivity"
            android:label="@string/contact_list_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <!--
             <activity
            android:name="com.beem.project.btf.ui.GroupList"
            android:label="GroupList"
            android:screenOrientation="portrait" />


        -->
        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".BeemService"
            android:enabled="true"
            android:label="Beem Service"
            android:persistent="true"
            android:permission="com.beem.project.btf.BEEM_SERVICE" >
            <intent-filter>
                <action android:name="com.beem.project.btf.BeemService" >
                </action>
            </intent-filter>
        </service>
        <service android:name=".LogService" />

        <activity
            android:name="com.butterfly.vv.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- viee image history -->
        <activity
            android:name=".ui.activity.ContactInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- vv image end -->
        <activity
            android:name=".ui.activity.BlacklistActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ui.activity.AddVVContact"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle" >
        </activity>
        <activity
            android:name="com.butterfly.vv.SearchOtherUserUtilsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle" >
        </activity>
        <activity
            android:name=".ui.activity.ImageGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle" >
        </activity>
        <activity
            android:name=".ui.activity.OtherTimeFlyMain"
            android:screenOrientation="portrait"
            android:theme="@style/contact_tittle" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
        </service>
        <!-- 百度定位 end -->
        <activity
            android:name=".ui.activity.ShareRankingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ApplyChoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LoadnewFriend"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ChangePassWordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ForgetPassWordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.butterfly.vv.VVprotocolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ForgetPassWordNextStepActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ShareChangeAlbumAuthorityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".update.UpdateService" >
        </service>

        <activity
            android:name=".ui.CartoonCameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CartoonSaveActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.views.CartoonShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.butterfly.vv.ImageArrangementModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TimeCameraSaveActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TimeCameraEditorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TimeCameraLoadimgActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TimeCameraManageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MaterialLoadingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MaterialManageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TimeCameraEditorTextActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 以下是相册库的文件 -->
        <activity
            android:name="com.butterfly.vv.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/vv_camera_photo"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.vv.camera.photo.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.butterfly.vv.camera.renew.RenewDetailBaseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.butterfly.vv.camera.ShowImageActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.ShowImageActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ClipPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".imagefilter.crop.CropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="com.android.camera.action.CROP" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name="com.butterfly.IntroductionActivity" >
        </activity>
        <activity
            android:name=".ui.guide.IntroduceActivity"
            android:theme="@style/translucent" >
        </activity>
        <activity
            android:name=".ui.activity.NewsCameraEditorActivity"
            android:label="娱乐相机"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!--
        <activity
            android:name="com.beem.project.btf.camera.widgetscamera.WidgetsCameraActivity"
            android:label="水印相机"
            android:screenOrientation="portrait" >
        </activity>


        -->
        <!--
        <activity
            android:name="com.beem.project.btf.camera.widgetscamera.WatermarkChooseActivity"
            android:screenOrientation="portrait" >
        </activity>


        -->
        <activity
            android:name=".ui.activity.FolderItemVideoPlayerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.butterfly.vv.camera.GalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Gallery"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


            -->
        </activity>
        <!--
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        -->
        <!-- cn.sharesdk.framework.ShareSDKUIShell -->
        <!-- 分享相关的页面（ShareSDK需要调用到的） -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。


            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。


            -->
            <meta-data
                android:name="QZoneWebShareAdapter"
                android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />

            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权


            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调


            -->
            <intent-filter>
                <data android:scheme="tencent101062407" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".receiver.NetworkReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.CartoonStep1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.activity.CartoonStep2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.activity.CartoonStep3Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.activity.FolderItemNewsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <!-- <activity
            android:name=".ui.activity.CommentTestActivity"
            android:label="@string/title_activity_commen_test"
            android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity 
            android:label="@string/messagenotify_friendrequest"
            android:screenOrientation="portrait"
            android:name="com.beem.project.btf.ui.activity.FriendRequestActivity">
        </activity>
        <activity 
            android:label="@string/share_comment"
            android:screenOrientation="portrait"
            android:name="com.beem.project.btf.ui.activity.CommentNotifiesActivity">
        </activity>
        <activity 
            android:label="@string/liked_list_title"
            android:screenOrientation="portrait"
            android:name="com.beem.project.btf.ui.activity.LikedNotifiesActivity">
        </activity>
    </application>

</manifest>