@charset "utf-8";
/* CSS Document */

li {
	list-style-type:none;
}

pre {
	overflow:hidden;
	white-space:pre-wrap;
	word-wrap:break-word;
　　
}

/* Link styles */
a:link {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #FF2719;
	text-decoration: none;
}
a:visited {
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #FF2719;
	text-decoration: none;
}
a:hover {
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #FF2719;
	text-decoration: none;
}
a:active {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #FF2719;
	text-decoration: none;
}
a img {
	border: none;
}
/*基本信息*/
body {
	font:14px 宋体;
	margin:0;
	padding:0;
}

.heade_right	{float:right}
		.heade_right li	{float:right;margin-left:40px;}
		/* TABMENU DIVLET
---------------------------------------------------------------------------------------------- */
div.hsbcDivletTabMenu
{
	background:url("images/tab_bg1.jpg") repeat-x left bottom;
	height:44px;
	width:100%;
	clear:left;
}
div.hsbcDivletTabMenu ul
{
	margin:0px;
	padding:0px;
}
div.hsbcDivletTabMenu ul li
{
	margin:0px;
	padding:0px 0px 0px 6px;
	list-style:none;
	float:left;
	height:44px;
	background:url("images/tab_off_left.gif") no-repeat top left;
	text-align:center;
}
div.hsbcDivletTabMenu ul li a,
div.hsbcDivletTabMenu ul li span.extNoLink
{
	padding:0px 9px 0px 2px;
	margin:0px;
	height:44px;
	line-height:36px;
	float:left;
	display:block;
	background:url("images/tab_off_right.gif") no-repeat top right;
	text-decoration:none;
	color:#666;
	font-weight:bold;
	vertical-align:50%;
}
div.hsbcDivletTabMenu ul li a:hover
{
	color:#f00 !important;
	text-decoration:none;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected
{
	background:url("images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected a
{
	background:url("images/tab_on_right.gif") no-repeat top right;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extFirstTab
{
	background:url("images/first_tab_off_left.gif") no-repeat top left;
	padding-left:15px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected
{
	background:url("images/first_tab_on_left.gif") no-repeat top left;
	padding-left:15px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected a
{
	background:url("images/tab_on_right.gif") no-repeat top right;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight
{
	background:url("images/tab_off_left_selected_right.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight a
{
	background:url("images/tab_off_right_selected_right.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft
{}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft a
{
	background:url("images/tab_off_right_selected_left.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected
{
	background:  url("images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected a
{
	background: url("images/last_tab_on_right.gif") no-repeat top right;
	padding-right:34px;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extRightAlignTab
{
	float:right;
	padding-right:10px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected
{
	background: url("mages/first_tab_on_left.gif") no-repeat top left;
	float:right;
	padding-left:15px;
	padding-right:0px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected a
{
	background:url("mages/right_align_tab_on_right.gif") no-repeat top right;
	padding-right:20px;
	padding-left:3px;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRightEndBlock
{
	background:url("images/tab_off_left_selected_right_end_block.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li a.extDoubleLine
{
	line-height:13px;
	padding-top:4px;
	/* FIX FOR:PC IE5.5 and PC IE5.01 */
	height:44px;
	hei\ght:40px;
}
div.hsbcDivletTabMenu ul li a .extMacIE
{
	float:left;
	clear:left;
	padding-top:0px;
	padding-bottom:-10px;
	/*FIX FOR:MAC IE \*/
	float:none;
	clear:none;
	padding-top:0px;
	/* */
}



div.hsbcDivletTabMenu ul li.extNoTab
{
	background:none !important;
}
div.hsbcDivletTabMenu ul li.extNoTab a
{
	background:none !important;
	padding:0px !important;
	padding-right:3px !important;
	font-weight:normal;
}
div.hsbcDivletTabMenu ul li span.extNoLink
{
	background:none !important;
	padding:0px !important;
	padding-right:3px !important;
}

/*页面层容器*/
#container {
	margin:0 auto;
	width:100%;
	padding-top:0;
}
/*页面头部*/
#header {
	width:950px;
	height:150px;
	margin:0 auto;
	padding-top:0;
	clear:both;
}

div.hsbcEntity
{
	float:left;
	background: url("../images/bgEntityTabBack.gif") repeat-x top left;

	/* mac-ie */
	font-size:100%;
	/*non-mac-ie \*/
	font-size:100%;
	clear:both;
	/* */
	padding: 0px 7px 0px 11px ;
	/*width: 742px;*/
	width:100%;
	height:20px;
}

div.containerTabMenu
{
	width:100%;
	float:left;
}

div.hsbcDivletTabMenu
{
	background:url("../images/tab_bg.gif") repeat-x left bottom;
	height:44px;
	width:100%;
	clear:left;
}
div.hsbcDivletTabMenu ul
{
	margin:0px;
	padding:0px;
}
div.hsbcDivletTabMenu ul li
{
	margin:0px;
	padding:0px 0px 0px 6px;
	list-style:none;
	float:left;
	height:44px;
	background:url("../images/tab_off_left.gif") no-repeat top left;
	text-align:center;
}
div.hsbcDivletTabMenu ul li a,
div.hsbcDivletTabMenu ul li span.extNoLink
{
	padding:0px 9px 0px 2px;
	margin:0px;
	height:44px;
	line-height:36px;
	float:left;
	display:block;
	background:url("../images/tab_off_right.gif") no-repeat top right;
	text-decoration:none;
	color:#666;
	/* mac-ie */
	font-size:100%;
	/*non-mac-ie \*/
	font-size:100%;
	/* */
	font-weight:bold;
	vertical-align:50%;
}
div.hsbcDivletTabMenu ul li a:hover
{
	color:#FF2719 !important;
	text-decoration:none;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected
{
	background:url("../images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected a
{
	background:url("../images/tab_on_right.gif") no-repeat top right;
	color:#FF2719;
}
div.hsbcDivletTabMenu ul li.extFirstTab
{
	background:url("../images/first_tab_off_left.gif") no-repeat top left;
	padding-left:15px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected
{
	background:url("../images/first_tab_on_left.gif") no-repeat top left;
	padding-left:15px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected a
{
	background:url("../images/tab_on_right.gif") no-repeat top right;
	color:#FF2719;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight
{
	background:url("../images/tab_off_left_selected_right.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight a
{
	background:url("../images/tab_off_right_selected_right.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft
{}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft a
{
	background:url("../images/tab_off_right_selected_left.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected
{
	background:  url("../images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected a
{
	background: url("../images/last_tab_on_right.gif") no-repeat top right;
	padding-right:34px;
	color:#FF2719;
}
div.hsbcDivletTabMenu ul li.extRightAlignTab
{
	float:right;
	padding-right:10px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected
{
	background: url("../images/first_tab_on_left.gif") no-repeat top left;
	float:right;
	padding-left:15px;
	padding-right:0px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected a
{
	background:url("../images/right_align_tab_on_right.gif") no-repeat top right;
	padding-right:20px;
	padding-left:3px;
	color:#FF2719;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRightEndBlock
{
	background:url("../images/tab_off_left_selected_right_end_block.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li a.extDoubleLine
{
	line-height:13px;
	padding-top:4px;
	/* FIX FOR:PC IE5.5 and PC IE5.01 */
	height:44px;
	hei\ght:40px;
}
div.hsbcDivletTabMenu ul li a .extMacIE
{
	float:left;
	clear:left;
	padding-top:0px;
	padding-bottom:-10px;
	/*FIX FOR:MAC IE \*/
	float:none;
	clear:none;
	padding-top:0px;
	/* */
}

#menu {
	overflow:hidden;
	font:14px 宋体;
	color:#FFF;
	vertical-align:middle;
	width:950px;
	height:25px;
	margin:0 auto;
}

#menu ul {
	margin:0 auto;
}
#menu li {
	display: table-cell;
	float:left;
	width:80px;
	height:20px;
	padding-top:5px;
	padding-bottom:5px;
}
#menu a:link {

	color: #FFF;
	font-weight:bold;

}
#menu a:visited {

	color: #FFF;
	font-weight:bold;

}
#menu a:hover {

	color: #FFF;
	font-weight:bold;
}
#menu a:active {
	color: #FFF;
	font-weight:bold;

}
.menuRight {
	width:300px;
	float:right;
}
.menuRight td {
	text-align:right;
}
#fastSearch {
	text-transform: none;
	color: #000000;
	width:200px;
	overflow:hidden;
}
/*页面主体*/
#pagebody {
	width:950px;
	margin:20px auto;
	clear:both;
	overflow:hidden;
}
#body_site {
	width:950px;
	clear:both;
	text-align:left;
	padding-left:20px;
}
#left_bar {
	overflow:hidden;
	width:200px;
	float:left;
	margin: 14px auto;
	clear:both;
}
.left_title {
	color:#FFF;
	background:url(../images/section_header.jpg) repeat-x scroll;
	text-align:left;
	padding-left:20px;
}
.class_list {
	padding-left:0px;
	text-align:left;
}
.class_list li {
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
}
.iopsubheadinguderline {
	font-size: 16px;
	font-weight: bold;
	color: #FF2719;
	padding-left: 10px;
	border-bottom:1px solid #FF2719;
	border-right:1px solid #FF2719;
	line-height: 20px;
	text-align:left;
}
#mainbody {
	width:750px;
	float:left;
}
#pro_cont {
	width:680px;
	float:left;
}
 h1 {
	margin:20px 0 10px 40px;
	border-bottom:1px #A00 solid;
	color:#A00;
	text-align:left;
}
.pro_cont_l {
	float:left;
	width:680px;
	margin-left:40px;
}
.pro_cont_l #pro_img {
	width:300px;
	height:155px;
	overflow:hidden;
	float:left;
}
.pro_cont_l dl {
	width:340px;
	height:155px;
	margin:0;
	line-height:22px;
	padding:5px;
	border:1px #A00 dashed;
	float:left;
	overflow:hidden;
}
.pro_cont_l dt {
	width:100px;
	height:22px;
	float:left;
	margin:0;
}
.pro_cont_l dd {
	width:230px;
	height:22px;
	float:right;
	margin:0;
	white-space:nowrap;
	overflow:hidden;
}
#pro_info {
	width:640px;
	float:left;
	margin-left:40px;
}
#pro_info h2 {
	font-size:14px;
	color:#A00;
	margin:15px 0 0 0;
	text-align:left;
}
#pro_info pre {
	clear:both;
	font:14px/24px normal;
	padding:10px;
	margin:5px 0;
	border:1px #eee solid;
	color:#333;
	background:#fbfaf9;
	text-align:left;
	
}
#new_pro {
	margin-left:30px;
}
#mainbody th {
	height:50px;
	font-size:18px;
	border-bottom:#000000 solid 1px;
	clear:both;
	color:#1E1A17;
	text-align:left;
	padding-left:30px;
}

.info_list	{
	text-align:left;
}

.info_list li	{
	margin-top:10px;
}

.info_list li span	{
	float:right;
	width:100px;
	overflow:hidden;
}

#show_pro {
	margin-left:30px;
	margin-top:40px;
}
.iopsectiontitle {
	float: left;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	line-height: 19px;
	position: absolute;
	width: 325px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	z-index:3;
}

.iopsectiontitle a:link {

	font-size:16px;
	color: #FFF;
	font-weight: bold;

}
.iopsectiontitle a:visited {
	font-size:16px;
	color: #FFF;
	font-weight: bold;

}
.iopsectiontitle a:hover {
	font-size:16px;
	color: #FFF;
	font-weight: bold;
}
.iopsectiontitle a:active {
	color: #FFF;
	font-size:16px;
	font-weight: bold;
}

.iopsectiontitlebackground {
	position: absolute;
	width: 325px;
	height: 20px;
	margin-top: 10px;
	z-index:2;
}
.imgsectionFloatLeft {
	float: left;
	position: absolute;
	margin-left: 10px;
	margin-right: 10px;
}
.iopSectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-left: 120px;
	margin-top: 5px;
	width: 205px;
	color: #000000;
	float: inherit;
}
/*页面底部*/
#footer {
	width:950px;
	margin:50px auto;
	clear:both;
	text-align:center;
}

/*图片滚动效果*/
.clearfix{
	clear:both;
	float:none;
}
/*图像变换框*/
#mainbar_turnImg {
	float:left;
	margin-left:30px;
}
#bigPic{
	width:690px;
	height:300px;
	padding:1px;
	border:2px solid #F51223;
	background-color:#FFF;
	margin-bottom:10px;
}
ul#thumbs {
	width:690px;
	height:90px;
	background:url("../images/banner_base.jpg") no-repeat scroll 0 0 transparent
}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs li.active{
	border:4px solid #F51223;	
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
}
ul#thumbs img{
	float:left;
	width:80px;
	height:80px;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}



.containerControlLeft	{
	float:left;
	width:190px;
}
.containerLeftNav {
	padding:8px 0px 0px 0px !important;
	margin:0px !important;
}

.hsbcSpacing15 {
	padding:0px 0px 0px 0px !important;
	margin:0px 0px 0px 0px !important;
	_padding:1px 0px 0px 0px !important;
}

.hsbcSpacing15 h2 {
	background:url("../images/arrow_right_home_large.gif") no-repeat center left;
	padding:0px 0px 0px 12px !important;
	margin:10px 0px 0px 10px !important;
}

.hsbcSpacing15 h2 a {
	color:#000;
}


.hsbcSpacing15 h2 a:hover{
	text-decoration:underline;
}

.hsbcSpacing15 p {
	padding:6px 0px 0px 0px !important;
	margin:0px 0px 0px 22px !important;
	font-size:68%;
}

.hsbcSpacing15 p img {
	padding:4px 0px 0px 0px !important;
	margin:0px 0px 0px 0px !important;
}

.hsbcSpacing15 ul.hsbcDivletNavList {
	padding:4px 0px 0px 0px !important;
	margin:0px 0px 0px 10px !important;
}


.hsbcSpacing15 ul.hsbcDivletNavList li {
	padding:0px 0px 0px 0px !important;
	margin:0px 0px 0px 0px !important;
	list-style:none;
}

.hsbcSpacing15 ul.hsbcDivletNavList li a {
	background:url("../images/arrow_right_home_small.gif") no-repeat center left;
	padding:1px 0px 2px 12px !important;
	margin:5px 0 !important;
	color:#000;
	text-decoration:none;
	display:block;
	height:1%;
}

.hsbcSpacing15 ul.hsbcDivletNavList li a:hover {
	text-decoration:underline;
}


.hsbcSpacing15 ul.hsbcDivletSubNavList {
	padding:10px 0px 0px 0px !important;
	margin:10px 0px 0px 10px !important;
	border-top:1px solid #D4D4D4;
}

.hsbcSpacing15 ul.hsbcDivletSubNavList li {
	padding:0px 0px 0px 10px !important;
	margin:0px 0px 0px 0px !important;
	list-style:none;
}

.hsbcSpacing15 ul.hsbcDivletSubNavList li a {
	padding:0px 0px 0px 0px !important;
	margin:0px 0px 0px 0px !important;
	color:#666;
	font-size:68%;
	text-decoration:none;
}

.hsbcSpacing15 ul.hsbcDivletSubNavList li a:hover {
	text-decoration:underline;
}
