<!--<?php
if($action=='banuser'){print <<<EOT
-->
<form action="masingle.php?action=banuser&ajax=1" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<table width="400" cellspacing="0" cellpadding="5">
	<tr><th colspan="2" class="h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>会员禁言</th></tr>
	<tr><td width="21%" align="center">禁言对象：</td>
		<td>
<!--
EOT;
if($userdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
			$db_anonymousname
<!--
EOT;
}else{ print <<<EOT
-->
			$userdb[username]
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tr>
		<td align="center">禁言范围:</td>
		<td><input type="radio" name="range" value="0" checked />{$forum[$fid][name]}
<!--
EOT;
if($isGM || pwRights($isBM,'banuser')==2){print <<<EOT
-->
		<br/><input type="radio" name="range" value="1" />全局禁言<br/>
		<input type="checkbox" name="banip" value="1" /> 禁止该 IP
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tr>
		<td align="center">禁言类型：</td>
		<td><input type="radio" name="type" value="1" checked />定期禁言
<!--
EOT;
if($isGM || pwRights($isBM,'bantype')){print <<<EOT
-->
			<input type="radio" name="type" value="2" />永久禁言
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tr><td align="center">禁言时间：</td>
		<td><input class="input" type="text" name="limit" value="1" size="5" /> 天(最大天数<font color=blue>$pwBanMax</font>天)</td>
	</tr>
	<tr><td align="center">短消息通知</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr><td align="center">禁言理由：</td>
		<td><textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:250px;height:92px"></textarea></td>
	</tr>
</table>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="step" value="3" /><ul><li style="text-align:center;padding:4px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form);" value="提 交" /></li></ul></form>
<!--
EOT;
}elseif($action=='shield'){print <<<EOT
-->
<form action="masingle.php?action=shield&ajax=1" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<table width="400" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>单帖屏蔽</th>
	</tr>
	<tr><td width="21%" align="center">屏蔽对象：</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr><td align="center">操作类型:</td>
		<td><input type="radio" name="step" value="3" $check_Y />单帖屏蔽
			<input type="radio" name="step" value="5" $check_N />取消屏蔽
		</td>
	</tr>
	<tr><td align="center">短消息通知</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr>
		<td align="center">操作原因:</td>
		<td><select name="" size="6" style="width:70px" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
			<textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:180px;height:92px"></textarea>
		</td>
	</tr>
</table>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<ul><li style="text-align:center;padding:4px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form);" value="提 交" /></li></ul></form>
<!--
EOT;
}elseif($action=='remind'){ print <<<EOT
-->
<form action="masingle.php?action=remind&ajax=1" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<table width="400" cellspacing="0" cellpadding="5">
	<tr><th colspan="2" class="h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>帖子管理提示</th></tr>
	<tr><td width="21%" align="center">提醒对象：</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr><td align="center">操作类型:</td>
		<td><input type="radio" name="step" value="3" checked />提醒管理
			<input type="radio" name="step" value="5" />取消提醒
		</td>
	</tr>
	<tr><td align="center">短消息通知</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr><td align="center">操作原因:</td>
		<td><select name="" size="6" style="width:70px" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
			<textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:180px;height:92px">$remindinfo</textarea>
		</td>
	</tr>
</table>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" /><ul><li style="text-align:center;padding:4px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form,reminded);" value="提 交" /></li></ul></form>
<!--
EOT;
}elseif($action=='delatc'){print <<<EOT
-->
<form action="masingle.php?action=delatc&ajax=1" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="step" value="3" />
<!--
EOT;
foreach($threaddb as $key=>$val){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$val[pid]" />
<!--
EOT;
}print <<<EOT
-->
<table width="400" cellspacing="0" cellpadding="0">
	<tr><th colspan="2" class="h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>删除回复操作</th>
	<tr><td width="21%" align="center">删除数量:</td><td>$count 篇</td></tr>
	<tr><td align="center">扣除积分:</td>
		<td><input type="radio" name="ifdel" value="1" checked />开启
			<input type="radio" name="ifdel" value="0" />关闭
		</td>
	</tr>
	<tr><td align="center">短消息通知</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr><td align="center">操作原因:</td>
		<td><select name="" size="6" style="width:70px" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
			<textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:180px;height:92px"></textarea>
		</td>
	</tr>
</table><ul><li style="text-align:center;padding:4px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form,ajax.get);" value="提 交" /></li></ul></form>
<!--
EOT;
}elseif($action=='pingcp'){print <<<EOT
-->
<form action="masingle.php?action=$action&ajax=1" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="step" value="2" />
<table width="580" cellspacing="0" cellpadding="5">
	<tr><th colspan="5" class="h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>管理评分记录 (注:只允许更改评分理由，不允许删除评分记录)</th></tr>
	<tr class="tr3" align="center">
		<td width="9%">选择</td>
		<td width="13%">操作者</td>
		<td width="19%">积分情况</td>
		<td width="23%">评分时间</td>
		<td>评分理由</td>
	</tr>
<!--
EOT;
foreach($pingdb as $val){print<<<EOT
-->
	<tr class="tr3" align="center">
		<td><input type="checkbox" id="s_$val[id]" name="selid[]" value="$val[id]" onclick="editrecord('$val[id]','$val[record]')"></td>
		<td>$val[pinger]</td>
		<td>$val[name] $val[point]</td>
		<td>$val[pingdate]</td>
		<td><span id="ping_$val[id]">$val[record]</span></td>
	</tr>
<!--
EOT;
}print<<<EOT
-->
</table><ul><li style="text-align:center;padding:8px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form,marked);" value="提 交" /></li></ul></form>
<script language="JavaScript">
function editrecord(id,record){
	var s = getObj('s_' + id);
	var r = getObj('ping_' + id);
	if (s.checked == true) {
		r.innerHTML = '<input type="text" name="record[' + id + ']" size="30" value="' + record + '">';
	} else {
		r.innerHTML = record;
	}
	
}
</script>
<!--
EOT;
} elseif ($action == 'inspect') {print <<<EOT
-->
<form method="POST" action="masingle.php?action=inspect&ajax=1">
<input type="hidden" name="verify" value="$verifyhash">
<input type="hidden" name="step" value="2">
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<table width="400" cellspacing="0" cellpadding="5">
	<tr><th colspan="2" class="h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>版主已阅操作</th></tr>
	<tr><td align="center">短消息通知</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr><td align="center">操作原因:</td>
		<td><select name="" style="width:260px" onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select><br/>
			<textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:180px;height:92px"></textarea>
		</td>
	</tr>
<!--
EOT;
if ($iftypeavailable == 1) {print <<<EOT
-->
	<tr><td align="center">后续操作:</td>
		<td><input type="checkbox" name="nextto" value="type">&nbsp;转移主题分类</td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<ul><li style="text-align:center;padding:8px 0;"><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form);" value="提 交" /></li></ul>
</form>
<!--
EOT;
}?>-->