<!--<?php 
print <<<EOT
-->
<style>
.rewardbg{background:#ff6a09;padding:4px 8px 8px;position:relative;left:-5px;top:-5px;border:1px solid #d35705;color:#ffdfc3;}
.reward{background:#dddddd;position:absolute;}
.st2{color:#ffffff;}
</style>
<div id="creditlocation" style="position:fixed;_position:absolute;z-index:1003;top:30%;left:40%">
	<div class="reward tac w">
		<div class="rewardbg">
			$credit_pop
		</div>
	</div>
</div>
<script language="JavaScript" src="js/credit_pop.js"></script>
<!--
EOT;
?>