<!--<?php
include_once PrintEot('profile_header');
print <<<EOT
-->
<div id="user-main">
	<div class="u-m-bg"></div>
	<div class="u-m-bg-c cc">
		<div class="p10">
			<div class="u-nav-2 cc">
				<ul>
					<li id="msg_receivebox"><a href="message.php" hidefocus="true">收件箱</a></li>
					<li id="msg_sendbox"><a href="message.php?action=sendbox" hidefocus="true">发件箱</a></li>
					<li id="msg_scout"><a href="message.php?action=scout" hidefocus="true">消息跟踪</a></li>
				</ul>
<script language="javascript">
setCurrent('msg_$action', '', 'current');
</script>
<script language="JavaScript" src="js/core/friendlist.js"></script>
				<a href="message.php?action=write" class="user-post" style="margin:12px 0 0 10px;">写新消息</a>
				<a href="message.php?action=banned" class="black fl" style="margin:14px 0 0 15px;">消息屏蔽设置</a>
				<a onclick="return checkset();" class="black fl" style="margin:14px 0 0 15px;cursor:pointer">清空</a>
			</div>
			<div class="u-cont-bg-c">
				<table width="100%" height="450">
					<tr><td class="vt">
<!--
EOT;
if ($action == 'receivebox') {print <<<EOT
-->
						<div class="p15">
							<div class="u-nav-3">
								<ul class="fl cc" id="infolist">
<!--
EOT;
if($type=='notify' || $type=='newmsg'){print <<<EOT
-->
									<li><a style="cursor:pointer" href="$secondurl"><span>个人消息</span></a>
<!--
EOT;
} else {print <<<EOT
-->
									<li id="base"><a style="cursor:pointer" onclick="showTabs('infolist','base','li','current')"><span>个人消息</span></a>
<!--
EOT;
}if ($contl > 100) {print <<<EOT
-->
										<font color="red">[您的信箱已满，请删除一些，以查看最新消息]</font>
<!--
EOT;
} print <<<EOT
-->
									</li><li id="public"><a onclick="showTabs('infolist','public','li','current')" style="cursor:pointer"><span>群发消息</span></a></li>
<!--
EOT;
if ($type == 'notify') {print <<<EOT
-->
									<li id="notify"><a onclick="showTabs('infolist','notify','li','current')" style="cursor:pointer"><span>系统通知</span></a></li>
<!--
EOT;
} else {print <<<EOT
-->
									<li><a href="$secondurl?type=notify" style="cursor:pointer"><span>系统通知</span></a></li>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if($winddb['newpm'] > 0) {
if($type == 'newmsg'){print <<<EOT
-->
									<li id="newmsg"><a onclick="showTabs('infolist','newmsg','li','current')" style="cursor:pointer"><span>未读短消息</span></a></li>
<!--
EOT;
}else{print <<<EOT
-->
									<li><a href="$secondurl?type=newmsg" style="cursor:pointer"><span>未读短消息</span></a></li>
<!--
EOT;
}}print <<<EOT
-->
								</ul>
							</div>
							<div class="c"></div>
							<form name="del" action="$secondurl" method="post">
							<input type="hidden" name="type" value="$type" />
							<input type="hidden" name="verify" value="$verifyhash" />
<!--
EOT;
if ($type=='notify') {print <<<EOT
-->
							<div id="info_notify" style="display:none">
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
if ($msgdb_notify) {print <<<EOT
-->
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">选定</td>
									</tr>
<!--
EOT;
$i = ($page-1) * $permsg;
foreach ($msgdb_notify as $key => $message) {
$i++;
$boldclass = $message['ifnew'] ? 'class="b"' : '';
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="$secondurl?action=readn&mid=$message[mid]" $boldclass>$message[title]</a></td>
										<td>$message[mdate]</td>
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}else{print <<<EOT
-->
									<tr class="user-tr">
										<td>暂时没有通知。</td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
								</table>
								<div class="mt10">$notify_pages</div>
							</div>
<!--
EOT;
}if ($type == 'base' || $type == 'public' || $type == 'newmsg') {print <<<EOT
-->
							<div id="info_base" style="display:none">
								<table width="100%" class="mt10 bor-t-c">
									<tr class="user-tr"><td colspan="5">【信箱状态:目前有短消息<b> $msgcount </b>条；最多可存消息 <b>$_G[maxmsg]</b> 条；使用率 <b>$contl%</b> 】
<!--
EOT;
if($contl>100){print <<<EOT
-->
已满
<!--
EOT;
}print <<<EOT
-->
										</td>
									</tr>
<!--
EOT;
if ($msgdb) {print <<<EOT
-->
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="12%">发件人</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">选定</td>
									</tr>
<!--
EOT;
$i = ($page-1) * $permsg;
foreach ($msgdb as $key => $message) {
$i++;
$boldclass = $message['ifnew'] ? 'class="b"' : '';
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[fromuid]" class="black">$message[from]</a></td>
										<td><a href="$secondurl?action=read&mid=$message[mid]" $boldclass>$message[title]</a></td>
										<td>$message[mdate]</td>
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}else{print <<<EOT
-->
									<tr class="user-tr">
										<td>暂时没有消息。</td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
								</table>
								<div class="mt10">$base_pages</div>
							</div>
<!--
EOT;
}print <<<EOT
-->
							<div style="display:none" id="info_public">
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
if ($pmsgdb || $type == 'newmsg') {print <<<EOT
-->
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">选定</td>
									</tr>
<!--
EOT;
$i = 0;
foreach ($pmsgdb as $key => $message) {
$boldclass = $message['ifnew'] ? 'class="b"' : '';
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="$secondurl?action=readpub&mid=$message[mid]" $boldclass>$message[title]</a></td>
										<td>$message[mdate]</td>
										<td><input type="checkbox" name="pdelid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}else{print <<<EOT
-->
									<tr class="user-tr">
										<td>暂时没有消息。</td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
									</table>
								</div>
<!--
EOT;
if ($type == 'newmsg') {print <<<EOT
-->
							<div style="display:none" id="info_newmsg">
								<table width="100%" class="mt10 bor-t-c">
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="12%">发件人</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">选定</td>
									</tr>
<!--
EOT;
if ($new_pmsgdb) {print <<<EOT
-->
									<tr class="user-tr"><td colspan="5"><b>未读群发短消息</b></td></tr>
<!--
EOT;
$i=0;
foreach ($new_pmsgdb as $key => $message) {
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[fromuid]" class="black">$message[from]</a></td>
										<td><a href="$secondurl?action=readpub&mid=$message[mid]">$message[title]</a></td>
										<td width="140">$message[mdate]</td>
										<td><input type="checkbox" name="pdelid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}if ($new_msgdb) {print <<<EOT
-->
									<tr class="user-tr"><td colspan="5"><b>未读个人短消息</b></td></tr>
<!--
EOT;
$i=0;
foreach ($new_msgdb as $key => $message) {
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[fromuid]" class="black">$message[from]</a></td>
										<td><a href="$secondurl?action=read&mid=$message[mid]">$message[title]</a></td>
										<td width="140">$message[mdate]</td>
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
									</table>
									<!-- <div class="mt10">$base_pages</div> -->
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
}if ($new_msgdb_notify) {print <<<EOT
-->
									<tr class="user-tr"><td colspan="5"><b>未读系统短消息</b></td></tr>
<!--
EOT;
$i=0;
foreach ($new_msgdb_notify as $key => $message) {
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[fromuid]" class="black">$message[from]</a></td>
										<td><a href="$secondurl?action=readn&mid=$message[mid]">$message[title]</a></td>
										<td width="140">$message[mdate]</td>
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}print <<<EOT
-->
								</table>
								<!-- <div class="mt10">$notify_pages</div> -->
							</div>
<!--
EOT;
}print <<<EOT
-->
							<div class="tac" style=" padding:1em">
								<span class="button2"><span><button type="button" name="chkall" onclick="newmsgCheckAll();">全选</button></span></span>
								<span class="button"><span><button type="submit">提 交</button></span></span>
								<input name="towhere" type="hidden" value="receivebox" /><!--
								<input name="action" type="radio" value="doread" checked />标记为已读 -->
								<input name="action" type="radio" value="down" />下载
								<input name="action" type="radio" value="del" checked />删除
							</div>
							</form>
						</div>
<script type="text/javascript">
var p_match = '';
var currenttype = '';
function showTabs(id,select,element,css) {
	currenttype = select;
	var o = getObj(id);
	var t = o.getElementsByTagName(element);
	for (var i = 0; i < t.length; i++) {
		if (t[i].id) {
			var oo = getObj(t[i].id);
			if (t[i].id == select) {
				getObj(t[i].id).className = css;
				getObj('info_'+t[i].id).style.display = '';
			} else {
				getObj(t[i].id).className = '';
				getObj('info_'+t[i].id).style.display = 'none';
			}
		}
	}
	ifcheck = false;
	p_match = select == 'public' ? /^pdelid/ : /^delid/;
	if(select == 'newmsg') {
		p_match = /^pdelid|^delid/;
	}
	CheckAll(document.del);
	return false;
}
function newmsgCheckAll() {
	var objbox = getObj('info_'+currenttype).getElementsByTagName('input');
    for (var i = 0; i < objbox.length; i++) {
        var e = objbox[i];
        if (e.type == "checkbox") {
            e.checked = ifcheck;
        }
    }
    ifcheck = ifcheck == true ? false : true;
}
showTabs('infolist','$type','li','current');
</script>
</div>
<!--
EOT;
} elseif ($action == 'sendbox') {print <<<EOT
-->
						<div class="p15">
							<form name="del" action="$secondurl" method="post">
							<input type="hidden" name="verify" value="$verifyhash" />
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
if ($msgdb) {print <<<EOT
-->
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="12%">收件人</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">选定</td>
									</tr>
<!--
EOT;
$i = ($page - 1) * $permsg;
foreach ($msgdb as $key => $message) {
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[touid]">$message[to]</a></td>
										<td><a href="$secondurl?action=readsnd&mid=$message[mid]">$message[title]</a></td>
										<td>$message[mdate]</td>
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
									</tr>
<!--
EOT;
}}else{print <<<EOT
-->
									<tr class="user-tr">
										<td>暂时没有消息。</td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
								</table>
							</div>$pages
							<div class="c"></div>
							<div class="tac" style=" padding:1em">
								<span class="button2"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全选</button></span></span>
								<span class="button"><span><button type="submit">提 交</button></span></span>
								<input name="towhere" type="hidden" value="sendbox" />
								<input name="action" type="radio" value="down" />下载
								<input name="action" type="radio" value="del" checked />删除
							</div>
							</form>
						</div>
<!--
EOT;
} elseif ($action == 'scout') {print <<<EOT
-->
						<div class="p15">
							<form name="del" action="$secondurl" method="post">
							<input type="hidden" name="verify" value="$verifyhash" />
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
									<tr class="user-tr">
										<td width="6%">ID</td>
										<td width="12%">收件人</td>
										<td width="*">标题</td>
										<td width="140">时间</td>
										<td width="8%">已读</td>
										<td width="8%">选定</td>
										<td width="8%">编辑</td>
									</tr>
<!--
EOT;
$i = ($page-1) * $permsg;
foreach ($msgdb as $key => $message) {
$i++;
print <<<EOT
-->
									<tr class="user-tr">
										<td>$i</td>
										<td><a href="u.php?action=show&uid=$message[touid]" class="black">$message[to]</a></td>
										<td><a href="$secondurl?action=readscout&mid=$message[mid]">$message[title]</a></td>
										<td>$message[mdate]</td>
										<td>
<!--
EOT;
if($message['ifnew']){print <<<EOT
-->
											<font color="red">关闭</font>
<!--
EOT;
}else{print <<<EOT
-->
											开启
<!--
EOT;
}print <<<EOT
-->
										</td>
<!--
EOT;
if($message['ifnew']==0 && $message['to'] != $windid){print <<<EOT
-->
										<td>--</td><td><br /></td>
<!--
EOT;
}else{print <<<EOT
-->
										<td><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
										<td><a href="message.php?action=write&edmid=$message[mid]">编辑</a></td>
<!--
EOT;
}print <<<EOT
-->
									</tr>
<!--
EOT;
}print <<<EOT
-->
								</table>
							</div>
							<div class="mt10 cc">$pages</div>
							<div class="tac" style=" padding:1em">
								<span class="button2"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全选</button></span></span>
								<span class="button"><span><button type="submit">提 交</button></span></span>
								<input name="towhere" type="hidden" value="scout" />
								<input name="action" type="radio" value="down" />下载
								<input name="action" type="radio" value="del" checked />删除
							</div>
							</form>
						</div>
<!--
EOT;
} elseif (in_array($action,array('read','readsnd','readscout','readpub','readn'))) {print <<<EOT
-->
						<div class="p15">
							<div class="u-nav-3">
								<span class="fr" style="margin-right:3px"><a href="javascript:void(0)" onclick="msggoto('previous');">上一条</a> <a href="javascript:void(0)" onclick="msggoto('next');">下一条</a></span>
								<ul class="fl cc">
<!--
EOT;
if ($action == 'read') {print <<<EOT
-->
									<li><a href="message.php" style="cursor:pointer"><span>个人消息</span></a></li>
<!--
EOT;
} elseif ($action == 'readpub') {print <<<EOT
-->
									<li><a href="message.php?action=receivebox&type=public" style="cursor:pointer"><span>群发消息</span></a></li>
<!--
EOT;
} elseif ($action == 'readsnd') {print <<<EOT
-->
									<li><a href="message.php?action=sendbox" style="cursor:pointer"><span>发件箱</span></a></li>
<!--
EOT;
} elseif ($action == 'readn') {print <<<EOT
-->
									<li><a href="message.php?action=receivebox&type=notify" style="cursor:pointer"><span>系统通知</span></a></li>
<!--
EOT;
} else {print <<<EOT
-->
									<li><a href="message.php?action=scout" style="cursor:pointer"><span>消息跟踪</span></a></li>
<!--
EOT;
}print <<<EOT
-->
									<li class="current"><a href="javascript:void(0)" style="cursor:pointer"><span>查看信息</span></a></li>
								</ul>
							</div>
							<div class="c"></div>
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
									<tr class="user-tr">
										<td width="13%">
<!--
EOT;
if ($action == 'readscout' || $action == 'readsnd') {print <<<EOT
-->
											收件人:
<!--
EOT;
} else {print <<<EOT
-->
											发件人:
<!--
EOT;
}print <<<EOT
-->
										</td>
										<td><a href="u.php?action=show&uid=$msginfo[withuid]">$msginfo[username]</a></td>
									</tr>
									<tr class="user-tr">
										<td>标题:</td>
										<td>$msginfo[title]</td>
									</tr>
									<tr class="user-tr">
										<td>时间:</td>
										<td>$msginfo[mdate]</td>
									</tr>
									<tr class="user-tr">
										<td>内容:</td>
										<td>$msginfo[content]</td>
									</tr>
									<tr class="user-tr">
										<td>选项:</td>
										<td>
<!--
EOT;
if($action=='read'){print <<<EOT
-->
											[<a href="$secondurl?action=chatlog&withuid=$msginfo[withuid]">通信记录</a>]
											[<a href="$secondurl?action=unread&mid=$msginfo[mid]&verify=$verifyhash">标记未读</a>]
											[<a href="$secondurl?action=write&remid=$msginfo[mid]">回复</a>]
											[<a href="$secondurl?action=write&transmit=$msginfo[mid]">转发</a>]
											[<a href="$secondurl?action=del&towhere=receivebox&delids=$msginfo[mid]&verify=$verifyhash">删除</a>]
											[<a href="message.php?action=receivebox">返回</a>]
<!--
EOT;
}elseif($action=='readpub'){print <<<EOT
-->
											[<a href="$secondurl?action=del&towhere=receivebox&pdelids=$msginfo[mid]&verify=$verifyhash">删除</a>]
											[<a href="message.php?action=receivebox&type=public">返回</a>]
<!--
EOT;
}elseif($action=='readn'){print <<<EOT
-->
											[<a href="$secondurl?action=del&towhere=receivebox&delids=$msginfo[mid]&verify=$verifyhash">删除</a>]
											[<a href="message.php?action=receivebox&type=notify">返回</a>]
<!--
EOT;
}elseif($action=="readsnd"){print <<<EOT
-->
											[<a href="$secondurl?action=chatlog&withuid=$msginfo[withuid]">通信记录</a>]
											[<a href="$secondurl?action=write&touid=$msginfo[withuid]">另发</a>]
											[<a href="$secondurl?action=write&transmit=$msginfo[mid]">转发</a>]
											[<a href="$secondurl?action=del&towhere=sendbox&delids=$msginfo[mid]&verify=$verifyhash">删除</a>]
											[<a href="message.php?action=sendbox">返回</a>]
<!--
EOT;
}elseif($action=="readscout"){print <<<EOT
-->
											[<a href="$secondurl?action=chatlog&withuid=$msginfo[withuid]">通信记录</a>]
											[<a href="$secondurl?action=write&touid=$msginfo[withuid]">另发</a>]
											[<a href="$secondurl?action=write&transmit=$msginfo[mid]">转发</a>]
											[<a href="$secondurl?action=del&towhere=scout&delids=$msginfo[mid]&verify=$verifyhash">删除</a>]
											[<a href="message.php?action=scout">返回</a>]
<!--
EOT;
}print <<<EOT
-->
										</td>
									</tr>
								</table>
							</div>
						</div>
<script language="JavaScript">
function msggoto(type) {
	ajax.send('pw_ajax.php?action=msggoto&from=$action&mid=$mid&type=' + type, '', function() {
		var rText = ajax.request.responseText.split('\t');
		if (rText[0] == 'ok') {
			location.href = 'message.php?action=$action&mid=' + rText[1];
		} else if (rText[0] == 'none') {
			showDialog("warning",type == 'next' ? '已经是最后一条了!' : '已经是第一条了!!');
		} else {
			ajax.guide();
		}
	});
}
</script>
<!--
EOT;
}elseif($action == 'chatlog'){print <<<EOT
-->
						<div class="p15">
							<form action="$secondurl" method="post">
							<input type="hidden" name="verify" value="$verifyhash" />
							<input type="hidden" name="action" value="dellog" />
							<input type="hidden" name="withuid" value="$withuid" />
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
if ($msgdb) {
foreach($msgdb as $key => $value){print <<<EOT
-->
									<tr class="user-tr">
										<td style="width:100%">
										<div>
											<span class="fr">{$u_name[$value[mtype]]} - $value[mdate]  <input type="checkbox" name="selid[]" value="$value[mid]" /></span>
											<span class="s3"><b>{$value[title]}</b></span><br />{$value[content]}</div>
										</td>
									</tr>
<!--
EOT;
}} else {print <<<EOT
-->
									<tr class="user-tr">
										<td>暂时没有消息。</td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
								</table>
							</div>
							<div class="mt10 cc">{$pages}</div>
							<div class="tac" style=" padding:1em">
								<span class="button2"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全选</button></span></span>
								<span class="button"><span><button type="submit" name="Submit">删除</button></span></span>
							</div>
							</form>
						</div>
<!--
EOT;
} elseif ($action == 'write') {print <<<EOT
-->
						<script language="JavaScript" src="js/wind_editor.js"></script>
						<div class="p15">
							<form name="FORM" action="$secondurl" method="post" onsubmit="return checkCnt();">
<!--
EOT;
if ($edinfo) {print <<<EOT
-->
							<input type="hidden" name="edmid" value="$edmid" />
<!--
EOT;
}print <<<EOT
-->
							<input type="hidden" name="action" value="write" />
							<input type="hidden" name="step" value="2" />
							<input type="hidden" name="verify" value="$verifyhash" />
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
									<tr class="user-tr">
										<td width="80">用户名</td>
										<td><input class="input" type="text" name="pwuser" id="pwuser" style="width:50%"  size="73" $msgid /> <a href="javascript:;" id="showfiends" onclick="sendmsg('pw_ajax.php?action=showfriends&recall=inputfriends','',this.id)" title="显示好友列表">选择好友</a>
										</td>
									</tr>
									<tr class="user-tr">
										<td>其他</td>
										<td>
											<div id="menu_show" style="display:none;"></div>
											<a class="bta" id="td_face" style="cursor:pointer;" onClick="showDefault();" align="absmiddle" unselectable="on">添加表情</a> <a class="bta" id="newdraft" onclick="opendraft(this.id);" style="cursor:pointer;">草稿箱</a>
										<td>
									</tr>
									<tr class="user-tr">
										<td>标题</td>
										<td><input class="input" type="text" name="msg_title" style="width:50%" size="73" value="$subject" /></td>
									</tr>
<!--
EOT;
if($db_gdcheck & 8){print <<<EOT
-->
									<tr class="user-tr">
										<td>认证码</td>
										<td><input class="input" type="text" name="gdcode" size="8" onfocus="try{opencode('menu_gd',this)}catch(e){}" /><span style="cursor:pointer; margin-left:3px" onclick="this.previousSibling.focus();">点此显示验证码</span>
										<div class="menu" id="menu_gd" style="visibility:hidden;"><img src="ck.php?" align="absmiddle" style="cursor:pointer;" id="ckcode" title="看不清楚，换一张" /></div></td>
									</tr>
<!--
EOT;
}if($msgq && $db_question){
$qkey = array_rand($db_question);
print <<<EOT
-->
									<tr class="user-tr">
										<td>验证问题<br />问题：{$db_question[$qkey]}</td>
										<td><input class="input" type="text" name="qanswer" /> 正确答案:{$db_answer[$qkey]}<input type="hidden" name="qkey" value="$qkey" /></td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
									<tr class="user-tr">
										<td>内容<br /><br />
											<div id="menu_face" class="menu" style="display:none;"></div>
<script language="javascript">
var imgpath   = '$imgpath';
var stylepath = '$stylepath';
</script>
<!--
EOT;
if(R_P==D_P){print <<<EOT
-->
<script language="JavaScript" src="data/bbscache/face.js"></script>
<!--
EOT;
}else{
$facedb=readover(D_P."data/bbscache/face.js");
print <<<EOT
-->
<script language="JavaScript">
$facedb
</script>
<!--
EOT;
}print <<<EOT
-->
										</td>
										<td>
<!--
EOT;
require_once PrintEot('editor');
print <<<EOT
-->
											<div style="margin:4px 0 0;"><input type="checkbox" name="ifsave" value="Y" style=" vertical-align:middle;" />保存到发件箱中</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="tac" style=" padding:1em">
								按"Ctrl+Enter"直接提交
								<span class="button"><span><button type="submit" name="Submit">提 交</button></span></span>
							</div>
							</form>
						</div>
<script language="JavaScript" src="js/post.js"></script></td>
<script language="JavaScript">
function inputfriends(){
	var friends = ajax.request.responseText;
	var oldvalue = getObj('pwuser').value;
	if (oldvalue && friends) {
		getObj('pwuser').value =oldvalue + ',' + friends;
	} else if (friends) {
		getObj('pwuser').value = friends;
	}
}
document.FORM.Submit.disabled = false;
</script>
<!--
EOT;
} elseif ($action == 'banned') {print <<<EOT
-->
						<div class="p15">
							<form name="FORM" action="$secondurl" method="post" onsubmit="return checkCnt();">
							<input type="hidden" name="action" value="banned" />
							<input type="hidden" name="step" value="2" />
							<input type="hidden" name="verify" value="$verifyhash" />
							<div id="info_base">
								<table width="100%" class="mt10 bor-t-c">
<!--
EOT;
if($_G['msggroup']){print <<<EOT
-->
									<tr class="user-tr">
										<td width="35%">可设置屏蔽指定用户组的短消息:<br />如选中“{$mylevel}”，则表示不接收来自“{$mylevel}”用户组的短信，全不选择则表示接收来自所有用户组的短信</td>
										<td><div>$usergroup</div></td>
									</tr>
<!--
EOT;
}print <<<EOT
-->
									<tr class="user-tr">
										<td>屏蔽多个用户时用逗号 "," 隔开<br />(如:张三,李四,王五等)。<br />当这些被添加的屏蔽用户给您发送短消息时将不予接收。</td>
										<td><textarea name="banidinfo" rows="6" cols="80">$userdb[banpm]</textarea></td>
									</tr>
								</table>
							</div>
							<div class="tac" style=" padding:1em">
								<span class="button"><span><button type="submit" name="Submit">提 交</button></span></span>
							</div>
						</div>
<!--
EOT;
}print <<<EOT
-->
					</td></tr>
				</table>
			</div>
			</form>
		</div>
	</div>
	<div class="u-m-bg"></div>
</div>
<script language="JavaScript">
cnt = 0;
function checkCnt() {
	document.FORM.Submit.disabled = true;
	cnt++;
	if (cnt != 1) {
		showDialog("warning","Submission Processing. Please Wait");
		return false;
	}
}
function checkset() {
	if (confirm("将删除收件箱和发件箱内所有消息，请确认！")) {
		window.location=('$B_url/message.php?action=clear&verify=$verifyhash');
	} else {
		return false;
	}
}
</script>
<!--
EOT;
?>-->