<!--<?php print <<<EOT
-->
$db_union[4]
<br /><br />
<center><small><font color="#999999">Powered by <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> Code &copy;2003-2010 <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <br />
$wind_spend $ft_gzip<br /><br />You can  <a href='$db_ceoconnect'>contact us</a></font></small>
</center><br /></body></html>
<!--
EOT;
?>-->