<!--<?php
print <<<EOT
-->
<div id="breadCrumb">
		<img src="$imgpath/$stylepath/thread/home-old.gif" align="absmiddle" />&nbsp;<a href="$db_bfn" title="$db_bbsname">$db_bbsname</a>
<!--
EOT;
if($action!='tag'){ print <<<EOT
-->		
		 &raquo; 标签
<!--
EOT;
}else{
print <<<EOT
-->
		 &raquo; <a href="job.php?action=taglist">标签</a> &raquo; 标签
<!--
EOT;
}
print <<<EOT
-->
</div>
$pages
<div class="c"></div>
<!--
EOT;
if($action=='taglist'){print <<<EOT
-->
<div class="t" style="margin-top:8px">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><td class="h">热门标签</td></tr>
	<tr class="tr3 f_one"><td>
<!--
EOT;
$num=0;
foreach($tagdb as $key=>$value){
$tag=rawurlencode($value[tagname]); $num++;
print <<<EOT
-->
		<div style="width:15%;float:left;padding:3px"><a href="job.php?action=tag&tagname=$tag">$value[tagname]</a> ($value[num])</div>
<!--
EOT;
if($num%6==0){print <<<EOT
-->
	<div class="c"></div>
<!--
EOT;
}}print <<<EOT
-->
	</td></tr>
</table></div>
<form action="job.php?action=tag" method="post">
<div class="tac" style="margin:20px"><input type="text" class="input" size="40" name="tagname" /> <input type="submit" class="btn" value=" 搜 索 " /></div></form>
<!--
EOT;
}elseif($action=='tag'){print <<<EOT
-->
<div class="t" style="margin-top:8px"><table width="100%" cellspacing="0" cellpadding="0" align="center">
<tr><td class="h" colspan="7">标签:$tagname</td></tr>
<tr class="tr2"><td width="6%">状态</td> 
<td width="*">标题</td>
<td width="15%">站点</td>
<td width="13%">作者</td>
<td width="6%">回复</td>
<td width="6%">人气</td>
<td width="20%">最后发表</td>
</tr>
<!--
EOT;
foreach($tiddb as $value){print <<<EOT
-->
<tr class="tr3 f_one"><td>$value[status]</td>
<th width="*">
<!--
EOT;
if($value['topped']){
print <<<EOT
-->
<img src="$imgpath/$stylepath/file/headtopic_$value[topped].gif" alt="置顶帖标志" /> 
<!--
EOT;
}print <<<EOT
-->
&nbsp;<a href="read.php?tid=$value[tid]" target="_blank">$value[subject]</a>
<!--
EOT;
if($value[digest]){
print <<<EOT
-->
<img src="$imgpath/$stylepath/file/digest_$value[digest].gif" alt="精华帖标志" />
<!--
EOT;
}
print <<<EOT
-->
</th>
<td>
<a href="thread.php?fid=$value[fid]">$value[forumname]</a></td>
<td class="smalltxt"><a href="u.php?action=show&uid=$value[authorid]">$value[author]</a><br />$value[postdate]</td>
<td>$value[replies]</td>
<td>$value[hits]</td>
<td>
<a href="read.php?tid=$value[tid]&page=e#a" target="_blank">
$value[lastpost]</a>
<br />by: $value[lastposter]
</tr>
<!--
EOT;
}print <<<EOT
-->
</table></div>
<!--
EOT;
}?>-->