<!--<?php print <<<EOT
-->
	<tbody style="table-layout:fixed;">
	<tr class="tr2">
	<td style="width:2%" class="tac y-style"></td>
	<td>
    	文章
    </td>
    <script language="JavaScript">
	    var orderThreadsClass = {
		 	orderThreads : function(orderway){
				var orderway = orderway || 'lastpost';
				var form = document.createElement("form");
				form.action = "thread.php?fid=$fid&page=$page&";
				form.method = "post";
				var h_type = this.createInput("hidden","type","$type");
				var h_search = this.createInput("hidden","search","1000");
				var h_special = this.createInput("hidden","special","$special");
				var h_orderway = this.createInput("hidden","orderway",orderway);
				var h_asc = this.createInput("hidden","asc","DESC");
				form.appendChild(h_type);
				form.appendChild(h_search);
				form.appendChild(h_special);
				form.appendChild(h_orderway);
				form.appendChild(h_asc);
				document.body.appendChild(form);
				setTimeout(function(){/*ie6*/
					form.submit();
				},0);
				return false;
			},
			createInput : function(type,name,value){
				var hidden = document.createElement("input");
				hidden.type = type;
				hidden.name = name;
				hidden.value = value;//↓
				return hidden;
			}
    	}
    	function orderThreads(orderway){
	    	orderThreadsClass.orderThreads(orderway);
	    }
	</script>
	<td style="width:120px;" class="y-style">作者/<a href="javascript:;" title="按发表时间排序" onclick="orderThreads('postdate');">时间{$orderClass[postdate]}</a></td>
	<td style="width:80px" class="tal y-style"><a href="javascript:;" title="按回复数排序" onclick="orderThreads('replies');">回复{$orderClass[replies]}</a>/<a href="javascript:;" title="按人气排序" onclick="orderThreads('hits');" >人气{$orderClass[hits]}</a></td>
	<td style="width:120px;" class="y-style"><a href="javascript:;" title="按最后回复时间排序" onclick="orderThreads('lastpost');">最后发表{$orderClass[lastpost]}</a></td>
	</tr>
<!--
EOT;
if($page==1 && $ifsort){
if($NT_A){
$NT_A[startdate] = get_date($NT_A[startdate]);
print <<<EOT
-->
	<tr align="middle" class="tr3 t_one">
		<td class="tac"><img src="$imgpath/$stylepath/thread/anc.gif" /></td>
		<th>&nbsp站点公告: <a href="$NT_A[url]" class="black">$NT_A[subject]</a></th>
		<td class="tal y-style"><a href="u.php?action=show&username=$NT_A[rawauthor]" class="bl">$NT_A[author]</a></td>
		<td class="tal y-style"><a href="notice.php?fid=$foruminfo[fid]#$foruminfo[aid]">站点公告</a></td>
		<td class="y-style f10">$NT_A[startdate]</td>
	</tr>
<!--
EOT;
}if($NT_C){
$NT_C[startdate] = get_date($NT_C[startdate]);
print <<<EOT
-->
	<tr align="middle" class="tr3 t_one">
		<td class="tac"><img src="$imgpath/$stylepath/thread/anc.gif" /></td>
		<th>&nbsp分类公告: <a href="$NT_C[url]" class="black">$NT_C[subject]</a></th>
		<td class="tal y-style"><a href="u.php?action=show&username=$NT_C[rawauthor]" class="bl">$NT_C[author]</a></td>
		<td class="tal y-style"><a href="notice.php?fid=$NT_C[fid]">分类公告</a></td>
		<td class="y-style f10">$NT_C[startdate]</td>
	</tr>
<!--
EOT;
}}
$tpc_topped=0;
$tooltips = array(
	'topicnew'=>'开放主题',
	'topichot'=>'热门主题',
	'topiclock'=>'锁定主题 ',
	'topicclose'=>'关闭主题',
	'vote'=>'投票主题',
	'active'=>'活动主题',
	'reward'=>'悬赏主题',
	'trade'=>'热门主题',
	'debate'=>'辩论主题',
	'votelock'=>'锁定投票',
	'activelock'=>'锁定活动',
	'rewardlock'=>'锁定悬赏',
	'tradelock'=>'锁定热门',
	'debatelock'=>'锁定辩论'
);
foreach($threaddb as $key => $thread){
$forumset['cutnums'] && $thread['subject'] = substrs($thread['subject'],$forumset['cutnums']);
$thread['postdate'] = get_date($thread['postdate'],'Y-m-d');
$thread['lstptime'] = get_date($thread['lastpost']);
$tooltip = $tooltips[$thread['tooltip']];
if($page==1 && $ifsort && $thread[topped]==0 && $tpc_topped==0){
$tpc_topped=1;
print <<<EOT
-->
	<tr class="tr2"><td colspan="$colspannum" class="tac" style="border-top:0">普通主题</td></tr>
<!--
EOT;
}print <<<EOT
-->
	<tr align="center" class="tr3 t_one">
	<td><a title="$tooltip" href="$thread[tpcurl]" target="_blank">$thread[status]</a></td>
	<td class="tal" id="td_$thread[tid]">
<!--
EOT;
if($thread[digest]){print <<<EOT
-->
			<img class="fr" src="$imgpath/$stylepath/file/digest_$thread[digest].gif" align="absmiddle" style="margin-top:4px;" title="精华帖标志" />
<!--
EOT;
}if($thread[adminbox] && $managecheck){print <<<EOT
-->
			<span class="v-in">$thread[adminbox]</span>
<!--
EOT;
}if($thread[modelid]>0){
if($thread[topped] == 0){
if(isset($postTopic->topicmodeldb[$thread[modelid]])){
print<<<EOT
-->
	<a href="thread.php?fid=$fid&modelid=$thread[modelid]" class="f14 s3">{$postTopic->topicmodeldb[$thread[modelid]][name]}</a>
<!--
EOT;
}}}print<<<EOT
-->

<!--
EOT;
if($thread[special]>20){
if($thread[topped] == 0){
$thread[pcid] = '';
$thread[pcid] = $thread[special]-20;
if(isset($postCate->postcatedb[$thread[pcid]])){
print<<<EOT
-->
	<a href="thread.php?fid=$fid&pcid=$thread[pcid]" class="f14 s3">{$postCate->postcatedb[$thread[pcid]][name]}</a>
<!--
EOT;
}}}if($thread[toolinfo]){print <<<EOT
-->
    	<span class="f14 s3">[$thread[toolinfo]]</span>
<!--
EOT;
}if($thread[topped]){print <<<EOT
-->
			<img src="$imgpath/$stylepath/file/headtopic_$thread[topped].gif" align="absmiddle" title="置顶帖标志"/>
<!--
EOT;
}print <<<EOT
-->
			$thread[useriocn]
<!--
EOT;
if($forumset['addtpctype'] && $t_db[$thread['type']] && $thread['fid']==$fid){
if ($upid = $t_db[$thread['type']]['upid']) {
$upname = $t_db[$upid][logo] ? "<img src=\"{$t_db[$upid][logo]}\">" : "[{$t_db[$upid][name]}]";
print <<<EOT
-->
			<a href="thread.php?fid=$fid&type=$upid{$viewbbs}">$upname</a>
<!--
EOT;
}
$topictype = $t_db[$thread[type]][logo] ? "<img src=\"{$t_db[$thread[type]][logo]}\">" : "[{$t_db[$thread[type]][name]}]";
print <<<EOT
-->
			<a href="thread.php?fid=$fid&type=$thread[type]{$viewbbs}" class="f14">$topictype</a>
<!--
EOT;
}if($thread['state'] == 0 && $thread['rewcredit'] > 0){print <<<EOT
-->
			<span class="s1"> &#8212; 悬赏金额:$thread[rewcredit] &#8212; </span>
<!--
EOT;
}print <<<EOT
-->
			<a href="$thread[tpcurl]" id="a_ajax_$thread[tid]" class="subject">$thread[subject]</a>&nbsp; $thread[ifmark] $thread[titleadd]
<!--
EOT;
if(isset($thread['colony'])){print <<<EOT
-->
			<span class="gray w">[来自群：<a href="mode.php?m=o&q=group&a=thread&cyid={$thread[colony][cyid]}">{$thread[colony][cname]}</a>]</span>
<!--
EOT;
}if($timestamp-$thread[lastpost]<=$db_newtime){print <<<EOT
-->
			<img src="$imgpath/$stylepath/file/new.gif" align="absmiddle" title="新帖标志" />
<!--
EOT;
}if($forumset['inspect'] && $thread['inspect']){print <<<EOT
-->
			<span class="w"><font color="red">[{$thread[inspect][1]} 阅至 {$thread[inspect][0]}楼]</font></span>
<!--
EOT;
}if($thread[ispage]){print <<<EOT
-->
			<span class="w">$thread[ispage]</span>
<!--
EOT;
}print <<<EOT
-->
	</td>
	<td class="tal y-style"><a href="u.php?action=show&uid=$thread[authorid]" class="bl">$thread[author]</a>
		<div class="f10 gray">$thread[postdate]</div></td>
	<td class="tal y-style f10 gray"><span class="s3">$thread[replies]</span>/$thread[hits]</td>
	<td class="tal y-style">
		<a href="read.php?tid=$thread[tid]&page=e&fpage=$page{$viewbbs}#a">$thread[lastposter]</a><br />
		<span class="f10 gray">$thread[lstptime]</span>
	</td>
	</tr>
<!--
EOT;
if($managemode==1){
if($db_ajax & 1){print <<<EOT
-->
    <tr class="tr3"><td></td><td>
	<div class="fr s8">[
<!--
EOT;
if($isGM || $pwSystem[digestadmin]){print <<<EOT
-->
		<a id="digest_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=digest&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="加入精华帖">精</a>
<!--
EOT;
}if($isGM || $pwSystem[lockadmin]){print <<<EOT
-->
		<a id="lock_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=lock&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="锁定帖子不让会员再回复帖子">锁定</a>
<!--
EOT;
}if($isGM || $pwSystem[pushadmin]){print <<<EOT
-->
		<a id="pushtopic_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=pushtopic&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="提前帖子">提</a>
<!--
EOT;
}if($isGM || $pwSystem[downadmin]){print <<<EOT
-->
		<a id="downtopic_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=downtopic&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="将帖子往后压">压帖</a>
<!--
EOT;
}if($isGM || $pwSystem[coloradmin]){print <<<EOT
-->
		<a id="edit_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=edit&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="编辑标题">亮</a>
<!--
EOT;
}if($isGM || $pwSystem[topped]){print <<<EOT
-->
<a id="headtopic_$thread[tid]" style="cursor:pointer" onclick="sendmsg('mawhole.php?ajax=1&action=headtopic&fid=$thread[fid]&seltid=$thread[tid]','',this.id)" title="置顶主题:将主题置顶,以便会员查看">顶</a>
<!--
EOT;
}print <<<EOT
-->
] </div><td colspan="4"></td></td></tr>
<!--
EOT;
}else{print <<<EOT
-->
    <tr class="tr3"><td></td><td>
	<div class="fr s8"> [
<!--
EOT;
if($isGM || $pwSystem['digestadmin']){print <<<EOT
-->
		<a id="digest_$thread[tid]" href="mawhole.php?action=digest&fid=$thread[fid]&seltid=$thread[tid]" title="加入精华帖">精</a>
<!--
EOT;
}if($isGM || $pwSystem['lockadmin']){print <<<EOT
-->
		<a id="lock_$thread[tid]" href="mawhole.php?action=lock&fid=$thread[fid]&seltid=$thread[tid]" title="锁定帖子不让会员再回复帖子">锁定</a>
<!--
EOT;
}if($isGM || $pwSystem['pushadmin']){print <<<EOT
-->
		<a id="pushtopic_$thread[tid]" href="mawhole.php?action=pushtopic&fid=$thread[fid]&seltid=$thread[tid]" title="提前帖子">提</a>
<!--
EOT;
}if($isGM || $pwSystem['downadmin']){print <<<EOT
-->
		<a id="downtopic_$thread[tid]" href="mawhole.php?action=downtopic&fid=$thread[fid]&seltid=$thread[tid]" title="将帖子往后压">压帖</a>
<!--
EOT;
}if($isGM || $pwSystem['coloradmin']){print <<<EOT
-->
		<a id="edit_$thread[tid]" href="mawhole.php?action=edit&fid=$thread[fid]&seltid=$thread[tid]" title="编辑标题">亮</a>
<!--
EOT;
}if($isGM || $pwSystem[topped]){print <<<EOT
-->
	<a id="headtopic_$thread[tid]" href="mawhole.php?action=headtopic&fid=$thread[fid]&seltid=$thread[tid]" title="置顶主题:将主题置顶,以便会员查看">顶</a>
<!--
EOT;
}print <<<EOT
-->
		] </div><td colspan="4"></td></td></tr>
<!--
EOT;
}}print <<<EOT
-->

<!--
EOT;
}print <<<EOT
-->
	<tr><td colspan="6" class="f_one" style="height:8px"></td></tr>
	</tbody>
</table></div>
<!--
EOT;
if($managecheck){print <<<EOT
-->
<div class="t5 tac f_one" style="padding:15px 0 15px; margin-bottom:2px;margin-top:2px;">
	<div>管理选项:
<!--
EOT;
if($foruminfo['f_check'] && $search=='check' && ($isGM || $pwSystem['tpccheck'])){print <<<EOT
-->
		<input name="action" type="radio" value="check" />验证主题
<!--
EOT;
}if($isGM || $pwSystem[topped]){print <<<EOT
-->
		<input name="action" type="radio" value="headtopic" />置顶
<!--
EOT;
}if($isGM || $pwSystem['digestadmin']){print <<<EOT
-->
		<input name="action" type="radio" value="digest" />精华
<!--
EOT;
}if($isGM || $pwSystem['lockadmin']){print <<<EOT
-->
		<input name="action" type="radio" value="lock" />锁定
<!--
EOT;
}if($isGM || $pwSystem['pushadmin']){print <<<EOT
-->
		<input name="action" type="radio" value="pushtopic" />提前
<!--
EOT;
}if($isGM || $pwSystem['downadmin']){print <<<EOT
-->
		<input name="action" type="radio" value="downtopic" />压帖
<!--
EOT;
}if($isGM || $pwSystem['coloradmin']){print <<<EOT
-->
		<input name="action" type="radio" value="edit" />加亮
<!--
EOT;
}if($isGM || $pwSystem[tpctype]){print <<<EOT
-->
		<input name="action" type="radio" value="type" />主题分类
<!--
EOT;
}if($isGM || $pwSystem[moveatc]){print <<<EOT
-->
		<input name="action" type="radio" value="move" />移动
<!--
EOT;
}if($isGM || $pwSystem[copyatc]){print <<<EOT
-->
		<input name="action" type="radio" value="copy" />复制
<!--
EOT;
}if($isGM || $pwSystem[unite]){print <<<EOT
-->
		<input name="action" type="radio" value="unite" />合并
<!--
EOT;
}if($isGM || $pwSystem[delatc]){print <<<EOT
-->
		<input name="action" type="radio" value="del" checked />删除
<!--
EOT;
}print <<<EOT
-->
	</div>
	<div style="margin-top:10px;">
	     <input class="bt" type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)" />
		 <input class="bt" type="button" value="帖子管理" onclick="location.href='thread.php?fid=$fid&search=$search&page=$page&concle=$concle'" />
		 <input class="btn" type="button" name="hello" value="提 交" onclick="this.form.submit();" />
	</div>
</div>
</form>
<!--
EOT;
}print <<<EOT
-->
<div class="t3"><table cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<form action="thread.php?fid=$fid&page=$page" method="post">
		<input type="hidden" name="type" value="$type">
		<input type="hidden" name="special" value="$special">
		<select name="search">
        	<option value="">所有主题</option>
			<option value="digest" $condisel[digest]>本版精华区</option>
			<option value="1" $condisel[1]>1天内的主题</option>
			<option value="2" $condisel[2]>2天内的主题</option>
			<option value="7" $condisel[7]>1星期内的主题</option>
			<option value="30" $condisel[30]>1个月内的主题</option>
			<option value="60" $condisel[60]>2个月内的主题</option>
			<option value="90" $condisel[90]>3个月内的主题</option>
			<option value="180" $condisel[180]>6个月内的主题</option>
			<option value="365" $condisel[365]>1年内的主题</option>
		</select>
<!--
EOT;
if($_G[alloworder]){print <<<EOT
-->
		<select name="orderway">
			<option value="lastpost" $ordersel[lastpost]>按最后回复</option>
			<option value="postdate" $ordersel[postdate]>按主题发表时间</option>
			<option value="hits" $ordersel[hits]>按人气</option>
			<option value="replies" $ordersel[replies]>按回复次数</option>
			<option value="favors" $ordersel[favors]>按收藏次数</option>
		</select>
		<select name="asc">
			<option value="ASC" $ascsel[ASC]>正序</option>
			<option value="DESC" $ascsel[DESC]>倒序</option>
		</select>
<!--
EOT;
}print <<<EOT
-->
		<input class="btn" type="button" value="提 交" onclick="this.form.submit();">
		</form>
		</td>
		<td align="right" width="40%">
		<form name="jump" method="post">
<!--
EOT;
if($winduid){print <<<EOT
-->
		<a class="bta fr" onclick="showViewLog('pw_ajax.php?action=readlog','',this.id);" id="readlog" href="javascript:;">帖子浏览记录<span class="f9">▼</span></a>
		<a class="bta fr" id="threadlog" onclick="showViewLog('pw_ajax.php','action=threadlog',this.id);" href="javascript:;">版块浏览记录<span class="f9">▼</span></a>
<!--
EOT;
}print <<<EOT
-->
		<a class="bta fr" href="profile.php?action=permission&fid=$fid" title="查看您在本版块的权限" target="_blank">版块权限查看</a>
		</form>
		</td>
	</tr>
</table></div>
<div class="t3">

<!--
EOT;
if($N_allowtypeopen || $N_allowtopicopen){print <<<EOT
-->
<span class="fr"><a href="post.php?fid=$fid" title="发表新帖"><img src="$imgpath/$stylepath/post.png" id="td_post1" /></a></span>
<!--
EOT;
}print <<<EOT
-->

	<span class="fl">$pages</span>
	<div class="c"></div>
</div>
<!--
EOT;
?>