<!--<?php
if($foruminfo[across]){print <<<EOT
-->
<div class="t"><table cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
	<tr><td class="h" colspan="$foruminfo[across]"><a class="fr closeicon" style="cursor:pointer;" onClick="return IndexDeploy('children',0)"><img id="img_children" src="$imgpath/$stylepath/index/cate_$children_img.gif" /></a><b>$foruminfo[name]</b></td></tr>
	<tbody id="cate_children" style="$cate_children">
	<tr class="tr2"><td colspan="$foruminfo[across]" style="padding:0;border-bottom:0;font:0/0 Arial"></td></tr>
<!--
EOT;
$a=0;
foreach($forumdb as $key=>$forums){
if($a==0){print <<<EOT
-->
	<tr class="tr1">
<!--
EOT;
}$a++;
print <<<EOT
-->
	<td class="td1 f_one"><div class="t3">
		<table cellspacing="0" cellpadding="0" width="100%" border="0">
			<tr><td colspan="3" height="20" style="padding-left:12px"><h2><a href="thread.php?fid=$forums[fid]" class="fnamecolor f14 b">$forums[name]</a>
<!--
EOT;
if($db_todaypost && $forums[tpost]){print <<<EOT
-->
						 <span class="f10 s3 fn">(今日$forums[tpost])</span>
<!--
EOT;
}print <<<EOT
-->
			</h2></td>
			</tr>
			<tr valign="middle" height="15">
				<td class="tinytxt f10" style="padding-left:12px">topic :<span class="s3"> $forums[topics]</span></td>
				<td class="tinytxt f10">post :<span class="s3"> $forums[article]</span></td>
				<td class="tinytxt f10">today :<span class="s3"> $forums[tpost]</span></td>
			</tr>
			<tr><td colspan="4" style="padding:2px 0 2px 12px; ">版主
<!--
EOT;
if($db_adminshow && $forums[admin]){print <<<EOT
-->
				<select name="admin" onchange="Ajump(this.options[this.selectedIndex].value)">
				<option value=""> 版主列表</option>
				$forums[admin]

				</select>
<!--
EOT;
}else{print <<<EOT
-->
				$forums[admin]
<!--
EOT;
}print <<<EOT
-->
			</td></tr>
<!--
EOT;
if($forums[forumappinfo][subforum_across]){
print <<<EOT
-->
			<tr><td colspan="4" style="padding:2px 0 2px 12px; ">{$forums[forumappinfo][subforum_across]}</td></tr>
<!--
EOT;
}print <<<EOT
-->
		</table></div></td>
<!--
EOT;
if($a==$foruminfo[across]){
$a=0;
print <<<EOT
-->
	</tr>
<!--
EOT;
}}
if($a!=0){
for($i=$a;$i<$foruminfo[across];$i++){print <<<EOT
-->
	<td class="f_one td1"><br /></td>
<!--
EOT;
}print <<<EOT
-->
	</tr>
<!--
EOT;
}print <<<EOT
-->
	</tbody></table></div>
<!--
EOT;
}else{
if($threadright){print<<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwthread");
server.start();
</script>
<!--
EOT;
}print<<<EOT
-->
<div class="t z">
<table cellspacing="0" cellpadding="0" width="100%">
	<tr><td class="h" colspan="5"><a class="fr  closeicon" style="cursor:pointer;" onClick="return IndexDeploy('children',0)"><img id="img_children" src="$imgpath/$stylepath/index/cate_$children_img.gif" /></a><b>子版块</b></td>
	</tr>
	<tbody id="cate_children" style="$cate_children">
	<tr class="tr2"><td width="5%">&nbsp;</td><td width="*">站点</td><td width="10%" class="y-style">版主</td><td width="12%" class="y-style">文章</td><td width="20%" class="y-style">最后发表</td>
	</tr>
	<!--
EOT;
foreach($forumdb as $key=>$forums){
	if ($forums['ifcms']) {
		continue;
	}
print <<<EOT
-->
	<tr class="f_one tr3"><td align="center" valign="middle" class="y-style">
<!--
EOT;
if($forums['logo']){print <<<EOT
-->
	<a href="thread.php?fid=$forums[fid]" target="_blank"><img src="$forums[logo]" alt="$forums[name]" /></a> 
<!--
EOT;
}else{print <<<EOT
-->	
	<a href="thread.php?fid=$forums[fid]" target="_blank"><img src="$imgpath/$stylepath/$forums[pic].gif" alt="$forums[name]" /></a> 
<!--
EOT;
}print <<<EOT
-->		
	</td>
	<th align="left">
<!--
EOT;
print <<<EOT
-->
		<h2 class="f14"><a href="thread.php?fid=$forums[fid]" class="fnamecolor a1">$forums[name]</a>
<!--
EOT;
if($threadright && ($threadright[down][admin] || in_array($forums[fid],$threadright[down][other])) ){print <<<EOT
-->
					<a style="margin-left:10px;color:red" href="javascript:;" id="jh_forum$forums[fid]" onclick="sendmsg('apps.php?q=appthread&forumid=$forums[fid]','',this.id)" title="设置特定好友显示动态信息">充实内容</a>
<!--
EOT;
}if($db_todaypost && $forums[tpost]){print <<<EOT
-->
						 <span class="f10 s3 fn">(今日$forums[tpost])</span>
<!--
EOT;
}print <<<EOT
-->
</h2><br /><span class="smalltxt gray">$forums[descrip]</span>
<!--
EOT;
if($forums[forumappinfo][subforum_erect]){
print <<<EOT
-->
	<span class="smalltxt">{$forums[forumappinfo][subforum_erect]}</span>
<!--
EOT;
}print <<<EOT
-->
</th>
	<td style="word-break:keep-all" class="y-style"><!--
EOT;
if($db_adminshow && $forums[admin]){print <<<EOT
-->
		<select name="admin" onchange="Ajump(this.options[this.selectedIndex].value)"><option value="">版主列表</option>$forums[admin]
		</select>
<!--
EOT;
}else{print <<<EOT
-->
		$forums[admin]
<!--
EOT;
}print <<<EOT
-->
		&nbsp;</td>
	<td class="f10 y-style">$forums[article]</td>
	<th class="smalltxt y-style" title="$forums[newtitle]"> <!--
EOT;
if($forums[au]){print <<<EOT
-->
		<h3><a href="$forums[ft]">$forums[t]</a></h3><br />$forums[au]
<!--
EOT;
}if($forums[pic]=='lock'){print <<<EOT
-->
		认证站点
<!--
EOT;
}print <<<EOT
-->
	</th></tr>
	<!--
EOT;
}print <<<EOT
-->
	<tr><td colspan="5" class="f_one" style="height:8px"></td></tr>
	</tbody>
	</table></div>
<!--
EOT;
}?>