@charset "gb18030";
/* CSS Document style by lwid 2009-08-03*/

/*link-color*/
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#b41b23;}

.w-470{width:470px;}
.w-420{width:420px;}
.w-280{width:280px;}
.w-240{width:240px;}
.w-475{width:475px;}

/*box*/
.box-a{border:1px solid #dbdbdb;}
.box-a-bg{border:1px solid #fafaf6;background:#fff url(box-a-bg.png) 0 top repeat-x;line-height:24px;}
.box-b{background:url(box-b-bg.png) center top no-repeat;}

.bor-t-a{border-top:1px dashed #cfcfcf;}
.bor-t-b{border-top:1px solid #dbdbdb;}
.bor-r-b{border-right:1px solid #dbdbdb;}
.bor-b-a{border-bottom:1px solid #dbdbdb;}

.box-a h4{margin-top:5px;}
.box-a h4 a{font-weight:700; font-size:14px;}
.box-a h3{padding:4px 8px 3px;height:22px;line-height:22px;}
.box-a h5{background:url(h5-bg.png) left top no-repeat;border-bottom:1px solid #dbdbdb;height:36px;line-height:36px;padding:0 18px;color:#000000;}
.box-a-bg-h3 h3{background:#c81c28;color:#ffffff; font-weight:700;margin:1px 0;padding:0 10px;}
.box-b h3{border-bottom:1px solid #ececec;margin:0 0 0 10px;}

.list-a{padding:10px 0 0;}
.list-a li,.list-b li,.list-c li{height:24px;overflow:hidden;line-height:24px;}
.list-a a{ font-size:14px;}

.list-b,.list-c{padding:4px 10px 0;}
.list-b li{background:url(list-b-li.png) 0 12px no-repeat;padding-left:8px;}

.list-d-220 li{width:210px;float:left;margin-right:20px;}

.list-img-a{padding:5px 5px 10px;}
.list-img-a ul{line-height:24px;background:url(list-img-a.gif) 5px 5px no-repeat;}
.list-img-a ul li{padding-left:24px;line-height:23px;height:23px;overflow:hidden;border-bottom:1px dashed #ebebeb;}

.images-list-a a{float:left;padding:10px;width:99px;}
.images-list-a a img{float:left;width:100px;height:100px;border:1px solid #e0e0e0;}
.images-list-a a p{float:left;text-align:center;padding:5px 0 0;width:98px; cursor:pointer;}

/*span-color*/
.gray{color:#999;}
.red{color:#b41b23;}
.link-red span{color:#b41b23;}

/*hot*/
.h-490{border-bottom:0;height:490px;}
.w-480-m10{width:480px;overflow:hidden;padding-top:8px;}
.w-480-m10 a{padding-bottom:0;}
.w-480-m10 img{padding:2px;border:1px solid #dadada;}

/*tab*/
.tab-a{padding-left:10px;background:url(h3-bg.png) 0 0 repeat-x;}
.tab-a li{float:left;}
.tab-a a{display:block;float:left;line-height:18px;}
.tab-a a span{padding:3px 10px 4px 8px;float:left;margin-left:2px;display:inline;cursor:pointer;}
.tab-a .active{background:url(tab-a-current.gif) left top no-repeat;color:#c6252b;}
.tab-a .active span{background:url(tab-a-current.gif) right bottom no-repeat;padding:4px 10px 3px 8px;}

/*针对*/
.img-210 img{width:210px;}