<!--<?php
print <<<EOT
-->
<div class="admin_table">
	<h2 class="pwC_h" style="cursor:move" onmousedown="read.move(event);"><span class="fr" onclick="closep();"><img src="$imgpath/close.gif" /></span>$invoke[name]</h2>
	<table width="420" cellspacing="0" cellpadding="0">
    	<tr class="tr1">
        	<td class="td1">
            	模块属性
            </td>
            <td class="td2">
            	<a onclick="sendmsg('{$thisBaseName}&action=invokeconfig&invokename=$invoke[name]&scr=$scr');"  style="cursor:pointer">设置</a>
            </td>
        </tr>
        <tr class="tr1 vt">
        	<td class="td1">
            	模块内容管理
            </td>
            <td class="td2">
<!--
EOT;
foreach($invokepieces as $piece){
print <<<EOT
-->
<!--
EOT;
if(!$invoke[ifloop]){print <<<EOT
-->
				<p><a onclick="sendmsg('{$thisBaseName}&action=editcontent&invokepieceid=$piece[id]');" style="cursor:pointer">$piece[title]</a></p>
<!--
EOT;
}else{print <<<EOT
-->
				<p>$piece[title]</p>
<!--
EOT;
foreach($invoke[loops] as $loop){print <<<EOT
-->
				<p style="padding-left:20px"><a onclick="sendmsg('{$thisBaseName}&action=editcontent&invokepieceid=$piece[id]&loopid=$loop');" style="cursor:pointer">{$forum[$loop][name]}</a></p>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
}print <<<EOT
-->
            </td>
        </tr>
    </table>
</div>
<script>
var editConfigRead = new PwMenu('editconfig');
function setEditConfig(url,data,id) {
	editConfigRead.obj = (typeof id == 'undefined' || !id) ? null : getObj(id);
	//editConfigRead.guide();
	setTimeout(function(){ajax.send(url,data,function (){ajax.get(editConfigRead)});},300);
}

</script>

<!--
EOT;
?>-->