<!--<?php
print <<<EOT
-->
<div class="admin_table" style="width:600px;">
	<h2 class="pwC_h" style="cursor:move" onmousedown="read.move(event);">
    	<span class="fr" onclick="closep();"><img src="$imgpath/close.gif" /></span>{$invokepiece[invokename]}->$invokepiece[title]
        <a style="cursor:pointer" class="linka" onclick="sendmsg('{$thisBaseName}&action=default&invokename={$invokepiece[invokename]}');">返回上一级</a></h2>
    </h2>
<form action="mode.php?m=area&q=frontadmin&action=addpush" onsubmit="return false;" method="post" id="pushForm">
<input type="hidden" name="invokepieceid" value="$invokepieceid">
<input type="hidden" name="fid" value="$fid">
<input type="hidden" name="loopid" value="$loopid">
<input type="hidden" name="cateid" value="$cateid">
	<table width="100%" cellspacing="0" cellpadding="0">
    	<tr class="tr1 vt">
            <td class="td2">
<!--
EOT;
if($invokepiece['action']=='subject' || $invokepiece['action']=='image'){
print <<<EOT
-->
			<span style="margin-right:5px;">输入要调用的帖子TID:</span><input type="text" class="input mr10" style="width:80px;" name="pushtid" value="">
<!--
EOT;
}if ($invokepiece[num]) {print<<<EOT
-->
        	<span style="margin-right:5px;">列表位置</span>
			<select name="offset" style=" vertical-align:middle">
<!--
EOT;
for ($i=0;$i<$invokepiece[num];$i++) {
$value=$i+1;print<<<EOT
-->
				<option value="$i" $select>$value</option>
<!--
EOT;
}print<<<EOT
-->
			</select>
			<input type="radio" name="addtype" value="1" checked />在之前插入
			<input type="radio" name="addtype" value="0" />替换
<!--
EOT;
}print<<<EOT
-->
			<input class="btn" type="button" onclick="ajax.submit(this.form,ajax.get);" value="添加">
            </td>
        </tr>
    </table>
</form>
	<table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr2 td_bgA">
        	<td width="5">&nbsp;</td>
<!--
EOT;
foreach ($param as $key=>$value) {
if (passOverKeys($key)) continue;
$key = getParamName($key,$invokepiece['action']);
print <<<EOT
-->
            <td>{$key}</td>
<!--
EOT;
}
print <<<EOT
-->
            <td width="100">&nbsp;</td>
        </tr>
<!--
EOT;
$i = 0;
foreach ($custom as $key=>$value) {
$temp_offset = $pushs[$key][offset]+1;
$pushid	= $pushs[$key][id];
$i++;
print <<<EOT
-->
        <tr class="tr1 vt" id="push_{$key}">
        	<td class="td2">$temp_offset</td>
<!--
EOT;
foreach ($param as $k=>$val) {
if (passOverKeys($k)) continue;
print <<<EOT
-->
            <td class="td2">$value[$k]</td>
<!--
EOT;
}
print <<<EOT
-->
            <td class="td2">
            	<a style="cursor:pointer;margin-right:10px;" onclick="sendmsg('{$thisBaseName}&action=editpush&id=$key');return false;">[编辑]</a>
                <a style="cursor:pointer" onclick="delPush(this,'$pushid','$cateid');return false;">[删除]</a>
            </td>
        </tr>
<!--
EOT;
}
print <<<EOT
-->
    </table>
</div>
<!--
EOT;
?>-->