<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="mb10">
    <h2 class="h1"><b>附件自动修复</b></h2>
    <div class="legend">
    本功能清除只存在附件记录而没有附件的冗余数据，帖子中的附件记录也将同时更新<br />使用 ftp 远程转移附件功能.此管理无效
    </div>
</div>
<form action=$basename method=post>
<input type=hidden name=action value='delete'>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit" name="hello" onfocus="blur();">自动修复</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->