<!--<?php
include_once PrintEot('left');
if(empty($action)){print <<<EOT
-->
<script language="JavaScript" src="js/wind_editor.js"></script>
<form name='FORM' action="$basename" method="post">
<h2 class="h1">短消息群发</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">&nbsp;</td>
		<td class="td2">
			<ul class="list_A list_80 cc">
				<li><input type="radio" name="by" value="1" onclick="sendtype(0)" checked="checked" />用户组</li>
				<li><input type="radio" name="by" value="2" onclick="sendtype(1)" />在线用户</li>
			</ul>
		</td>
	</tr>
	<tr class="tr1 vt" id="group">
		<td class="td1">接收用户</td>
		<td class="td2">
			<ul class="list_A list_120 cc mb10" style="width:480px;">
<!--
EOT;
$num=0;
foreach($ltitle as $key=>$value){
if($key=='1' || $key=='2' || isset($lneed[$key]))continue;
$num++;
print <<<EOT
-->
				<li><input type='checkbox' name='sendto[]' value='$key'>$value</li>
<!--
EOT;
}print <<<EOT
-->
				<li><input type='checkbox' name='sendto[]' value='-1'>普通会员</li>
			</ul>
			<span class="bt2"><span><button onclick="CheckAll(this.form)" value="全 选" name="chkall" onfocus="blur();" type="button">全 选</button></span></span>
		</td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">主题</td>
		<td class="td2"><input type="text" class="input input_wb" name="subject" /></td></tr>
	<tr class="tr1 vt">
		<td class="td1">内容</td>
		<td class="td2">
<!--
EOT;
require_once (R_P.'template/wind/editor.htm');
print <<<EOT
-->
		</td>
	</tr>
</table>
</div>
<input type="hidden" name="action" value="send" />
<div class="tac mb10">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
	<span class="bt"><span><button type="reset">重 置</button></span></span>
</div>
</form>
<SCRIPT LANGUAGE="JavaScript">
function sendtype(ID){
	var group = document.getElementById("group");
	if (ID==0){
		group.style.display = "";
	}else if (ID==1){
		group.style.display = "none";
	}
}
</SCRIPT>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->