<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10 ta">
    <ul class="cc">
      <li class="current"><a href="$admin_file?adminjob=tpccheck">主题审核</a></li>
      <li><a href="$admin_file?adminjob=tpccheck&action=postcheck">回复审核</a></li>
    </ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">版块开启 "主题审核" 功能时，只有经过管理员审核的主题才会在前台显示</div>
</div>
<form action="$basename&" method="post">
  <h2 class="h1"><b>帖子验证</b></h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td2">所属分类 :
        <select name="fid" class="select_wa mr20">
          <option>选择分类</option>
          $forumcache
        </select>
        作者 :
        <input type="text" class="input input_wa mr20" name="username">
        <span class="bt2"><span><button type="submit" value="提 交">提 交</button></span></span></td>
    </tr>
  </table>
  </div>
</form>
<form action="$basename&" method=post>
  <input type=hidden name=job value=search>
  <input type=hidden name=step value=2>
  <h2 class="h1"><b>帖子验证</b></h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td>ID</td>
      <td>标题</td>
      <td>作者</td>
      <td>所属分类</td>
      <td>按发表时间排序</td>
      <td>&nbsp;</td>
    </tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($checkdb as $check){
$num++;
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$num</td>
      <td class="td2"><a href="$admin_file?adminjob=content&type=tpc&id=$check[tid]">$check[subject]</a></td>
      <td class="td2"><a href="u.php?action=show&uid=$check[authorid]" target="_blank">$check[author]</a></td>
      <td class="td2">$check[name]</td>
      <td class="td2">$check[postdate]</td>
      <td class="td2"><input type="checkbox" name="selid[]" value="$check[tid]" onclick="pwJsCheck(this)" /></td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
  </table>
  </div>
  <div class="cc mb10">$pages</div>
  <div class="tac mb10">
  		<p><input type="radio" name="type" value="del">删除&nbsp;
        <input type="radio" name="type" checked='checked' value="pass">通过</p>
  </div>
    <div class="tac mb10">
        <span class="bt"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全 选</button></span></span>
        <span class="btn"><span><button type="submit">提 交</button></span></span>
    </div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
