.mallLogin{ border:1px solid #dfdfdf; height:28px; background:url(../../images/beauty/web/mallLogin.gif) repeat-x; line-height:28px; padding:0 5px; vertical-align:middle}
.column1{width:236px; padding:10px 10px 10px 0; float:left}
.column2{width:500px; padding:10px 10px 10px 0; float:left}
.column3{width:200px; float:left; padding:10px 0;}
.welcome{color:#707070; font-size:14px; padding-right:15px;}
.welcome a{ color:#707070;font-size:14px; }
a.topName{ font-size:14px; font-weight:bold; text-transform:capitalize; color:#eb6100;}
a.topName:hover{ color:#333333}
.price16{font-size:14px; font-weight:600; color:#eb6100;}
a.topCart{ background:url(../../images/beauty/web/mall/myCart.gif) no-repeat left top; padding:0 5px 0 18px; text-decoration:none; color:#0099ff}
a.topHome{ background:url(../../images/beauty/web/mall/my7mai.gif) no-repeat left top; padding:0 5px 0 18px;text-decoration:none;color:#0099ff}
a.topCart:hover,a.topHome:hover{ color:#FF6600; text-decoration:underline}
.box1{ border:1px solid #dedede; padding:1px;_padding-top:0;}
.box1 h2{ display:block; height:30px; position:relative;}
.box1 h2 span{ display:block; position:absolute; top:0; left:0; height:30px;}
ul.brand{margin:0; padding:0; list-style:none;}
ul.brand li{display:block; float:left;}
ul.brand a{display:block; border:1px solid #dedede; margin:1px; height:33px; overflow:hidden; width:73px;}
a.more1{ color:#09f; text-decoration:none; line-height:20px; padding:0 5px;}
a.more1:hover{ text-decoration:underline}
.hotCate{ padding:5px; border-bottom:1px dotted #dedede;}
.hotTitle,.hotTitle a{ font-weight:bold; text-decoration:none; color:#09f; line-height:24px}
.hotTitle a:hover{ text-decoration:underline}
.cateList a{ color:#707070; text-decoration:none; padding-right:8px; line-height:20px; background:url(../../images/beauty/web/mall/cateSpace.gif) no-repeat right center}
.cateList a:hover{ color:#09f; text-decoration:underline}
.box2{ border:1px solid #dedede; padding:1px; _padding-top:0;}
.box2 h3{background:url(../../images/beauty/web/mall/box2h3.gif) repeat-x; height:30px; padding-left:10px; font-size:14px; color:#666; font-weight:bold; display:block; line-height:30px;}
.box2 ol{ padding:3px; margin:0; list-style:decimal inside; color:#690; font-weight:bold; }
.box2 li{ line-height:20px;}
.box2 a{ font-weight:normal; color:#707070; text-decoration:none}
.box2 a:hover{ color:#09f; text-decoration:underline}
ul.hotLink{ margin:0; padding:2px; list-style:none}
ul.hotLink li{ display:block; float:left; text-align:center;}
ul.hotLink a{ display:block; border:1px solid #dedede; width:88px; height:31px; margin:2px 3px;}
.proList{ border-left:1px solid #00a0e9;border-bottom:1px solid #00a0e9; width:165px; height:200px; float:left; padding-bottom:5px;}
p.img{text-align:center; vertical-align:middle; padding:5px;}
p.name{ height:32px; line-height:16px; padding:0 3px; text-align:center}
p.name a{ color:#313131; text-decoration:none; text-align:center;}
p.name a:hover{ color:#09f}
p.pricelabel{ color:#707070; padding-left:10px; line-height:18px;}
.price18{ font-size:18px; color:#eb6100;}
/*list两列自适应高度*/
.content:after
 {
 content: '[DO NOT LEAVE IT IS NOT REAL]'; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
 }
.content
 {
 display: inline-block;
 }
/*\*/
.content
 {
 display: block;
 overflow:hidden;
 }
/* end easy clearing */
/*\*/
.content{border:1px solid #dfdfdf; border-top:none;}
.sideBar{width:195px; border-right:1px solid #dfdfdf; padding:0;}
.list{ padding:10px;}
.sideBar,.list,.rightBar,.compareList
 {
  float:left; 
 padding-bottom: 32767px !important;
 margin-bottom: -32767px !important; 
 }
@media all and (min-width: 0px) {
.sideBar,.list,.rightBar,.compareList
 {
 padding-bottom: 0 !important;
 margin-bottom: 0 !important; 
 }
.sideBar:before,.list:before,rightBar:before,.compareList:before {
 content: '[DO NOT LEAVE IT IS NOT REAL]';
 display: block;
 background: inherit;
 padding-top: 32767px !important;
 margin-bottom: -32767px !important;
 height: 0;
 }
}
.rightBar{width:195px; border-left:1px solid #dfdfdf; padding:0; float:right}

.sideBar h1{display:block; border-bottom:1px solid #dfdfdf; font-size:16px; padding:0; margin:0; height:60px; background:#f2fafe; line-height:24px; margin-top:1px;}
.sideBar h1 a{ line-height:24px; font-size:16px; font-weight:bold; text-decoration:none; color:#434343;}
.sideBar h1 a em{ display:block; height:48px; width:48px; text-align:center; background:#fff; border:1px solid #dfdfdf; overflow:hidden; float:left; margin:3px;}
.sideBar h1 a:hover{ color:#36c;}
.h2css1{ display:block; height:24px; border:1px solid #dfdfdf; background:#f2fafe; border-left:none; border-right:none; line-height:24px; padding-left:10px; color:#626262; font-size:14px; font-weight:bold}
.h2css2{ display:block; height:24px; border:1px solid #dfdfdf; background:#f2fafe; border-left:none; border-right:none; line-height:24px; padding-left:10px; color:#626262; font-size:12px; font-weight:normal}
.categorys{ padding:10px 5px;}
.cateUl{
	margin:0;
	padding:0;
	list-style-position: inside;
	list-style-type: disc;
	color:#3366cc;
}
.cateUl li ul{
	padding-left:10px;
	list-style-type: square;
}
.cateUl .cur{ font-weight:bold}
.cateUl .cur ul{ font-weight:normal}
.cateUl li{ line-height:20px;}
.categorys a{ color:#36c; text-decoration:none;}
.c777{ color:#777}
.categorys a:hover{ color:#f30}
.ulcss1{ margin:0; padding:0; list-style:none; padding-left:5px;}
.ulcss1 li{ line-height:20px;}
.ulcss1 a{ color:#36c; text-decoration:none;}
.ulcss1 a:hover{ color:#f30}
.inputcss{ background:#fff url(../../images/beauty/web/inputBg.gif) no-repeat 0 0; border:1px solid #aaa; color:#333; font-size:12px; padding:2px 3px;}
.reprice{ padding:10px;}
.curCate{ color:#626262; line-height:24px; }
.curCate a{ color:#36c; text-decoration:none;}
.curCate a:hover{ color:#f30;}
.s_result{ color:#555; line-height:24px; font-size:14px;}
.s_result strong{ color:#f30; font-size:14px;}
.viewState{ height:20px; background:#f8fdfe; border:1px solid #cbebfb; line-height:20px; color:#069; padding:5px 10px;}
.productList{ padding:10px 0; width:728px;}
.productList ul{ margin:0; padding:0; list-style:none}
.productList li{ float:left; display:block; width:182px; padding-bottom:15px; height:260px; overflow:hidden;}
.productList p{ padding:0 5px;}
.pages{clear:both; PADDING:10px 3px; MARGIN: 3px;TEXT-ALIGN: center;}
.pages .count{BORDER: #9aafe5 1px solid;PADDING:1px 5px; COLOR: #2e6ab1; MARGIN-RIGHT: 2px;}
.pages A{BORDER: #9aafe5 1px solid; PADDING:1px 5px; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; TEXT-DECORATION: none}
.pages A:hover {BORDER: #2b66a5 1px solid; COLOR: #000; BACKGROUND-COLOR: lightyellow}
.pages A:active {BORDER: #2b66a5 1px solid;  COLOR: #000; BACKGROUND-COLOR: lightyellow}
.pages SPAN.current {BORDER: navy 1px solid; PADDING:1px 5px;FONT-WEIGHT: bold;COLOR: #fff; MARGIN-RIGHT: 2px; BACKGROUND-COLOR: #2e6ab1}
.pages SPAN.disabled {	BORDER: #929292 1px solid; PADDING:1px 5px;COLOR: #929292; MARGIN-RIGHT: 2px; }
.priceRed{ color:#e60012; font-size:16px; font-weight:600;}
a.productImg{ width:160px; height:160px; margin:0 auto; padding:5px; text-align:center; border:1px solid #e4e4e4; display:block; overflow:hidden}
a.productImg:hover{ border-color:#666;}
.productList .pname{ height:32px; overflow:hidden}
.productList .pname a{ color:#36c; line-height:16px; }
.productList .pname a span{line-height:16px;}
.h{ color:red; padding:0 1px}
.pname a{ color:#313131; font-size:12px; text-decoration:none; line-height:18px;}
.pname a:hover{ color:#f30;}
a.quickBuy{ display:block; width:90px; height:22px; background:url(../../images/beauty/web/quickbuy.gif) no-repeat; line-height:22px; text-align:center; color:#7d7d7d; text-decoration:none; margin:3px auto; text-indent:8px;}
a.quickBuy:hover{ color:#f30;}
.c888{ color:#888; line-height:24px;}
.green{ color:#8fc31f; font-size:12px; padding:0 2px;line-height:18px; }
.green2{ color:#690; font-size:12px; font-weight:bold }
ul.related{ margin:0; padding:0; list-style:none}
ul.related li{ display:block; width:172px; margin:5px auto}
.price24{ color:#e60012; font-size:24px; line-height:24px;}
.red18{color:#e60012; font-size:18px; line-height:18px;}
.compareImg{ float:left; width:350px; margin-right:20px; margin-bottom:20px;}
.compareInfo{ color:#626262; line-height:30px}
.compareInfo h1{ font-size:16px; font-weight:bold; line-height:36px; color:#1b1b1b; display:block;}
ul.tab{ background:#f2fafe url(../../images/beauty/web/dfdfdf.gif) bottom repeat-x; height:32px; border-top: 1px solid #dfdfdf; margin:0; padding:0; width:748px; padding-left:10px; list-style:none;}
ul.tab li{ display:block; height:28px; line-height:28px; border:1px solid #dfdfdf; background:#eee; color:#898989; font-size:14px; font-weight:bold; padding:0 38px; margin-right:2px; float:left; margin-top:2px; cursor:pointer}
ul.tab li.cur{ border-bottom:1px solid #fff; background:#fff; color:#000;}
#con1{ padding:15px 0;}
#con1 table{ margin:0; padding:0; table-layout:fixed; width:758px; color:#666;}
#con1 table th{ height:18px; border-bottom:2px solid #dfdfdf; border-right:1px solid #dfdfdf; color:#707070; font-size:12px; font-weight:bold; text-align:center;}
#con1 table th.thnoborder{ border-right:none}
#con1 table td{ border-bottom:1px dotted #dfdfdf; padding:10px 3px; text-align:center}
#con1 table td.tdPrice{ text-align:left}
a.linkLogo{ border:1px solid #c9c9c9; display:block; background:#fff; width:88px; height:31px; margin:0 auto; overflow:hidden}
a.linkLogo:hover{ border-color:#666;}
a.shop{ color:#36c; text-decoration:none; line-height:24px;}
a.shop:hover{ color:#f30; text-decoration:underline}
a.buyNow{ display:block; margin:0 auto; width:90px; height:36px; position:relative;}
a.buyNow span{ display:block; position:absolute; top:0; left:0; width:90px; height:36px; background:url(../../images/beauty/web/buynow.gif) no-repeat; cursor:pointer}
a.buyNow:hover{ color:#000;}
a.buyNow:hover span{ background-position:0 -36px;}
#con2, #con3{ color:#111111; padding:15px 10px; width:738px;}
#con2 table, #con3 table{ color:#111111; margin:0; padding:0; table-layout:fixed; width:100%;}
#con2 th, #con3 th{ border:1px solid #e5e5e5; border-left:none; background:#f6f6f6; color:#666; height:24px; line-height:24px; padding:0 5px;}
#con2 th.leftBorder, #con3 th.leftBorder{border:1px solid #e5e5e5;}
#con2 td, #con3 td{ border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding:3px 5px;}
#con2 td.property, #con3 td.property{ border-left:1px solid #e5e5e5; width:130px;}
#con2 .value{}
.productDetail{ border:1px solid #dfdfdf; border-top:none; border-bottom:none; padding:10px; height:480px; overflow:hidden}
.red{ color:#e60012}
.productInfo{ color:#626262; line-height:24px}
.productInfo a{ color:#f30;}
.productInfo a:hover{ color:#39c}
.h1css,.h1css a{ font-size:16px; font-weight:bold; line-height:36px; color:#1b1b1b; display:block; text-decoration:none}
.h1css a:hover{ color:#f30; }
a.detailImg{ width:300px; height:300px; text-align:center; padding:5px; border:1px solid #e4e4e4; display:block;}
.fLeft{ float:left}
.pform{ padding-left:325px;}
.buyTip{ margin-top:20px; border:1px dotted #dcdcdc; border-right:none; border-left:none; font-size:14px; color:#434343; padding:3px 0}
.subInfo{border-bottom:1px dotted #dcdcdc; background:#fcf7ee; padding:10px;}
.subInfo label{ width:40px; display:block; float:left}
.subInfo div{ padding:3px 0}
.buy{ background:url(../../images/beauty/web/buyBtn.gif) no-repeat;width:160px; height:38px; border:0;cursor:pointer; margin:10px 0 20px 0; padding-top:40px;}
.buyDisable{ background:url(../../images/beauty/web/buyBtn_disable.gif) no-repeat;width:160px; height:38px; border:0;cursor:pointer; margin:10px 0 0 0; padding-top:40px;}
.aboutshop{ float:right; width:190px; border:2px solid #faefdd; color:#7d7d7d}
.aboutshop div{ padding:5px;}
a.view,a.getsaler{ color:#eb6100; text-decoration:none}
a.view:hover,a.getsaler:hover{ color:#39c;}
a.view{ font-size:14px; line-height:24px;}
.aboutshop h3{ display:block; height:24px; padding-left:10px; line-height:24px; color:#b26f00; font-size:12px; font-weight:normal; background: #faefdd}
.shopInfo{ text-align:left; border-top:1px solid #faefdd}
.shopInfo p{word-spacing: normal;word-break:break-all;word-wrap:break-word;width:180px; overflow:auto}
.categoryList{ padding:10px; clear:both}
.categoryList h2{ line-height:30px; display:block; background:url(../../images/beauty/web/dfdfdf.gif) repeat-x center;}
.categoryList h2 a{ font-size:14px; padding:0 5px; margin:0 10px; color:#36c; font-weight:bold; text-decoration:none; background:#fff;}
.categoryList ul{margin:0; list-style:none; width:598px; float:left}
.categoryList li{ float:left; display:block; width:115px; height:30px;}
.categoryList li a{ color:#36c;text-decoration:none}
.categoryList li a:hover{ color:#f30;}
.categoryList ul.pinpai{ width:710px; float:none;}
.categoryList ul.pinpai li{ text-align:center; line-height:14px; display:block; height:65px; padding-bottom:5px; overflow:hidden}
.categoryList ul.pinpai li a{ line-height:14px;}

ul.shoppingTab{ background:#f2fafe url(../../images/beauty/web/dfdfdf.gif) bottom repeat-x; height:34px; margin:0; padding:0; padding-left:10px; list-style:none; margin-top:1px;}
ul.shoppingTab li{ display:block; height:28px; line-height:28px; border:1px solid #dfdfdf; background:#eee; color:#898989; font-size:14px; font-weight:bold; padding:0 38px; margin-right:2px; float:left; margin-top:4px; cursor:pointer}
ul.shoppingTab li.cur{ border-bottom:1px solid #fff; background:#fff; color:#000;}
ul.shoppingTab a{ color:#898989; text-decoration:none; font-size:14px}
ul.shoppingTab a:hover{ color:#000; text-decoration:none;}
.cartNone{ padding:20px; background:url(../../images/beauty/web/shoppingCart.gif) no-repeat 40px 20px; padding-left:200px;}
.shoppingH1{ font-family:"微软雅黑"; color:#434343; font-size:24px; line-height:30px; font-weight:normal; display:block; height:36px;}
.shoppingH1 span{color:#e60012;font-size:24px;}
ul.start{ color:#434343; margin:0; padding:0; list-style:disc inside}
ul.start li{ line-height:30px; font-size:14px;}
ul.start a{ color:#f60; font-size:14px;}
.cartList{ padding:20px; padding-left:120px;background:url(../../images/beauty/web/shoppingCart2.gif) no-repeat 20px 20px;}
.cartTable{ margin:0; padding:0; table-layout:fixed; width:100%}
.cartTable th{ background:url(../../images/beauty/web/cartTh.gif) repeat-x; height:31px; line-height:30px; font-size:14px; color:#434343; text-align:center;}
.cartTable td{ line-height:24px; color:#638c0b; padding-left:5px; height:30px}
.pTable{ width:950px; margin:0 auto; padding:0; table-layout:fixed; border-top:1px solid #cce198; color:#313131}
.pTable td{border-right:1px solid #cce198;border-bottom:1px solid #cce198; background:#faffee; padding:5px; line-height:20px}
.pTable td.noBorder{ border-right:none; font-size:14px; color:#e60012; text-align:center}
.pTable a{ color:#00a0e9;}
.pTable .delete a{ color:#486a00; text-decoration:none; font-size:14px;}
.pTable .delete a:hover{ text-decoration:underline}
a.listImg{ display:block; float:left; width:48px; height:48px; overflow:hidden; border:1px solid #e4e4e4; margin-right:5px;}
a.listImg:hover{ border-color:#666;}
a.pName{ color:#f33; font-size:16px; font-weight:600; text-decoration:none}
a.pName:hover{ color:#36c}
.greyPrice{ color:#313131; font-size:16px; text-align:center}
.pTable .tdcss{ text-align:center;}
.pTable .tdcss a{ border:1px solid #dfdfdf; text-decoration:none; color:#333; padding:0 2px;}
.pTable .tdcss a:hover{ border-color:#666666}
.final{ text-align:right; line-height:24px; color:#313131; padding-right:10px; padding-top:20px;}
.finalAten{ border:1px solid #facd89;padding:10px 10px 10px 100px; width:820px; margin:0 auto; color:#313131; background:#fef5e7 url(../../images/beauty/web/atenbg.gif) no-repeat 10px 10px;}
.finalAten p{ font-size:14px; line-height:24px;}
.finalAten p span.red{ font-size:16px; line-height:24px;}
.finalAten a{ color:#f30; font-size:14px;}
.finalAten a:hover{ color:#36c;}
h4{ color:#555; font-size:14px; font-weight:600; line-height:20px; display:block; height:20px;}
ul.addr{ margin:0; padding:10px 15px; list-style:none}
ul.addr li{ line-height:30px; font-size:14px; color:#434343; display:block;}
input.delBtn{ background:url(../../images/beauty/web/btnBg.gif) repeat-x 0 0; height:22px; line-height:22px; border:1px solid #a6d0e7; color:#0075a9; padding:0 5px; margin:5px 10px; cursor:pointer;}
input.reSet{ margin:0; text-align:center;background:url(../../images/beauty/web/btnBg.gif) repeat-x 0 0; height:22px;border:1px solid #a6d0e7; line-height:22px; cursor:pointer; color:#0075a9;}
input.getMB{background:url(../../images/beauty/web/btnBg.gif) repeat-x 0 0; height:28px; line-height:28px; border:1px solid #a6d0e7; color:#0075a9; padding:0 5px; cursor:pointer; font-family:"微软雅黑"; font-size:18px;}
input.pay{background:url(../../images/beauty/web/btnBg.gif) repeat-x 0 -28px; height:28px; line-height:28px; border:1px solid #a40000; color:#fff; padding:0 5px; cursor:pointer; font-family:"微软雅黑"; font-size:18px;}
.rightBar .ader{ padding:10px 0; margin:0 auto; width:176px; overflow:hidden}
/*rating*/
.rating0,.rating1,.rating2,.rating3,.rating4,.rating5,.rating6,.rating7,.rating8,.rating9
{ height:24px; padding-left:88px; color:#999; background:url(../../images/beauty/web/rating.gif) no-repeat; margin:5px auto;}
.rating1{ background-position:0 -32px;}
.rating2{ background-position:0 -64px;}
.rating3{ background-position:0 -96px;}
.rating4{ background-position:0 -128px;}
.rating5{ background-position:0 -160px;}
.rating6{ background-position:0 -192px;}
.rating7{ background-position:0 -224px;}
.rating8{ background-position:0 -256px;}
.rating9{ background-position:0 -288px;}
/*商品简介*/
p.pcontent{ padding:15px 0; text-indent:2em;}
/*shoppingcart*/
.addAdr td{ padding:5px 3px; color:#313131}
.tdLable{ text-align:right; padding:5px 10px 0 0; vertical-align:middle; color:#313131}