.input_lable{
    /*float:left;*/
    margin-right:1em;
    text-align:right;
    font-size:0.95em;
    font-weight:bold;
    /*vertical-align:bottom;*/
    font-family: Verdana, Geneva, sans-serif;
    width:8em;
}

.text_input{
    /*-moz-border-radius:0.4em 0.4em 0.4em 0.4em;*/
    font-family: Verdana, Geneva, sans-serif;
    background:none repeat scroll 0 0 #FAFAFA;
    border:1px solid #DDDDDD;
    /*font:normal 0.9em arial,sans-serif;*/
    font-size:0.90em;
    padding:0.15em;
    vertical-align:top;
    margin:0.1em 0px;
}

.radio_label{
    margin:0px 10px 0px 10px;
}

.text_input:focus{
    background:#fff;
}

.lable_input_set{
    margin:0.3em 0;
    position:relative;
}

.lable_input_set .input_lable, .lable_input_set .text_input{
    float:left;
}

fieldset legend{
    font-size:1.2em;
    font-weight:bold;
    font-family: Verdana, Geneva, sans-serif;
}

fieldset{
    border:1px solid #DDDDDD;
    padding:0 0.5em 0.5em;
}

.submit_btn{
    width:74px;
    height:23px;
    margin:0 auto;
    border:0;
    display:block;
    cursor:pointer;
    /*text-indent:-9999px;*/
    margin-top:0.7em;
    /*background:url("../images/register.png") no-repeat scroll left top;*/
    background:none;
    font-size:1em;
    font-family: Verdana, Geneva, sans-serif;
    color:#000;
    font-weight:bold;
    /*-moz-border-radius:0.4em 0.4em 0.4em 0.4em;*/
    /*padding-bottom: 10px;*/
}