.pretty_table{
    border:1px solid #DDDDDD;
    border-collapse:collapse;
    /*margin:10px;*/
    text-align:center;
    width:100%;
    margin-bottom:20px;
}

table.innerTable thead tr{
    background:#969696;
}

.pretty_table thead tr{
    font-size:14px;
    background:#028dd5;
    color:#fff;
}

.pretty_table tbody tr:hover{
    background:#f1a33d;
}

.pretty_table tbody tr:hover td{
    /*color:#eee;*/
}

.pretty_table td{
    font-size:13px;
    padding:2px;
    border:1px solid #ddd;
}

.pretty_table input{
    text-align:center;
}

#pageNo{
    text-align:center;
}

a.delete{
    color:#b31109;
}

a.edit{
    color:#005ccc;
}

a.delete:hover, a.edit:hover{
    text-decoration:underline;
}