@charset "gb18030";
/* CSS Document */
body{font-family:Verdana;color:#333;font-size:12px;background:#fff url(bg.png) 0 28px repeat-x;_background:none;}
#upPanelWrap{background:#fff url(bg.png) 0 top repeat-x;}

/*特殊文字颜色*/
.gray{color:#888;}
/*布局*/
#header,#main,#footer,.topbor{overflow:hidden;}
#header,#main,#footer{width:960px;margin:0 auto;}
#header{margin-bottom:8px;}
.footer-wrap{margin-top:10px;}

.search{display:inline; margin:5px 10px 0 0;width:170px; height:20px; border:1px solid #999; background:url(textareabg.png)}
.s-btn{height:20px;width:48px;border:0; padding:0; display:block;cursor:pointer; float:right; background:url(searchbt.png) ; border-left:1px solid #999 }
.s-btn:hover { background-position:0 1px}
.s-input{height:15px;border:0;width:106px;background:none;float:left;}


/*new_nav*/
#nav-global,.nav-left,.nav-right{background:url(nav-bg.png);}
.nav-left,.nav-right{width:5px;height:35px;}
.nav-left{ background-position:0 0;_margin-right:-3px;}
.nav-right{ background-position:0 -70px;_margin-left:-3px;}
#nav-global{ background-position:0 -35px;height:35px;overflow:hidden;}
	#nav-global ul{font-size:14px;padding-left:10px;}
		#nav-global li,#nav-global li a{background:url(nav-cur.png) 999em 999em no-repeat;}
		#nav-global li{margin:5px 0 0 0;float:left;}
		#nav-global li a{float:left;color:#ffffff;padding:0 10px;height:27px;line-height:23px;outline:none;font-weight:700;}
		#nav-global li a:hover{color:#ffea00; text-decoration:none;}
		#nav-global .current{background-position:left top;line-height:33px;height:33px;margin:2px 5px 0;}
		#nav-global .current a,#nav-global .current a:hover{background-position:right top;color:#1c4b79;display:inline;line-height:33px;height:33px;padding:0 19px; text-decoration:none;}
		
	#nav-s{background:url(nav-search.png);width:270px;height:35px;overflow:hidden; float:right;_margin-left:-3px;}
		#nav-s .fr{margin:9px 20px 0 0;*margin:11px 20px 0 0;line-height:14px;}
		.s-btn,.s-input{background:none;border:0;}
		.s-btn{ cursor:pointer;width:55px;height:21px;vertical-align:middle !important;vertical-align:baseline;margin:5px 0 0 1px;}
		.s-input{height:17px;padding:4px 1px 0;width:150px;margin:5px 0 0 10px;float:left;}

.nav2{background:url(nav_2_bg.png) 0 bottom repeat-y;}
.nav2 ul{padding:6px 20px 9px;}
.nav2 li{float:left;height:18px;padding:0 .5em;overflow:hidden;}
.nav2 li a{float:left;color:#333;display:block;padding:0 .5em;white-space:nowrap;}
.nav2 li a:hover{background:#F1F1F1;}

/*footer*/
#footer{background:url(footer-bg.png) 0 top repeat-x;padding:10px 0 40px;line-height:1.8;}
.bottom{margin:0 auto;}
.bottom ul{list-style:none;}
.bottom ul li{ padding:0 1em 0 0;display:inline;line-height:2;}
.bottom ul li a{white-space:nowrap; font-size:14px;}

.listA_li li{background:url(listA_li.png) 0 10px no-repeat;padding-left:10px;}

ul.area-list-tree{border-bottom:1px dashed #cccccc;margin-bottom:10px;padding:0;overflow:hidden;margin-top:10px;*margin-top:-7px;}
ul.area-list-tree li{float:left;margin-right:20px;line-height:18px;padding:0 0 5px;*padding:13px 0 5px;}