<!--<?php print <<<EOT
-->
<style >
.line{margin:2px 1px 2px 13px;padding:0px;}
</style>
<div id="breadCrumb">
		<img src="$imgpath/$stylepath/thread/home-old.gif" align="absmiddle" />&nbsp;<a href="$db_bfn" title="$db_bbsname">$db_bbsname</a>
<!--
EOT;
if($action=='log'){print <<<EOT
-->
 &raquo; <a href="$basename">银行</a> &raquo; 银行日志
<!--
EOT;
}else{print <<<EOT
-->
 &raquo; <a href="$basename">银行</a>
<!--
EOT;
}print <<<EOT
-->
</div>
<div class="t3" style="margin-top:8px">
    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" width="20%">
			<div class="t">
				<table width="100%" cellpadding="0" cellspacing="0">
                    <tr><td class="h" colspan="2">银行功能简介</td></tr>
                    <tr class="tr3"><th>
                    <b>1.存、取款：</b>（活期和定期）
                    <ul class="line">
                    <li>活期为每日计算利息,可随时存取</li>
                    <li>定期为只有当存款时间到达存款期限后开始计算利息，在到存款期限前取款不计算利息</li>
                    </ul>
                    <b>2.银行转帐：</b>
                    <ul class="line"><li>不同用户之间可进行银行转帐，银行收取一定的手续费</li></ul>
                    <b>3.排行榜：</b>
                    <ul class="line"><li>系统将定期更新排行榜数据</li></ul>
                    <b>4.银行操作日志</b>
                    <ul class="line"><li>帮您清晰地记录每一笔交易信息，方便查询，<a href="$basename&action=log"><font color=blue><b>查看日志</b></font></a></li></ul>
                    </th></tr>
<!--
EOT;
if(!$action){print <<<EOT
-->
                    <tr><td class="h" colspan="2">用户信息</td></tr>
                    <tr class="tr3"><th>
                    用户名:$windid<br /><br />
                    {$credit->cType[rvrc]}:$userrvrc {$credit->cUnit[rvrc]}<br />
                    {$credit->cType[money]}:$winddb[money] {$credit->cUnit[money]}<br />
                    {$credit->cType[credit]}:$winddb[credit] {$credit->cUnit[credit]}<br />
<!--
EOT;
foreach($showdb as $show){
print <<<EOT
-->
                    $show[0]:$show[1] 点<br />
<!--
EOT;
}print <<<EOT
-->
                    <br />
                    活期存款:$bankdb[deposit] $db_moneyunit<br>利　息:$accrual $db_moneyunit<br>存款时间:$bankdb[savetime]<br><br>定期存款:$bankdb[ddeposit] $db_moneyunit<br>利　息:$daccrual $db_moneyunit<br>存款时间:$bankdb[dsavetime]<br>到期时间:$endtime<br><br>总资产: $allmoney $db_moneyunit
                    </th></tr>
<!--
EOT;
}print <<<EOT
-->
				</table>
			</div>
		</td>
		<td valign="top">
<!--
EOT;
if(!$action){print <<<EOT
-->
			<div class="t" style="width:98%;margin-right:0">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="h" colspan="2">银行储蓄（日利息 活期：$bk_rate% 定期：$bk_drate% ）</td></tr>
                    <tr class="tr1">
                        <form name="form1" method="post" action="$basename&" onsubmit="this.submit.disabled=true;">
                        <input type="hidden" name="action" value="save" />
                        <th width="40%"><font color="5A6633">存款：</font><br />
                        <input name="btype" type="radio" value="1" checked />活期
                        <input name="btype" type="radio" value="2" />定期<br /><br />
                        存款金额($db_moneyunit)：<input name="savemoney" class="input" type="text" /> 
                        <input class="btn" type="submit" name="submit" value="提 交" />
                        </th></form>
                        <form name="form2" method="post" action="$basename&" onsubmit="this.submit.disabled=true;">
                        <input type="hidden" name="action" value="draw" />
                        <th><font color="5A6633">取款：</font><br />
                        <input name="btype" type="radio" value="1" checked />活期
                        <input name="btype" type="radio" value="2" />定期<br /><br />
                        取款金额($db_moneyunit)：<input name="drawmoney" class="input" type="text" id="drawmoney" /> 
                        <input class="btn" type="submit" name="submit" value="提 交" />
                        </th></form>
                    </tr>
				</table>
			</div>
<!--
EOT;
if($bk_virement=='1'){print <<<EOT
-->
            <form name="form3" method="post" action="$basename&" onsubmit="this.submit.disabled=true;">
            <input type="hidden" name="action" value="virement" />
            <div class="t" style="width:98%;margin-right:0">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr><td class="h" colspan="2">银行转帐(手续费$bk_virerate%)</td></tr>
                    <tr class="tr3"><td width="40%">对方用户名：</td>
                    <td><input name="pwuser" class="input" type="text" size="35" /></td></tr>
                    <tr class="tr3"><td width="40%">转帐金额：(最低转帐金额: $bk_virelimit $db_moneyunit)</td>
                    <td><input name="to_money" class="input" type="text" size="35" /></td></tr>
                    <tr class="tr3"><td width="40%">转帐附言：</td>
                    <td><textarea name="memo" rows="4" cols="48"></textarea></td></tr>
                    <tr class="tr3 tac"><td colspan="2"><input class="btn" type="submit" name="submit" value="提 交" /></td></tr>
                </table>
            </div></form>
<!--
EOT;
}print <<<EOT
-->
			<div class="t" style="width:98%;margin-right:0">
				<table width="100%" cellspacing="0" cellpadding="0">
					<tr><td colspan="2" class="h"><b>银行存款排行</b></td></tr>
					<tr><td width="50%" valign="top">
						<div class="t3" style="width:100%;margin:0px auto 5px">
							<table width="100%" cellspacing="0" cellpadding="0" align="center">
								<tr class="tr2 tac"><td colspan="4">活期存款</td></tr>
<!--
EOT;
$id=0;
foreach($_DESPOSTDB as $thread){
if($thread[2]){
$id++;
$class=$id%2==0 ? "f_two" : "f_one";
print <<<EOT
-->
                                <tr class="tr3 $class">
                                    <td style="border-right:0" width="10%">$id</td>
                                    <td style="border-right:0" width="25%"><a href="u.php?action=show&uid=$thread[0]">$thread[1]</a></td>
                                    <td style="border-right:0" width="*">$thread[2] $db_moneyunit</td>
                                    <td style="border-right:0" class="smalltxt">$thread[3]</td>
                                </tr>
<!--
EOT;
}}print <<<EOT
-->
                            </table>
						</div>
						</td>
						<td valign="top">
							<div class="t3" style="width:100%;margin:0px auto 5px">
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr class="tr2 tac"><td colspan="4">定期存款</td></tr>
<!--
EOT;
$id=0;
foreach($_DDESPOSTDB as $thread){
if($thread[2]){
$id++;
$class=$id%2==0 ? "f_two" : "f_one";
print <<<EOT
-->
                                    <tr class="tr3 $class">
                                        <td style="border-right:0" width="10%">$id</td>
                                        <td style="border-right:0" width="25%"><a href="u.php?action=show&uid=$thread[0]">$thread[1]</a></td>
                                        <td style="border-right:0" width="*">$thread[2] $db_moneyunit</td>
                                        <td style="border-right:0" class="smalltxt">$thread[3]</td>
                                    </tr>
<!--
EOT;
}}print <<<EOT
-->
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
<!--
EOT;
}elseif($action=='log'){print <<<EOT
-->
			<div class="t" style="margin-top:8px">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr><td class="h" colspan="5">
                    	<div class="fl"><a href="$basename&action=log">我的操作记录</a> | <a href="$basename&action=log&to=1">对我的操作记录</a></div>
                        <div class="fr"><select name="type" onchange="Bjump(this.options[this.selectedIndex].value)">
                        <option value="all">全部</option>
                        <option value="bk_save" $select[bk_save]>{$lang[logtype][bk_save]}</option>
                        <option value="bk_draw" $select[bk_draw]>{$lang[logtype][bk_draw]}</option>
                        <option value="bk_vire" $select[bk_vire]>{$lang[logtype][bk_vire]}</option>
                        </select></div>
						</td>
					</tr>
                    <tr class="tr2 tac">
                    <td width="5%">ID</td>
                    <td width="6%">类型</td>
                    <td width="*">描述</td>
                    <td width="16%">操作日期</td>
                    <td width="15%">IP</td></tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($logdb as $key => $value){
$num++;
print <<<EOT
-->
                    <tr class="tr3 tac">
                    <td>$num</td>
                    <td>{$lang[logtype][$value[type]]}</td>
                    <td><div style="TABLE-LAYOUT: fixed;WORD-WRAP: break-word" align="left">$value[descrip]</div></td>
                    <td>$value[date]</td>
                    <td>$value[ip]</td></tr>
<!--
EOT;
}print <<<EOT
-->
					</table>
				</div>
<div style="margin-left:12px;margin-bottom:15px" class="cc">$pages</div>
<script language="JavaScript">
function Bjump(value){
	if(value!= '') {
		window.location=('$basename&action=log&&to=$to&type='+value);
	}
}
</script>
<!--
EOT;
}print <<<EOT
-->
</td></tr></table></div>
<!--
EOT;
?>-->