<{assign var="page_title" value="`$_fair`"}>
<{assign var="nav_id" value="8"}>
<{include file="`$ThemeName`/header.html"}>
<div class="adv mauto">
    <{ads typeid=1 row="8"}><span><a href="[link:url]" rel="promotion">[field:src]</a></span><{/ads}>
</div>
<div class="wrapper">
   <div class="exh_con">
      <div class="exh_con_left">
         <div class="exh_con_img">
			<{ads type="focus" from="fair"}>This text is replaced by the Flash movie.<{/ads}>
		 </div>
         <div class="exh_con_net">
             <div class="title_bar_s2">
             <span class="title_top_s2"><span></span></span>
             <h2><{$_recommended_fair}></h2>
             </div>
             <div class="net_content">
              <div class="main clearfix">
               <{fair type=commend row=1 infolen=35}>
               <div class="net_content_img"><img src="[img:src]" /></div>
               <div class="net_content_intro">
                 <h3><a href="[link:title]">[field:title]</a></h3>
                 <p>[field:content]&nbsp;&nbsp;<span><a href="[link:title]"><{$_detail}></a></span> </p>
               </div>
               <{/fair}>
              </div>
               <div class="net_meeting">
                 <ul>
                 <{fair row=2}>
                 <li><span class="net_meeting_title"><a href="fair/detail.php?id=[field:id]" target="_blank">[field:title]</a></span><span class="net_meeting_time pb_datetime">[[field:pubdate]]</span></li>
                 <{/fair}>
                 </ul>
                 <div class="clear"></div>
               </div>
             </div>
         </div>
        <div class="blank6"></div>  
        <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h2><span class="title_more"><a href="fair/list.php"><span class="raquo">&raquo;</span><{$_more}></a></span><{$_new_fair}></h2>
        </div>

        <div class="exh_recent">
            <ul class="exh_recentlist clearfix">
            <{fair row=24}>
                <li><span class="sort"><a href="fair/list.php?typeid=[field:typeid]">[[field:typename]]</a></span><span class="title"><a href="fair/detail.php?id=[field:id]">[field:title]</a></span><span class="date pb_datetime">[[field:pubdate]]</span></li>
            <{/fair}>
            </ul>
        </div>
      </div>
      <div class="exh_con_right"> 
         <div class="title_bar_s1">
           <span class="title_top_s1"><span></span></span>
           <h2><span class="title_more"><a href="fair/list.php?type=hot"><span class="raquo">&raquo;</span><{$_more}></a></span><{$_hot_fair}></h2>
        </div>
        <div class="exh_consulting">
        <ul>
        <{fair row=10 type="hot"}>
        <li><a href="fair/detail.php?id=[field:id]">[field:title]</a></li>
        <{/fair}>
        </ul>
      </div>
    <div class="blank6"></div>
        
          <div class="title_bar_s1">
           <span class="title_top_s1"><span></span></span>
           <h2><span class="title_more"><a href="fair/list.php"><span class="raquo">&raquo;</span><{$_more}></a></span><{$_find_fair}></h2>
        </div>
       
        <div class="exh_find">
        <form action="fair/list.php" name="search_fair_frm" id="SearchFairFrm">
        <input type="hidden" name="do" value="search" />
        <table>
          <tr>
            <th><{$_keyword}></th>
            <td><input name="q" type="text" style="width:100px; color:gray;" value="<{$_input_keywords}>"/></td>
          </tr>
          
          <tr>
            <th>&nbsp;</th>
            <td><input type="button" value="<{$_search}>" class="btn_search" onclick="$('#SearchFairFrm').submit();" /></td>
          </tr>
        </table>
        </form>
        </div>
   </div> 
 <div class="clear"></div>  
</div>
   <div class="blank6"></div>
   <{ads typeid=2}><span><a href="[link:url]" rel="promotion">[field:src]</a></span><{/ads}>
</div>
<{include file="`$ThemeName`/footer.html"}>