<{assign var="page_title" value="$_hr"}>
<{assign var="nav_id" value="9"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
	<div class="content">
		<div class="job_type fl">
          <div class="title_bar_s1" style="height:28px;">
           <span class="title_top_s1"><span></span></span>
           <h3><{$_industry_sort}></h3>
          </div>
			
			<div class="job_type_c">
            	<{foreach from=$IndustryList name=IndustryList item=industry_item}>
			  <h3><em><a href="hr/list.php?industryid=<{$industry_item.id}>" title="<{$industry_item.name}>"><{$industry_item.name}></a></em></h3>
				<div class="cb">
                	<{foreach from=$industry_item.child item=industry_item2 key=industry_key2}>
                    <a href="hr/list.php?industryid=<{$industry_item2.id}>" title="<{$industry_item2.name}>"><{$industry_item2.name}></a><em>|</em>
                    <{/foreach}>
              </div>
                <{/foreach}>
		  </div>
		</div>
        
		<div class="job_ss fl">
			<form action="hr/list.php" method="get">
            <input type="hidden" name="do" value="search" />
			<h2><{$_jobs_search}></h2>
			<table width="390" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td align="right" width="65"><{$_salary}></td>
				<td width="325" align="left">
                <select name="data[salary_id]">
						<{html_options options=$Salary}>
						</select></td>
			  </tr>
			  <tr>
				<td align="right"><{$_jobs_area}></td>
				<td align="left">
                <div id="dataArea">
							<select name="data[area_id1]" id="dataAreaId1" class="level_1" style="width:90px;" ></select>
							<select name="data[area_id2]" id="dataAreaId2" class="level_2" style="width:90px;"></select>
							<select name="data[area_id3]" id="dataAreaId3" class="level_3" style="width:90px;"></select>
						</div>
                        </td>
			  </tr>
			  <tr>
				<td align="right"><{$_keyword}></td>
				<td align="left">
					<input type="text" name="q" value="" class="job_gjz" />
					</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td align="left"><input type="submit" value="<{$_search}>" class="submit" /></td>
			  </tr>
			</table>
			</form>
		</div>
		<div class="job_reg fr">
            <div class="title_bar_s1">
               <span class="title_top_s1"><span></span></span>
               <h5><{$_after_free_reg}></h5>
            </div>

			<div class="job_reg_c">
				<p class="fl"><a><{$_build_your_site}></a></p>
				<p class="fl"><a><{$_post_offer_trade}></a></p>
				<p class="fl"><a><{$_spread_your_products}></a></p>
				<p class="fl"><a><{$_meet_more_friends}></a></p>
				<div class="reg big-color-weight">
                <span><a href="member.php" class="btn_free"><{$_free_reg}></a><span>
                </div>
			</div>
		</div>
		<div class="job_area fl">
			<h2><{$_hot_area}></h2>
			<div>
            <{foreach from=$Areas[1] name=area item=area_item key=area_key}>
            <a href="hr/list.php?areaid=<{$area_key}>"><{$area_item}></a>
            <{/foreach}>
          </div>
		</div>
		<div class="job_new fl">
			<div class="base_title">
                 <span class="more"><a href="hr/list.php"><{$_more}>&raquo;</a></span>
				<h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_new_hr}></span><span class="corner_t_r"></span></h2> 
				
			</div>
			<div class="job_new_c fl box_bord">
				<ul>
                <{job row=28}>
					<li><p class="fl"><a href="[link:title]" title="[field:fulltitle]" target="_blank">[field:title]</a></p><em class="fr">[field:companyname]</em></li>
                <{/job}>
			  </ul>
			</div>
		</div>
		<div class="blank6"></div>
		</div>
</div>
<script>
var app_language = '<{$AppLanguage}>';
var area_id1 = 0;
var area_id2 = 0;
var area_id3 = 0;
</script>
<script src="scripts/multi_select.js" charset="<{$Charset}>"></script>
<script src="scripts/script_area.js"></script>
<{include file="`$ThemeName`/footer.html"}>