<{assign var="page_title" value="`$page_title`"}>
<{assign var="nav_id" value="9"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
	<div class="content">
		<div class="tips"><span><{$position}></span></div>
        <div class="blank6"></div>
		<div class="job_list_left fl">
           <div class="title_bar_s4">
              <span class="title_top_s4"><span></span></span>
              <h3><{$_hr_information}></h3>
           </div>
			<div class="job_list_c">
				<ul>
					<li class="title"><h3 class="fl"><span><{$_hr_jobs}></span></h3><em class="fl"><span><{$_hr_company}></span></em><p class="fl"><{$_jobs_area_n}></p><p class="fl"><{$_post_time_n}></p></li>
                    <{foreach from=$Items name=Items item=item key=key}>
					<li><h3 class="fl"><a href="space.php?do=hr&userid=<{$item.userid}>" title=""><{$item.name}></a></h3><em class="fl co"><a href="space.php?userid=<{$item.userid}>"><{$item.companyname}></a></em><p class="fl"><{$item.work_station}></p><p class="fl"><{$item.pubdate|date_format:"%Y-%m-%d"}></p></li>
                    <{/foreach}>
			  </ul>
			</div>
		</div>
		<div class="job_good fr">
           <div class="title_bar_s4">
              <span class="title_top_s4"><span></span></span>
              <h3><{$_recommended_company}></h3>
           </div>

			<div class="job_good_c cb">
				<ul>
                	<{company type="commend"}>
					<li><a href="[link:title]" target="_blank" title="[field:title]">[field:title]</a></li>
                    <{/company}>
			  </ul>
			</div>
		</div>
		<div class="blank6"></div>
		</div>
</div>
<{include file="`$ThemeName`/footer.html"}>