<{assign var="page_title" value="`$_login`"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">  
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<div class="wrapper">
    <div class="content">
        <div class="loading"><img src="<{$theme_img_path}>images/lhighs.gif" /><{$_your_ongoing_operations}><span><{$_pls_login}></span><{$_continue}></div>
        <div class="loadingcon">
        <form name="loggingfrm" id="LoggingFrm" method="post" action="logging.php">
        	<input type="hidden" name="action" value="logging">
			<input type="hidden" name="formhash" value="<{$formhash}>">
			<input type="hidden" name="forward" value="<{$smarty.get.forward}>" />
            <div class="loadingconleft">
                <p><{$_member_login}></p>
				<{if $LoginError}><{$LoginError}><{/if}>
				<br />
                    <label class="loadingname">
                        <{$_user_name}>
                    </label>
                    <label>
                        <{if $pb_username!=""}>
                        <input type="text" name="data[login_name]" id="LoginName" value="<{$pb_username|default:'`$_account_n_email_n_mobile`'}>">
                        <{else}>
                        <input type="text" style="color: #CCCCCC;" name="data[login_name]" id="LoginName" value="<{$_account_n_email_n_mobile}>" tabindex="1">
                        <{/if}>
                    </label>
                    <br clear="all" />
                    <label class="loadingname">
                    <{$_password}>
                    </label>
                    <label>
                        <input name="data[login_pass]" type="password" id="LoginPass" value="" tabindex="2">&nbsp;<a href="getpasswd.php"><{$_forget_password}></a>
                    </label>
                    <br clear="all" />
                    <{if $ifcapt}>
                    <label class="loadingname">
                        <{$_code}>
                    </label>
                    <label class="loadingcheck">
                        <input name="data[capt_logging]" id="LoginAuth" type="text" value="" size="5" maxlength="5" tabindex="3"><a href="javascript:;" onclick="$('#imgcaptcha').attr('src','captcha.php?sid=' + Math.random());return false;"><img src="captcha.php?sid=<{$sid}>" id="imgcaptcha" alt="<{$_unclear_see_numbers}>" title="<{$_unclear_see_numbers}>"/></a>
                    </label>
                    <div class="clear"></div>
                    <p class="loadingp1"><{$_refresh_code}></p>
                    <{/if}>
                    <div class="clear"></div>
                    <div class="login" id="btnLoginDiv">
                       <input type="submit" name="log_in" id="LogIn" value="<{$_login}>" class="loadingbutton" />
                       <input type="reset" name="reset" value="<{$_reset}>" class="loadingbutton"/>
                       </div>
                    <div class="clear"></div>
                    <p class="loadingp3"><{$_questions_service_hotline}><{$service_tel}></p>
            </div>
            <div class="loadingconright">
                <p><{$_free_register}></p>
                <ul>
                    <li><a><img src="<{$theme_img_path}>images/logging_01.gif" alt="" /><p><b><{$_products_show}></b><br /><{$_illustrated_display_product}></p></a></li>
                    <li><a><img src="<{$theme_img_path}>images/logging_02.gif" alt="" /><p><b><{$_online_business}></b><br /><{$_internet_power_promotion}></p></a></li>
                    <li><a><img src="<{$theme_img_path}>images/logging_03.gif" alt="" /><p><b><{$_hr}></b><br /><{$_talents_join}></p></a></li>
                    <li><a><img src="<{$theme_img_path}>images/logging_04.gif" alt="" /><p><b><{$_agent_join}></b><br /><{$_development_agent_join}></p></a></li>
                    <li><a><img src="<{$theme_img_path}>images/logging_05.gif" alt="" /><p><b><{$_company_news}></b><br /><{$_display_company_news}></p></a></li>
                    <li><a><img src="<{$theme_img_path}>images/logging_06.gif" alt="" /><p><b><{$_classifieds}></b><br /><{$_free_classifieds}></p></a></li>
                </ul>
                <div class="member_reg">
                       <input type="button" value="<{$_register}>" class="loadfreeregister" onclick="redirect('member.php');return false;"/>
               </div>
            </div>
        </form>
        </div>
    </div>
</div>
<script language="javascript" src="scripts/jquery/validate.js"></script>
<script language="javascript" src="scripts/validate.js" charset="<{$Charset}>"></script>
<script>
$(document).ready(function(){
	$("#LoginName").focus(function(){
		if($("#LoginName").val()=='<{$_account_n_email_n_mobile}>'){
			$("#LoginName").val('').css('color', '#000');
		};
	}).blur(function(){
		if($("#LoginName").val()==''){
		$("#LoginName").val("<{$_account_n_email_n_mobile}>").css("color","#ccc")};
	});
});
</script>
<{include file="`$ThemeName`/footer.html"}>