<{assign var="page_title" value="$_online_pay"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
	<div class="tips"><span><{$_correct_operation}></span></div>  
	<div class="blank6"></div>
	<div class="charge_box">
		<div class="corner_toptxt_bar">
		  <span class="corner_toptxt_s1"><span></span></span>
		</div>
		<div class="charge_online">
		  <p><{$_confirm_pay_amount}></p>
		<table>
			<{if $OnlineSupport}>
			<form method="post" name="pay_frm" id="PayFrm" action="<{$OnlineSupportUrl}>" target="_blank" />
			<input type="hidden" name="total_price" value="<{$total_price}>" />
			<tr>
				<th><{$_pay_amount}></th>
				<td><input name="total_price_format" value="<{$total_price|number_format}>" readonly type="text" />&nbsp;</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td><input type="submit" class="submit_w118" value="<{$_next_pay_amount}>"/></td>
			</tr>
			</form>
			<{else}>
			<tr>
				<th><{$_pay_description}></th>
				<td class="pay_description"><{$Description}></td>
			</tr>
		<{/if}>
		</table>
		</div>
		<div class="corner_bottomtxt_bar">
		  <span class="corner_bottomtxt_s1"><span></span></span>
		</div>
	</div> 
</div>
<{include file="`$ThemeName`/footer.html"}>