<{assign var="page_title" value="`$page_title`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
  <div class="content">
    <div class="tips"><span><{$position}></span></div>
    <div class="news_all clearfix">
      <div class="news_all_left">
       <div class="news_title">
        <div class="title_bar_s4">
          <span class="title_top_s4"><span></span></span>
          <h2><span><{$item.title}></span>
          <p><{$_source}><span class="gray"><{if $item.source}><{$item.source}><{else}><{$site_name}><{/if}></span><{$_publish_time}><span class="gray"><{$item.pubdate}></span><{$_categories}><span class="gray">[<a href="news/list.php?typeid=<{$item.type_id}>"><{$item.typename}></a>]</span> <{$_keyword}><span class="gray"><{$item.tag}></span></p>
          </h2>
       </div>
       </div>
        <div class="news_all_left_con">
          <{$item.content}>
		  <div class="clear"></div>
          <div id="news_info">[<a href="javascript:window.close()"><{$_close_widow}></a>] [<a href="javascript: window.print();"><{$_print_page}></a>] <{$_views}><{$item.clicked}></div>
        </div>
      </div>
      <div class="all_right">
       <div class="title_bar_s4">
          <span class="title_top_s4"><span></span></span>
          <h3><{$_related_info}></h3>
       </div>
        <div class="all_right_con">
          <ul class="news_list">
          <{news row=10 titlelen=32}>
            <li> <a href="news/detail.php?id=[field:id]" title="[field:fulltitle]">[field:title]</a></li>
          <{/news}>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<script>
$("#SearchFrm").attr("action","news/list.php");
$("#topMenuNews").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>