@charset "utf-8";
/* CSS Document */

li {
	list-style-type:none;
}

pre {
	overflow:hidden;
	white-space:pre-wrap;
	word-wrap:break-word;　　
}

/* Link styles */
a:link {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #cb0447;
	text-decoration: none;
}
a:visited {
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #cb0447;
	text-decoration: none;
}
a:hover {
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #cb0447;
	text-decoration: none;
}
a:active {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 0px; /* necessary because otherwise text inherits padding above (bug) */
	float:none;
	color: #cb0447;
	text-decoration: none;
}
a img {
	border: none;
}
/*基本信息*/
body {
	font:14px 宋体;
	margin:0;
	text-align:center;
	padding:0;
}
/*页面层容器*/
#container {
	margin:0 auto;
	width:100%;
	padding-top:0;
}
/*页面头部*/
#header {
	width:950px;
	margin:0 auto;
	padding-top:0;
	clear:both;
}
#menu {
	overflow:hidden;
	font:14px 宋体;
	color:#FFF;
	vertical-align:middle;
	width:950px;
	height:25px;
	margin:0 auto;
	background:url(../images/iop_menu_background.jpg);
}
#menu ul {
	margin:0 auto;
}
#menu li {
	display: table-cell;
	float:left;
	width:80px;
	height:25px;
	padding-top:5px;
	padding-bottom:5px;
}
#menu a:link {

	color: #FFF;

}
#menu a:visited {

	color: #FFF;

}
#menu a:hover {

	color: #FFF;
}
#menu a:active {
	color: #FFF;

}
.menuRight {
	width:300px;
	float:right;
}
.menuRight td {
	text-align:right;
}
#fastSearch {
	text-transform: none;
	color: #000000;
	width:200px;
	overflow:hidden;
}
/*页面主体*/
#pagebody {
	width:950px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
#body_site {
	width:950px;
	clear:both;
	text-align:left;
	padding-left:20px;
}
#left_bar {
	overflow:hidden;
	width:200px;
	float:left;
	margin: 14px auto;
	clear:both;
}
.left_title {
	color:#FFF;
	background:url(../images/section_header.jpg) repeat-x scroll;
	text-align:left;
	padding-left:20px;
}
.class_list {
	padding-left:0px;
	text-align:left;
}
.class_list li {
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
}
.iopsubheadinguderline {
	font-size: 16px;
	font-weight: bold;
	color: #cb0447;
	padding-left: 10px;
	border-bottom:1px solid #cb0447;
	border-right:1px solid #cb0447;
	line-height: 20px;
	text-align:left;
}
#mainbody {
	width:750px;
	float:left;
}
#pro_cont {
	width:680px;
	float:left;
}
 h1 {
	margin:20px 0 10px 40px;
	border-bottom:1px #A00 solid;
	color:#A00;
	text-align:left;
}
.pro_cont_l {
	float:left;
	width:680px;
	margin-left:40px;
}
.pro_cont_l #pro_img {
	width:300px;
	height:155px;
	overflow:hidden;
	float:left;
}
.pro_cont_l dl {
	width:340px;
	height:155px;
	margin:0;
	line-height:22px;
	padding:5px;
	border:1px #A00 dashed;
	float:left;
	overflow:hidden;
}
.pro_cont_l dt {
	width:100px;
	height:22px;
	float:left;
	margin:0;
}
.pro_cont_l dd {
	width:230px;
	height:22px;
	float:right;
	margin:0;
	white-space:nowrap;
	overflow:hidden;
}
#pro_info {
	width:640px;
	float:left;
	margin-left:40px;
}
#pro_info h2 {
	font-size:14px;
	color:#A00;
	margin:15px 0 0 0;
	text-align:left;
}
#pro_info pre {
	font:14px/24px normal;
	padding:10px;
	margin:5px 0;
	border:1px #eee solid;
	color:#333;
	background:#fbfaf9;
	text-align:left;
	
}
#new_pro {
	margin-left:30px;
}
#mainbody th {
	height:50px;
	font-size:18px;
	border-bottom:#CB0447 solid 1px;
	clear:both;
	color:#CB0447;
	text-align:left;
	padding-left:30px;
}

.info_list	{
	text-align:left;
}

.info_list li	{
	margin-top:10px;
}

.info_list li span	{
	float:right;
	width:100px;
	overflow:hidden;
}

#show_pro {
	margin-left:30px;
	margin-top:40px;
}
.iopsectiontitle {
	float: left;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	line-height: 19px;
	position: absolute;
	width: 325px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	z-index:3;
}

.iopsectiontitle a:link {

	font-size:16px;
	color: #FFF;
	font-weight: bold;

}
.iopsectiontitle a:visited {
	font-size:16px;
	color: #FFF;
	font-weight: bold;

}
.iopsectiontitle a:hover {
	font-size:16px;
	color: #FFF;
	font-weight: bold;
}
.iopsectiontitle a:active {
	color: #FFF;
	font-size:16px;
	font-weight: bold;
}

.iopsectiontitlebackground {
	position: absolute;
	width: 325px;
	height: 20px;
	margin-top: 10px;
	z-index:2;
}
.imgsectionFloatLeft {
	float: left;
	position: absolute;
	margin-left: 10px;
	margin-right: 10px;
}
.iopSectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-left: 120px;
	margin-top: 5px;
	width: 205px;
	color: #000000;
	float: inherit;
}
/*页面底部*/
#footer {
	width:950px;
	margin:50px auto;
	clear:both;
}
