{sta:plugin_hook('user_menu_buttun','user_right');/}
<div class="apart">
	<div class="topbar">
	  <p class="left"><a href="search.php">{echo: lp{m_buy};/}</a><a href="modules.php?app=goods_add">{echo: lp{m_sell};/}</a><a href="" style="background:none">{echo:lp{m_free_shop};/}</a></p>
      <p class="right"><a href="article_list.php?id=2" >{echo:lp{m_shop_help};/}</a><a href="index.php" >{echo:lp{m_back_index};/}</a></p>
    </div>
    <div class="head">
    	<h1>
    		<a href="index.php">
	    		{sta: if($SYSINFO['sys_logo'])[exc]}
					<img src="{echo: $SYSINFO['sys_logo'];/}"/>
				{sta:} else [exc]}
					<img src="skin/{echo: $SYSINFO['templates'];/}/images/malllogo.gif" />
				{end:if/}
			</a>

    	</h1>
        <div class="menu"><div class="bg_right"></div><div class="bg_left"></div>
        	<p>
        		<a href="modules.php?app=user_cart">{echo: lp{m_cart};/}</a>
        		<a href="modules.php?app=user_favorite">{echo: lp{m_favorite};/}</a>
        		<a href="do.php?act=logout">{echo:lp{m_logout};/}</a><a href="" class="more">{echo:lp{m_more};/}</a>
        	</p>
        </div>
		</div>
    <div class="head_line"></div>
</div>