<div class="sidebar">
	<div class="title_uc"><h3 class="t1">{echo: lp{m_buyer};/}</h3></div>
    <ul class="item_uc">
    	<li><a href="modules.php?app=user_cart">{echo: lp{m_my_cart};/}</a></li>
    	<li><a href="modules.php?app=user_my_order">{echo: lp{m_my_order};/}</a></li>
    	<li><a href="modules.php?app=user_group">{echo: lp{m_my_groupbuy};/}</a></li>
    	<li><a href="modules.php?app=user_favorite">{echo: lp{m_my_favorite};/}</a></li>
    	<li><a href="modules.php?app=user_guestbook">{echo: lp{m_my_guestbook};/}</a></li>
    	<li><a href="modules.php?app=user_address">{echo:lp{m_getgoods_address};/}</a></li>
    </ul>
	<div class="title_uc"><h3 class="t2">{echo: lp{m_seller};/}</h3></div>
    <ul class="item_uc">
    	{sta:if(isset($user_privilege[1]) && $user_privilege[1] && get_sess_shop_id()>0)[exc]}
		{sta:if($_SESSION['shop_lock']==0) [exc]}
			<li>
			<a href="modules.php?app=shop_info">{echo: lp{m_shop_info};/}</a>
			<span class="fr">
				<span id="shop_flg">
				{sta:if($_SESSION['shop_open']==1)[exc]}
				<a href="javascript:void(0)" onclick="change_open_status('0')" style="color:red;">{echo: lp{m_open};/}</a>
				{sta: } else [exc]}
				<a href="javascript:void(0)" onclick="change_open_status('1')" style="color:red;">{echo: lp{m_close};/}</a>
				{end:if/}
				&nbsp;&nbsp;
				</span>
			<a href="{echo:shop_url($shop_id);/}" style="color:red;" target="_blank">{echo: lp{m_shop_view};/}</a>&nbsp;&nbsp;
			</span>
			</li>
			<!-- <li><a href="modules.php?app=shop_honor">{echo: lp{m_shop_honor};/}</a></li> -->
			<li><a href="modules.php?app=shop_category">{echo: lp{m_shop_category};/}</a></li>
			<li><a href="modules.php?app=goods_list">{echo: lp{m_goods_list};/}</a></li>
			<li><a href="modules.php?app=goods_add">{echo: lp{m_add_newgoods};/}</a></li>
			<li><a href="modules.php?app=groupbuy_list">{echo: lp{m_groupbuy_list};/}</a></li>
			<li><a href="modules.php?app=groupbuy_add">{echo: lp{m_add_groupbuy};/}</a></li>
			<li><a href="modules.php?app=csv_export">{echo: lp{m_csv_export};/}</a></li>
			<li><a href="modules.php?app=csv_import">{echo: lp{m_csv_import};/}</a></li>
			<li><a href="modules.php?app=shop_my_order">{echo: lp{m_rc_order};/}({echo: $get_order_num;/}){sta:if($get_order_num>0)[exc]}<img src="skin/{echo:$SYSINFO['templates'];/}/images/woo.gif" width="21" height="12" />{end:if/}</a></li>
			<li><a href="modules.php?app=shop_guestbook">{echo: lp{m_rc_guestbook};/}({echo: $shop_guestbook_num;/}){sta:if($shop_guestbook_num>0)[exc]}<img src="skin/{echo:$SYSINFO['templates'];/}/images/woo.gif" width="21" height="12" />{end:if/}</a></li>
			<li><a href="modules.php?app=shop_askprice">{echo: lp{m_rc_askprice};/}({echo:$shop_inquiry_num;/}){sta:if($shop_inquiry_num>0)[exc]}<img src="skin/{echo:$SYSINFO['templates'];/}/images/woo.gif" width="21" height="12" />{end:if/}</a></li>
			<li><a href="modules.php?app=shop_notice">{echo: lp{m_shop_notice};/}</a></li>
			<!-- <li><a href="modules.php?app=shop_news">{echo: lp{m_shopnews_manage};/}</a></li> -->
			<!-- <li><a href="modules.php?app=shop_news_add">{echo: lp{m_add_shopnews};/}</a></li> -->
			<li><a href="modules.php?app=shop_payment">{echo: lp{m_payment_setting};/}</a></li>
		{sta: } else [exc]}
		<li><font color="black">{echo: lp{m_shop_lock};/}</font></li>
		{end:if/}
		{sta: } else [exc]}
			<li><a href='modules.php?app=shop_create' style="color:red;">{sta:if($user_rank<2)[exc]}{echo: lp{m_createshop_vip};/}{end:if/}
			{echo: lp{m_create_shop};/}</a></li>
			{sta:if($user_rank<2)[exc]}
			<li><a href="modules.php?app=shop_request" style="color:#1E88C0">{echo:lp{m_reg_com_user};/}</a></li>
			{end:if/}
		{end:if/}
    </ul>
	<div class="title_uc"><h3 class="t4">{echo: lp{m_shoprate_manage};/}</h3></div>
	<ul class="item_uc">
		<li><a href="modules.php?app=shop_rate&t=buyer">{echo: lp{m_shoprate_frombuyer};/}</a></li>
		<li><a href="modules.php?app=shop_rate&t=seller">{echo: lp{m_shoprate_fromseller};/}</a></li>
		<li><a href="modules.php?app=shop_rate&t=bymain">{echo: lp{m_shoprate_topep};/}</a></li>
    </ul>
	<div class="title_uc"><h3 class="t3">{echo: lp{m_base_setting};/}</h3></div>
    <ul class="item_uc">
		<li><a href="modules.php?app=user_profile">{echo: lp{m_profile};/}</a></li>
		<li><a href="modules.php?app=user_remind">{echo: lp{m_remind_setting};/}</a></li>
		<li><a href="modules.php?app=user_remind_info">{echo: lp{m_my_remind};/}</a></li>
		{sta:if($im_enable)[exc]}
		<li><a href="modules.php?app=user_ico">{echo: lp{m_userico_setting};/}</a></li>
		{end:if/}
		<li><a href="modules.php?app=user_passwd">{echo: lp{m_edit_password};/}</a></li>
		<li><a href="do.php?act=logout">{echo: lp{m_logout};/}</a></li>
    </ul>
	<!-- plugins !-->
	<div id="user_menu_buttun">
		{echo:isset($plugins['user_menu_buttun'])?show_plugins($plugins['user_menu_buttun']):'';/}
	</div>
	<!-- plugins !-->

</div>
<script language="JavaScript" src="servtools/ajax_client/ajax.js"></script>
<script language="JavaScript">
<!--
function change_open_status(flg) {
	if(flg==1){
		var open=confirm('{echo: lp{m_open_message};/}');

		if (open){
			ajax("do.php?act=shop_open_flg","POST","value="+flg,function(return_text){
				return_text = return_text.replace(/[\n\r]/g,"");
				document.getElementById("shop_flg").innerHTML = return_text;
			});
		}
	}else {
		ajax("do.php?act=shop_open_flg","POST","value="+flg,function(return_text){
			return_text = return_text.replace(/[\n\r]/g,"");
			document.getElementById("shop_flg").innerHTML = return_text;
		});
	}
}
//-->
</script>