<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{echo: lp{m_u_center};/}</title>
<link rel="stylesheet" type="text/css" href="skin/{echo: $SYSINFO['templates'];/}/css/modules.css">
<link rel="stylesheet" type="text/css" href="skin/{echo: $SYSINFO['templates'];/}/css/layout.css">
<style type="text/css">
.message {font-size:14px; line-height:100px; width:580px; float:left; font-weight:bold;}
</style>
</head>
<body>
<div class="container">
	{inc: require("modules/header.php");/}
    <div class="clear"></div>
    <div class="apart">
    	{inc: require("modules/left_menu.php");/}
		 <div class="bigpart">
			<div class="title_uc"><h3>{echo: lp{m_error_messageshow};/}</h3></div>
			<div style="padding:20px;">
				<div style="float:left; width:100px; height:100px;"><img src="skin/default/images/error.png" width="100" height="100" /></div>
				<div class="message">&nbsp;&nbsp;{echo: get_sess_err_msg();/}</div>
				<div class="clear"></div>
			</div>
        </div>
    </div>
    <div class="clear"></div>
    {inc: require("modules/footer.php");/}
</body>
</html>